<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
<rewrite>
  <rules>
    <rule name="Imported Rule 1">
      <match url="^([a-zA-Z0-9\-]*)/([a-zA-Z0-9\-]*)/list.html$" ignoreCase="false" />
      <conditions>
        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
      </conditions>
      <action type="Rewrite" url="list_v2.php?_mid={R:1}&amp;_sid={R:2}&amp;{QUERY_STRING}" appendQueryString="false" />
    </rule>
    <!--#RewriteRule ^([a-zA-Z0-9\-]*)/([a-zA-Z0-9\-]*)/([a-zA-Z0-9\-]*)\.html$ list.php?id1=$1&id2=$2&id3=$3-->
    <rule name="Imported Rule 2">
      <match url="^([a-zA-Z0-9\-]*)/([a-zA-Z0-9\-]*)/pageList.html$" ignoreCase="false" />
      <action type="Rewrite" url="pageList.php?_mid={R:1}&amp;_sid={R:2}" appendQueryString="false" />
    </rule>
    <rule name="Imported Rule 3">
      <match url="^([a-zA-Z0-9\-]*)/([a-zA-Z0-9\-]*)/edit.html$" ignoreCase="false" />
      <action type="Rewrite" url="edit.php?_mid={R:1}&amp;_sid={R:2}&amp;{QUERY_STRING}" appendQueryString="false" />
    </rule>
    <rule name="Imported Rule 4">
      <match url="^([a-zA-Z0-9\-]*)/([a-zA-Z0-9\-]*)/delete.html$" ignoreCase="false" />
      <action type="Rewrite" url="delete.php?_mid={R:1}&amp;_sid={R:2}&amp;{QUERY_STRING}" appendQueryString="false" />
    </rule>
    <rule name="Imported Rule 5">
      <match url="query.html$" ignoreCase="false" />
      <action type="Rewrite" url="query.php" />
    </rule>
    <rule name="Imported Rule 6">
      <match url="parentMenu.html" ignoreCase="false" />
      <action type="Rewrite" url="parentMenu.php" />
    </rule>
    <rule name="Imported Rule 7">
      <match url="subMenu.html" ignoreCase="false" />
      <action type="Rewrite" url="subMenu.php" />
    </rule>
  </rules>
</rewrite>

</system.webServer>
</configuration>
