<html>
<head>
<title>edit</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/little2.css"  />
</head>

<body>
<div  id="container_{elementID}"  data-from="{From_elementID}" >
	<div class="labMenu">
		<!-- #####頁面標題/需客制化修改 ##############################################-->
		<div class="lable "  dis="dis_evaluationscale_detail" style="background-color: yellow;">{$lang.Information}</div>
		<div class="lable "  dis="dis_evaluationscale_detail_item" >選項</div>
		
		<!-- #####頁面標題/需客制化修改 ##############################################-->
	</div>
	
	<!-- #####頁面欄位/需客制化修改 ##############################################-->
	
	<div id="dis_evaluationscale_detail" class="labDiv" style="display: block;">
		<div class="uc1" style="width:90%;margin-left: 20px; ">				
			<form method="post" id="formPost">
			<div>
				<input type="text" id="evaluation_scale_id" name="evaluation_scale_id" value="{evaluation_scale_id}" />
			</div>			
			<table class="tableStyle1"  >
				  <tr>
						<td class="label">量表屬性：</td>
						<td></td>
					</tr>
					<tr>
						<td  class="right">預設基準值：</td>
						<td><input type="text" name="evaluation_scale_basis" class="contxt" value="{evaluation_scale_basis}" /></td>
					</tr>
					{field_evaluation_scale_title}
					
				</table>
						
							
		</form>	
		</div>
		<div class="uc2"  style=“width:70%;”>
			
		</div>
		
	</div>
	
	<div id="dis_evaluationscale_detail_item" class="labDiv"   >
		<table class="tableStyle1" ><tr><td>{container_evaluationscaleitem_list}</td></tr></table>		
	</div>
	<!-- #####頁面欄位/需客制化修改 ##############################################-->
	
</div>	

<script type="text/javascript">
	$(function() {				
		init_tab('container_{elementID}');		
		
		//##### 需客制化修改 ##############################################
		$('#dis_evaluationscale_detail').dashpanel({		
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			save_url:'/hrd/function/saveOrUpdate/save_evaluationscale_detail.php'			
		});	
		//##### 需客制化修改 ##############################################
	}); 
</script>


</body>
</html>