<html>
<head>
<title>edit</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/little2.css"  />
</head>

<body>
<div  id="container_{elementID}"  data-from="{From_elementID}" >
	<div class="labMenu">
		<!-- #####頁面標題/需客制化修改 ##############################################-->
		<div class="lable "  dis="dis__item_detail" style="background-color: yellow;">{$lang.Information}</div>
	
		
		<!-- #####頁面標題/需客制化修改 ##############################################-->
	</div>
	
	<!-- #####頁面欄位/需客制化修改 ##############################################-->
	
	<div id="dis__item_detail" class="labDiv" style="display: block;">
		<div class="uc1" style="width:100%;margin-left: 20px; ">				
			<form method="post" id="formPost" action="">
			<div class="hide">
				<input type="text" id="evaluation_scale_id" name="evaluation_scale_id" value="{evaluation_scale_id}">
				<input type="text" id="evaluation_scale_item_id" name="evaluation_scale_item_id" value="{evaluation_scale_item_id}">
			
			</div>
						
			<table class="tableStyle1"  >
					

					<tr>
						<td  class="label">{$lang.Grade}：</td>
						<td>
						<input type="text" name="evaluation_scale_item_grade" id="evaluation_scale_item_grade"  value="{evaluation_scale_item_grade}" />	
						</td>
					</tr>
					
					<tr>
						<td  class="label">{$lang.HideSelfEvaluate}：</td>
						<td>
							<input type="radio" name="evaluation_scale_item_self" id="evaluation_scale_item_self"  value="T"  {etis_checked_T} />是
							<input type="radio" name="evaluation_scale_item_self" id="evaluation_scale_item_self"  value="F"  {etis_checked_F}/>否
						</td>
					</tr>
					
					{field_item_title}
					{field_item_desc}	
				</table>
						
							
		</form>	
		</div>
		<div class="uc2"  style=“width:70%;”>
			
		</div>
		
	</div>
	

	<!-- #####頁面欄位/需客制化修改 ##############################################-->
	
</div>	

<script type="text/javascript">
	$(function() {				
		init_tab('container_{elementID}');		
		
		//##### 需客制化修改 ##############################################
		$('#dis__item_detail').dashpanel({	
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			save_url:'/hrd/function/saveOrUpdate/save_evaluation_scale_item.php'			
		});	
		//##### 需客制化修改 ##############################################
	}); 
</script>


</body>
</html>