<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
</head>
<link rel="stylesheet" type="text/css" href="/hrd/Framework/little2.css"  />
<style>
.hide {display:none;}
</style>


<body>



<div  id="container_{elementID}"  data-from="{From_elementID}" >
<div id="dis_import_xls" class="labDiv" style="display: block;left:0;	margin-left: 20px;
	margin-top: 20px;">
		<div class="uc1">
			<form method="post" id="formPost" action="">
				<input type="hidden" id="import_type" name="import_type" value="{import_type}" >
				
				<div id="take_upload_zone" name="take_upload_zone" >						
									<p><strong>請選取上傳的檔案</strong></p>
									<div>										
											<div style="clear:both;height:5px">&nbsp</div>								
											<div class="span5" >
												
									    		<input id="fileupload" type="file" name="files[]"  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet ">									    		
											</div>
											<div style="clear:both;height:5px">&nbsp</div>
										
											<div id="componennt_id"  class="progress-bar span5" data-role="progress-bar" style="left:-20px"></div>										 
									</div>	
							</div>
							
							<div style="clear:both"></div>
														
							<div id="check_file_zone" name="check_file_zone" class="hide">	
								<p><strong>上傳結果</strong></p>
									<div>		
											<a href=''  target='_blank'></a>
											<input id="filename" name="filename" type="text" />
											<br><br>
											<button type="button"  onClick="bt_confirm_import()">確認匯入</button>											
									</div>	
							</div>								
							<div style="clear:both"></div>		
							
							<div id="import_result_zone" class="tableStyle2 hide" >
								<table id="import_result">
									<tr >
										<td id="sheet_title">活頁表</td>
										<td id="rown_umber">行數</td>
										<td id="result">執行結果</td>
									</tr>						
								</table>							
							</div>
			</form>
		</div>
		<div class="uc2">
			<input type="hidden"  class="labButton" name="bt_save" id="bt_save"  />
			
		</div>
	</div>






							
</div>

</body>

<script>
$(function() {				
	
	//##### 需客制化修改 ##############################################
	var url =  'upload/';
	$('#fileupload').fileupload({
	    url: url+'?d_upload_dir=import',
	    dataType: 'json',        
	    done: function (e, data) {       	    	
	        $.each(data.result.files, function (index, file) {	
	            $('#take_upload_zone').addClass('hide');           
	            $('#check_file_zone').removeClass('hide');
	            $('#filename').val(file.name);
	            $('#check_file_zone div').children('a').attr('href',file.url+'?'+Date.now()).text(file.url);
	        });
	        
			$('#check_file_zone').removeClass('hide');
			$('#take_upload_zone').addClass('hide');
			$('#import_result_zone').addClass('hide');
	        
	    },
	    progressall: function (e, data) {
		}
	}).prop('disabled', !$.support.fileInput)
	    .parent().addClass($.support.fileInput ? undefined : 'disabled');	
	$('#dis_import_xls').dashpanel({
		dialog_title:"{DialogTitle}",
		element_id:'{elementID}'		
	});		

	//##### 需客制化修改 ##############################################
}); 


function bt_confirm_import ()
{
	var filename=$('#filename').val();
	var import_type=$('#import_type').val();
	$.ajax({
		type : 'POST', //GET or POST
		url : 'function/import/import_xls.php', 						//請求的頁面
		cache : false,									//防止抓到快取的回應
		data : {filename:filename,import_type:import_type}, //要傳送到頁面的參數
		success :  function(data) {
			if(data.errmsg)
				{
				alert(data.errmsg);
				}
			else
				{
				//$.unblockUI();
				$('#check_file_zone').addClass('hide');
				$('#take_upload_zone').addClass('hide');
				$('#import_result_zone').removeClass('hide');
				var processResult=data.processResult;
				//console.log(data)
				//console.log(processResult)
				for(var key in processResult){ 
					//console.log(processResult[key])
					create_result_row(processResult[key])				
				}	
				
			
				}
			}, 			
		error : function(data) {
			//$.unblockUI();
			alert("Error");
		}, //當請求失敗後此事件會被呼叫
		statusCode : { //狀態碼處理
			404 : function() {
				//$.unblockUI();
				alert ("page not found");        				
			}
		}
	});	 
	

	
}

function  create_result_row(result_row)
{	
	var container=$('div.tableStyle2');			
	var newtile=$('tr:first-child',container).clone().removeClass('hide');		

	newtile.find("td[id='sheet_title']").text(result_row.sheet_title);
	newtile.find("td[id='rown_umber']").text(result_row.rown_umber);
	newtile.find("td[id='result']").text(result_row.result);

	$('table',container).append(newtile);
}

</script>

</html>
