<html>
<head>
<title>edit</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/little2.css"  />
</head>

<body>
<div  id="container_{elementID}"  data-from="{From_elementID}" >
	<div class="labMenu">
		<!-- #####頁面標題/需客制化修改 ##############################################-->
		<div class="lable" dis="dis_member_info" style="background-color: yellow;">{$lang.Information}</div>
	
		
		<!-- #####頁面標題/需客制化修改 ##############################################-->
	</div>
	
	<!-- #####頁面欄位/需客制化修改 ##############################################-->	
	<div id="dis_member_info" class="labDiv" style="display: block;">
		<div class="uc1">
			<form method="post" id="formPost" >
				<div class="hide">
					<input type="text" name="group_id"  id="group_id"  value="{group_id}" />
					<input type="text" name="group_type"  id="group_type"  value="{group_type}" />
					<input type="text" name="group_member_id"  id="{group_member_id}"  value="{group_member_id}" />
				</div>
			
				<table class="tableStyle1"  >

					<tr>
						<td class="item">{$lang.DepartmentTitle}：</td>
						<td>{group_title}</td>
					</tr>

					<tr>
						<td class="item">{$lang.Role}：</td>
						<td>
							<select id="role" name="role">
								<option value="mem"  {role_selected_mem}>{$lang.Member}</option>
								<option value="man"  {role_selected_man}>{$lang.Manager}</option>
								<option value="vic"  {role_selected_vic}>{$lang.ViceManager}</option>								
							</select>							
						</td>
					</tr>
					
					<tr class="{display_pick}">
						<td class="item">{$lang.Keyword}：</td>
						<td>
							<input type="text" name="keyword"  value="" />
							<input class="labButton {display_pick}" name="bt_inner_search" id="bt_inner_search" type="button"  value="搜尋"   />
						</td>
					</tr>
				</table>
				<table class="tableStyle1"  style="width:90%"><tr><td>{container_pick_user}</td></tr></table>		
			</form>
		</div>
		<div class="uc2">
			<input class="labButton {display_pick}" name="bt_pick" id="bt_pick" type="button"  value="{$lang.PickUp}"   />
			<input class="labButton {display_save}"  name="bt_save" id="bt_save" type="button"  value="{$lang.Save}"   />
		</div>

	</div>
	
	
	
	<!-- #####頁面欄位/需客制化修改 ##############################################-->
	
</div>	

<script type="text/javascript">
	$(function() {				
		init_tab('container_{elementID}');		
		
		//##### 需客制化修改 ##############################################
		$('#dis_member_info').dashpanel({
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			pick_url:'/hrd/function/saveOrUpdate/save_member.php',
			save_url:'/hrd/function/saveOrUpdate/save_member.php',
			pick_list_id:'pick_user_list'
		});	
		//##### 需客制化修改 ##############################################
	});
</script>


</body>
</html>