<html>
<head>
<title>edit</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/little2.css"  />
</head>

<body>
	<div id="container_{elementID}" data-from="{From_elementID}">
		<div id="dis_regist_url">
			<div class="uc1">
				<form method="post" id="formPost" action="">
					<div style="border-bottom: 1px #cecece solid; margin-top: 15px; width: 97%; margin-left: 20px;">
						<div style="font-size: 16px; font-weight: bold;">註冊訊息</div>
					</div>				
					
					<div id="uploading_bt" style="margin-left: 25px;">
						<ul>
							<li>公司代碼：{AUTHUSERID}</li>
							<li>授權單位：{AUTHUNITNAME}</li>
							<li>上次更新：{LAST_UPDATE}</li>
						</ul>
						<input type="button" class="hide labButton" id="validate" value="匯出" onClick='backup();' />
					</div>
					<div style="clear: both"></div>
					
					<div style="border-bottom: 1px #cecece solid; margin-top: 15px; width: 97%; margin-left: 20px;">
						<div style="font-size: 16px; font-weight: bold;">圖像</div>
					</div>
					
					<div id="take_upload_login_zone" name="take_upload_login_zone"  style="margin-left: 25px;">						
						<p ><strong>請選取上傳的登入首頁標記</strong></p>
						<div><img id="homegif" src="/hrd/Framework/Themes/images/login/clogo.jpg"></div>
						<div>										
							<div style="clear:both;height:5px">&nbsp</div>								
							<div class="span5" >												
								<input id="fileupload_login" type="file" name="files[]"  accept="image/jpeg">									    		
							</div>
							<div style="clear:both;height:5px">&nbsp</div>										
							
						</div>	
					</div>	
					
					<div id="take_upload_zone" name="take_upload_zone"  style="margin-left: 25px;margin-top: 25px;">						
						<p ><strong>請選取上傳LOGO</strong></p>
						<div><img id="homegif" src="/hrd/Framework/Themes/images/frame/logo.gif"></div>
						<div>										
							<div style="clear:both;height:5px">&nbsp</div>								
							<div class="span5" >												
								<input id="fileupload" type="file" name="files[]"  accept="image/gif">									    		
							</div>
							<div style="clear:both;height:5px">&nbsp</div>										
							
						</div>	
					</div>					
				</form>
			</div>



		</div>

	</div>
</body>

<script type="text/javascript">
	$(function() {
		//Framework/Themes/images/frame/logo.gif
		
		var url =  '../../upload/';
		// url: url+'?d_upload_dir=../Framework/Themes/images/frame&specified_name=logo&file_append=false&create_text=false&thumbnail=false',
		$('#fileupload').fileupload({
			url: url+'?d_upload_dir=../Framework/Themes/images/frame&specified_name=logo&file_append=false&create_text=false&thumbnail=false',
		    dataType: 'json',        
		    done: function (e, data) {
		    	var timeInMs = Date.now();
		    	$('#homegif').attr('src','/hrd/Framework/Themes/images/frame/logo.gif?'+timeInMs);
		    	 
		    }
		}).prop('disabled', !$.support.fileInput)
		    .parent().addClass($.support.fileInput ? undefined : 'disabled');	
	
	
		
		$('#fileupload_login').fileupload({
			url: url+'?d_upload_dir=../Framework/Themes/images/login&specified_name=clogo&file_append=false&create_text=false&thumbnail=false',
		    dataType: 'json',        
		    done: function (e, data) {
		    	var timeInMs = Date.now();
		    	$('#homegif').attr('src','/hrd/Framework/Themes/images/login/clogo.jpg?'+timeInMs);
		    	
		       
		    }
		}).prop('disabled', !$.support.fileInput)
		    .parent().addClass($.support.fileInput ? undefined : 'disabled');	
		
	
		//##### 需客制化修改 ##############################################
		

		
	}); 
	
	
</script>

</html>
