<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

</head>
<body>

<div  id="container_{elementID}"  data-from="{From_elementID}" ></div>
</body>

<script>
init();
function init()
{
	$('#wait_process').removeClass('hide');
	var o = {
			url:'/hrd/function/edit/view_report.php?entity_key={entity_key}&type={type}&format={format}',
			data:{'request':1},
			onSuccess:function(data){
				console.log(data);
				//	$('#wait_process').addClass('hide');		
				}					
	}				
	var msg=mypost(o);				
}
</script>

</html>
