<html>
<head>
<title>edit</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/little2.css"  />

</head>
<style>
.doughnut-legend {
  list-style: none;
  position: static;
  top:108px;
}

.doughnut-legend li {
  display: block;
  padding-left: 30px;
  position: relative;
  margin-bottom: 4px;
  border-radius: 5px;
  padding: 2px 8px 2px 28px;
  font-size: 14px;
  cursor: default;
  -webkit-transition: background-color 200ms ease-in-out;
  -moz-transition: background-color 200ms ease-in-out;
  -o-transition: background-color 200ms ease-in-out;
  transition: background-color 200ms ease-in-out;
}
.doughnut-legend li:hover {
  background-color: #fafafa;
}
.doughnut-legend li span {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  border-radius: 5px;
}
</style>
<body>
<div  id="container_{elementID}"  data-from="{From_elementID}" >



	<div class="labMenu">
		<!-- #####頁面標題/需客制化修改 ##############################################-->
		<div class="lable {display_label_content}"  dis="dis_basis_evalutiontable_content"  style="background-color: yellow;">評鑑表內容</div>
		<div class="lable {display_label_properties}"  dis="dis_basis_evalutiontable_properties" >評鑑表屬性</div>
		<div class="lable {display_label_suggest}"  dis="dis_basis_evalutiontable_suggest" >開放建議</div>
		<div class="lable {display_label_template}"  dis="dis_basis_evalutiontable_template" >通知訊息</div>
		<div class="lable {display_label_summary} hide"  dis="dis_basis_evalutiontable_summary"  >評鑑表總覽</div>		
		<div class="lable {display_label_reportee}"  dis="dis_basis_evalutiontable_reportee" >受評人列表</div>			
		<div class="lable {display_label_progress}"  dis="dis_basis_evalutiontable_progress" >進度管理</div>		
		<!-- #####頁面標題/需客制化修改 ##############################################-->
	</div>
	
	<!-- #####頁面欄位/需客制化修改 ##############################################-->	
	
	<!-- 進度 -->
		<div id="dis_basis_evalutiontable_progress"  class="labDiv"  style="{display_add_evalutiontable_appraisee_style}">
		<div>
			<form method="post" id="myformPost"  name="myformPost">
				<div class="hide">
					<input type="text" id="basis_evaluation_table_id" name="basis_evaluation_table_id" value="{basis_evaluation_table_id}">
					<input type="text" id="basis_evaluation_appraisee_id" name="basis_evaluation_appraisee_id" value="{basis_evaluation_appraisee_id}">				
				</div>	
				
				<table id="appraisee_area" class="contb "   style="width:97%;margin-left: 25px;margin-top: 25px;padding:10px">
					<tr align="left" >						
						<th width="12%" >						
							<img src='templates/bhrsp/images/arrow_small.png'>
							全部份數:
						</th>
						<td  width="13%">
							{TotalCount}
						</td>		
						<th width="10%" style="color:green">						
							<img src='templates/bhrsp/images/arrow_small.png'>
							已完成:
						</th>
						<td  width="14%" style="color:green">
							{ValueFinish}
						</td>
						<th width="10%" style="color:orange">						
							<img src='templates/bhrsp/images/arrow_small.png'>
							評鑑中:
						</th>
						<td  width="14%" style="color:orange">
							{ValueProcess}
						</td>
						<th width="10%" style="color:red">						
							<img src='templates/bhrsp/images/arrow_small.png'>
							未開始:
						</th>
						<td  width="14%" style="color:red">
							{ValueWait}
						</td>																								
					</tr>
					
				</table>
				
				
				
				<table class="tableStyle1"  >
					
					<tr>
						<td  ><img src='templates/bhrsp/images/arrow_small.png'>{$lang.EvaluationProgress}：</td>
						<td align="left">
							<select id="evaluation_progress" name="evaluation_progress">
								<option value='1'>不限制</option>
								<option value='2'>未開始</option>
								<option value='3'>未完成</option>
								<option value='4'>已完成</option>
							</select>	
						</td>
						
						<td style="width:20%" align="right"><img src='templates/bhrsp/images/arrow_small.png'>{$lang.Appraisee}{$lang.Keyword}：</td>
						<td>
							<input type="text"  id="appraisee_keyword"  value="">
						</td>

						<td style="width:20%" align="right" ><img src='templates/bhrsp/images/arrow_small.png'>{$lang.Evaluator}{$lang.Keyword}：</td>
						<td>
							<input type="text" value=""  id="evaluator_keyword" >
						</td>
												
					</tr>
					<tr>
							<td colspan="6"  align="right"><input class="labButton" type="button"  value="搜尋" onClick='pick_evaluator(this)'   /></td>
					
					</tr>
				</table>
				<table class="tableStyle1"  style="width:90%"><tr><td>{container_pick_evaluator}</td></tr></table>		
			</form>
		</div>


	</div>
	
		<!-- 屬性 -->
		<div id="dis_basis_evalutiontable_properties" class="labDiv" >
		<form method="post" id="formPost" >
		<div class="hide">
			<input type="text" id="basis_evaluation_table_id" name="basis_evaluation_table_id"  value="{basis_evaluation_table_id}">
			<input type="text" id="competency_model_id" name="competency_model_id"  value="{competency_model_id}">
			<input type="text" id="evaluation_scale_id" name="evaluation_scale_id"  value="{evaluation_scale_id}">
			<input type="text" id="basis_evaluation_table_status" name="basis_evaluation_table_status"  value="{basis_evaluation_table_status}"/>			
		</div>
		
		<div class="uc1" style="width:90%;margin-left: 20px; ">		
									
			<table class="tableStyle1" >
					<tr>
						<td class="label">{$lang.CompetencyModel}： </td>
						<td>
							<select id="competency_model_id" name="competency_model_id" {edit_disabled}>
								<option ></option>	
								<!-- BEGIN CM_LIST -->								
								<option value="{CM_LIST.competency_model_id}"  {CM_LIST.selected}>{CM_LIST.competency_model_title}</option>	
								<!-- END CM_LIST -->							
							</select>
						</td>
					</tr>					
					<tr>
						<td class="label">{$lang.EvaluationScale}： </td>
						<td>
							<select id="evaluation_scale_id" name="evaluation_scale_id" {edit_disabled}>
								<option ></option>	
								<!-- BEGIN ES_LIST -->								
								<option value="{ES_LIST.evaluation_scale_id}"  {ES_LIST.selected}>{ES_LIST.evaluation_scale_title}</option>	
								<!-- END ES_LIST -->							
							</select>
						</td>
					</tr>
					<tr>
						<td class="label"><b>完成期限： </b></td>
						<td><input name="due_date"  type="text" value="{due_date}" class="date" ></td>
					</tr>	
					
					
				</table>
		
							
		</div>
		<div class="uc2"  style=“width:70%;”>
			
		</div>
		</form>
	</div>
	
	<!-- 內容dis_basis_evalutiontable_content  -->

	<div id="dis_basis_evalutiontable_content" class="labDiv" >		
		<form method="post" id="formPost" >
		<div class="hide">
			<input type="text" id="basis_evaluation_table_id" name="basis_evaluation_table_id"  value="{basis_evaluation_table_id}">
			<input type="text" id="competency_model_id" name="competency_model_id"  value="{competency_model_id}">
			<input type="text" id="evaluation_scale_id" name="evaluation_scale_id"  value="{evaluation_scale_id}">
			<input type="text" id="basis_evaluation_table_status" name="basis_evaluation_table_status"  value="{basis_evaluation_table_status}"/>						
		</div>
		
		
		<div class="uc1" style="margin-left: 20px; ">
			<table class="tableStyle1" >
					<tr>
						<td class="label"><b>評鑑表代碼： </b></td>
						<td><input name="basis_evaluation_table_code" class="basis_evaluation_table_code" type="text" value="{basis_evaluation_table_code}"></td>
					</tr>
					{field_evaluation_table_title}
					{field_evaluation_desc}		
					{field_evaluation_table_desc}	
					<tr>
						<td class="label"><b>顯示職能： </b></td>
						<td>
							<input type="radio"  name="is_show_competency"  value="T"  {show_competency_checked_T}>是
							<input type="radio"  name="is_show_competency"  value="F"  {show_competency_checked_F}>否
						</td>
					</tr>					
					
											<tr class='{display_preview}'>
						<td>
						<input class="labButton" type="button"  value="預覽評鑑表"   onClick="evaluation_table_preview()"/>
						</td>
					</tr>		
										
				</table>	
		</div>
		<div class="uc2"  >
			<input class="labButton {edit_hide}" name="bt_save" id="bt_save" type="button"  value="保存"   />
		</div>
		</form>
	</div>
	
	<!-- 評鑑表總覽 -->
	<div id="dis_basis_evalutiontable_summary" class="labDiv"  style="display: block;">
		<form method="post" id="formPost" >
		<div style="margin:50px;" >
			<div id="canvas-holder" >
				<canvas id="chart-area" width="400" height="400" style="float:left"> </canvas>
				<div id="legendPlace" style="margin:30px;float:left" ></div>
			</div>
		</div>
		
			<div style="clear:both"></div>
			</form>
	</div>	
	
	

	
	<div id="dis_basis_evalutiontable_suggest"   class="labDiv"   >
		<table class="tableStyle1" ><tr><td>{container_basis-evalution-table_open-comment}</td></tr></table>		
	</div>
	
	<!-- 訊息通知模板 -->
	<div id="dis_basis_evalutiontable_template" class="labDiv" >
		<form method="post" id="formPost" >
		<div class="uc1" style="width:90%;margin-left: 20px; ">		
									
			<table class="tableStyle1" >
					<tr>
						<td class="label">邀請函：</td>
						<td>							
							<select id="TPL_INVITE" name="TPL_INVITE">
								<option></option>
								<!-- BEGIN TPL_INVITE -->
								<option value="{TPL_INVITE.tpl_id}"  {TPL_INVITE.sel_INVITE}>{TPL_INVITE.tpl_title}</option>
								<!-- END TPL_INVITE -->
							</select>							
						</td>
					</tr>
					<tr>
						<td class="label">催收函：</td>
						<td>
						
							<select id="TPL_PUSH"  name="TPL_PUSH">
								<option></option>
								<!-- BEGIN TPL_PUSH -->
								<option value="{TPL_PUSH.tpl_id}" {TPL_PUSH.sel_PUSH}>{TPL_PUSH.tpl_title}</option>
								<!-- END TPL_PUSH -->
							</select>
							
						</td>
					</tr>
					<tr>
						<td class="label">感謝函：</td>
						<td>
						
							<select id="TPL_THANKS" name="TPL_THANKS">
								<option></option>
								<!-- BEGIN TPL_THANKS -->
								<option value="{TPL_THANKS.tpl_id}"  {TPL_THANKS.sel_THANKS}>{TPL_THANKS.tpl_title}</option>
								<!-- END TPL_THANKS -->
							</select>
							
						</td>
					</tr>					
				</table>	
		</div>
		<div class="uc2"  style=“width:70%;”></div>
		</form>
	</div>	

	<div id="dis_basis_evalutiontable_reportee"   class="labDiv"   >
		<table class="tableStyle1" ><tr><td >{container_basisevalutiontable_appraisee}</td></tr></table>		
	</div>
	<!-- #####頁面欄位/需客制化修改 ##############################################-->
	</form>
</div>	

<script src="../common/plugins/chart/Chart.js"></script>

<script type="text/javascript">
	
	$(function() {			
		$("input[name='due_date']").datepicker({
			dateFormat : 'yy-mm-dd'
		});		
		
		//##### 需客制化修改 ##############################################
		$('#dis_basis_evalutiontable_properties').dashpanel({	
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			save_url:'/hrd/function/saveOrUpdate/save_b_evaluation_table.php'			
		});	
		
		$('#dis_basis_evalutiontable_content').dashpanel({
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			close_after_save:false,
			save_url:'/hrd/function/saveOrUpdate/save_b_evaluation_table.php'			
		});	
		
		$('#dis_basis_evalutiontable_template').dashpanel({
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			save_url:'/hrd/function/saveOrUpdate/save_tpl_setting.php'			
		});	
		
		init_tab('container_{elementID}');		
		
		//##### 需客制化修改 ##############################################
		
		

		var pieData = [
						{
							value: ({ValueProcess}+0),
							color:"#FDB45C",
							highlight: "#FFC870",
							label: "{TitleProcess}"
						},
						{
							value: ({ValueWait}+0),
							color: "#4D5360",
							highlight: "#616774",
							label: "{TitleWait}"
						},
						{
							value: ({ValueFinish}+0),
							color: "#46BFBD",
							highlight: "#5AD3D1",
							label: "{TitleFinish}"
						}		
					];
				var ctx = document.getElementById("chart-area").getContext("2d");
				
				
				modulePie = new Chart(ctx).Doughnut(pieData,
				{
					segmentShowStroke : true, 
					pointLabelFontSize : 12,
					 animateScale: false,
					 animation: true,	
				});				
				var canvas=document.getElementById("chart-area");
			
				$('#legendPlace').html(modulePie.generateLegend());
				$('#dis_basis_evalutiontable_summary').css('display','none');
				$('#dis_basis_evalutiontable_content').css('display','block');
				$('.doughnut-legend').append('<li><span style="background-color:#FF5A5E"></span>全部份數：{TotalCount}份</li>');
	//		
	}); 
	
	function show_status_message(status)
	{
		alert(status);
	}
	
	function evaluation_table_preview()
	{
		 var competency_model_id=$('#competency_model_id').val();
		 var evaluation_scale_id=$('#evaluation_scale_id').val();
		
		 var setting = new Object();		   
		
		 setting.title ='評鑑表';

		 //setting.body ='/hrd/competencyevaluation/basis/edit.html?type=&method=&entity.key=2&gridId=competencyevaluation_basis_list';
		 setting.body ='/hrd/competencyevaluation/basis/edit.html';
		 setting.data={competency_model_id:competency_model_id,evaluation_scale_id:evaluation_scale_id}
//		console.log(setting);
		jzsoft.grid.openDialog(setting)
	}	
	
	function pick_evaluator(obj){
		var formContainer=$('#dis_basis_evalutiontable_progress');    
	
		var evaluation_progress=$('#evaluation_progress').val();
		var appraisee_keyword=$('#appraisee_keyword').val();
		var evaluator_keyword=$('#evaluator_keyword').val();
		

		$("#pick_evaluator_list").jqGrid('setGridParam', {				
					postData : {evaluation_progress:evaluation_progress,appraisee_keyword:appraisee_keyword,evaluator_keyword:evaluator_keyword},
					page : 1,
					rowNum: 120,
				}).trigger("reloadGrid");	
	}
	
	function export_unfinish_list(grid_id)
	{	
		var basis_evaluation_table_id=$('#basis_evaluation_table_id').val();
	    openDialog({title : '匯出未完成名單',body:'/hrd/function/export/export_excel.php?basis_evaluation_table_id='+basis_evaluation_table_id});
	
	}
	
</script>

<script>

			
			
	</script>


</body>
</html>