<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>edit</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/little2.css"  />
<script src="/hrd/Framework/Plugins/orgchart/jquery.orgchart.js" type="text/javascript"></script>
<link rel="stylesheet" href="/hrd/Framework/Plugins/orgchart/jquery.orgchart.css"/>
<script type="text/javascript">
function func_cancel() 
{
//	alert($("#bt_cancel").val());
	closeDialog("g3_dialog");
};				

function func_finish() {
	var url = '/hrd/performance/perfEvaluationStandardC/saveOrUpdate.html';
	var form = $('form').serialize();
	var params = "";
	var temp = form.split('&');
	for ( var i = 0; i < temp.length; i++) {
		var obj = temp[i].split('=');
		if (obj[1].Trim() != '') {
			params += '&entity' + '.' + temp[i];
		}
	}
	params = params.substring(1);
	sendPostJQueryAjax(url, params, function(data) {
		if (data.msg) {
			$().message(data.msg);
		}
		$('input[name="key"]').val(data.entity.key);
		$("#list").jqGrid('setGridParam', {
			url : "/hrd/performance/perfEvaluationStandardContent/pageList.html"
		//postData : {}
		}).trigger("reloadGrid");

	});
}


	$(function() {		
		var container=$('#container_{elementID}');
		$(".lable",container).each(function() {
			$(this).click(function() {
				var divn = $(this).attr("dis");
				$(".lable",container).each(function() {
					$(this).css("background-color", "#F0F0F0");
				});
				$(".labDiv",container).each(function() {
					$(this).hide();
				});
				$(this).css("background-color", "yellow");
				$("#" + divn).show();
			});
		});
	
	});

	
	
	 
</script>
</head>

<body><div  id="container_{elementID}"  data-from="{From_elementID}" >
	<div class="labMenu">
		<div class="lable {display_label_information}"  dis="dis_basis_evalutiontable_reportee_content" style="background-color: yellow;">受評者訊息</div>
		<div class="lable {display_label_ability}"  dis="dis_basis_evalutiontable_evalutor" >評鑑人列表</div>
	</div>
	
	<div id="dis_basis_evalutiontable_reportee_content" class="labDiv" style="display: block;">
		<div class="uc1" style="width:90%;margin-left: 20px; ">		
									
			<table class="tableStyle1" style="width:90%;">
					<tr>
						<td class="label"><b>受評者： </b></td>
						<td>歐小馬</td>
					</tr>								
					
				
					
				</table>	
		</div>
		<div class="uc2"  style=“width:70%;”>
			<input class="labButton" name="bt_finish" id="bt_finish" type="button"  value="保存"  onClick='func_finish();' />
			<input class="labButton" name="bt_cancel"  id="bt_cancel" type="button"  value="關閉" onClick='func_cancel();' />			
		</div>
	</div>
	
	<div id="dis_basis_evalutiontable_evalutor"  style="width:100%" class="labDiv"   >
		<table class="tableStyle1" ><tr><td >{container_basisevaluationtable_evaluator}</td></tr></table>		
	</div>

	
</div>	
</body>
</html>