<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
  <head>
   	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>國際化下拉選項設定</title>
  </head>
  <body>


		<table class="contb">
			<tr>
				<td align="right"><label>帳號</label>
				</td>
				<td align="left"><input type="text" name="departCode" id="departCode"  />
				</td>
				<td align="right"><label>姓名</label>
				</td>
				<td align="left"><input type="text" name="departName" />
				</td>
			</tr>
			<tr>
				
				<td align="right"><label>任職資訊</label>
				</td>
				<td align="left"><input type="text" name="parentDepart.departName"  />
				</td>
				<td align="right"><label>工號</label>
				</td>
				<td align="left"><input type="text" name="area.areaName" />
				</td>
			</tr>
			
		</table>
		<div class="right"> 
			<input class="labButton" name="bt_finish" id="bt_finish" type="button"  value="篩選"  onClick='func_finish();' />
			<input class="labButton" name="bt_cancel"  id="bt_cancel" type="button"  value="關閉" onClick='func_cancel();' />			
	</div>

  </body>
</html>
