<html>
<head>
<title>edit</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/little2.css"  />
</head>

<body>
<div  id="container_{elementID}"  data-from="{From_elementID}" >
	<div class="labMenu">
		<!-- #####頁面標題/需客制化修改 ##############################################-->
		<div class="lable" dis="dis_open_comment" style="background-color: yellow;">{$lang.OpenComment}</div>
		
		<!-- #####頁面標題/需客制化修改 ##############################################-->
	</div>
	
	<!-- #####頁面欄位/需客制化修改 ##############################################-->	
	<div id="dis_open_comment" class="labDiv" style="display: block;">
		<div class="uc1">
			<form method="post" id="formPost" action="">
				<input type="text" id="basis_evaluation_table_id" name="basis_evaluation_table_id" value="{basis_evaluation_table_id}" >
				<input type="text" id="basis_evaluation_open_comment_id" name="basis_evaluation_open_comment_id" value="{basis_evaluation_open_comment_id}" >
				
				<table class="tableStyle1"  >
						{field_open_comment}
				</table>
				
			</form>
		</div>
		<div class="uc2"></div>

	</div>	
	
	<!-- #####頁面欄位/需客制化修改 ##############################################-->
	
</div>	

<script type="text/javascript">
	$(function() {				
		init_tab('container_{elementID}');		
		
		//##### 需客制化修改 ##############################################
		$('#dis_open_comment').dashpanel({
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			save_url:'/hrd/function/saveOrUpdate/save_basis-evalutaion-table_open-comment.php'			
		});	
		//##### 需客制化修改 ##############################################
	}); 
</script>


</body>
</html>