<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>edit</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/little2.css"  />
<script src="/hrd/Framework/Plugins/orgchart/jquery.orgchart.js" type="text/javascript"></script>
<link rel="stylesheet" href="/hrd/Framework/Plugins/orgchart/jquery.orgchart.css"/>
<script type="text/javascript">
function func_cancel() 
{
//	alert($("#bt_cancel").val());
	closeDialog("g3_dialog");
};				

function func_finish() {
	var url = '/hrd/performance/perfEvaluationStandardC/saveOrUpdate.html';
	var form = $('form').serialize();
	var params = "";
	var temp = form.split('&');
	for ( var i = 0; i < temp.length; i++) {
		var obj = temp[i].split('=');
		if (obj[1].Trim() != '') {
			params += '&entity' + '.' + temp[i];
		}
	}
	params = params.substring(1);
	sendPostJQueryAjax(url, params, function(data) {
		if (data.msg) {
			$().message(data.msg);
		}
		$('input[name="key"]').val(data.entity.key);
		$("#list").jqGrid('setGridParam', {
			url : "/hrd/performance/perfEvaluationStandardContent/pageList.html"
		//postData : {}
		}).trigger("reloadGrid");

	});
}


	$(function() {		
		var container=$('#container_{elementID}');
		$(".lable",container).each(function() {
			$(this).click(function() {
				var divn = $(this).attr("dis");
				$(".lable",container).each(function() {
					$(this).css("background-color", "#F0F0F0");
				});
				$(".labDiv",container).each(function() {
					$(this).hide();
				});
				$(this).css("background-color", "yellow");
				$("#" + divn).show();
			});
		});
	
	});

	
	
	 
</script>
</head>

<body>
<div  id="container_{elementID}">
	<div class="labMenu">
		<div class="lable {display_label_information}"  dis="dis_evalution_level" style="background-color: yellow;">職能評鑑者</div>


	</div>
	
	<div id="dis_evalution_level"  class="labDiv"   style="display: block;">	
		<div class="uc1">
			
				<table class="tableStyle1"  >
					<tr>
						<td height="30" class="right">No：</td>
						<td width="400">1</td>
					</tr>
					<tr>
						<td height="30" class="right">工號：</td>
						<td width="400"><input type="text" name="code" class="contxt" value="3939889" /></td>
					</tr>			
					
				
					<tr>
						<td height="30"  class="right">姓名：</td>
						<td><input type="text" name="code" class="contxt" value="歐巴馬" /></td>
					</tr>				
					
					
					<tr>
						<td height="30"  class="right">任職部門：</td>
						<td><input type="text" name="code" class="contxt" value="白宮老大" /></td>
					</tr>				
					
					
					<tr>
						<td height="30"  class="right">配分：</td>
						<td><input type="text" name="code" class="contxt" value="85" />%</td>
					</tr>			
					
					
					<tr>
						<td height="30"  class="right">評鑑關係：</td>
						<td><input type="text" name="code" class="contxt" value="不正常關係" /></td>
					</tr>			
									
				</table>	
		</div>
		<div class="uc2">
			<input class="labButton" name="bt_finish" id="bt_finish" type="button"  value="保存"  onClick='func_finish();' />
			<input class="labButton" name="bt_cancel"  id="bt_cancel" type="button"  value="關閉" onClick='func_cancel();' />			
		</div>
	</div>


	<div id="dis_evaluator" class="labDiv"   >
	<table class="tableStyle1" ><tr><td>{container_classevaluationtable_competencyevaluator}</td></tr></table>		
	</div>
	


	
</div>	
</body>
</html>