<html>
<head>
<title>edit</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/little2.css"  />
</head>

<body>
<div  id="container_{elementID}"  data-from="{From_elementID}" >
	<div class="labMenu">
		<!-- #####頁面標題/需客制化修改 ##############################################-->
		<div class="lable "  dis="dis_appraisee" style="background-color: yellow;">{$lang.Information}</div>
		<div class="lable {display_label_manage_competency}"  dis="dis_manage_competency" >管理職能</div>
		<div class="lable {display_label_general_competency}"  dis="dis_general_competency" >通用職能</div>
		<div class="lable {display_label_pro_competency}"  dis="dis_pro_competency" >專業職能</div>
		
		<!-- #####頁面標題/需客制化修改 ##############################################-->
	</div>
	
	<!-- #####頁面欄位/需客制化修改 ##############################################-->	
	<div id="dis_appraisee" class="labDiv" style="display: block;">
		
		<div class="uc1" >
		<form method="post" id="formPost" >
					
						<div style="border-bottom: 1px #cecece solid;margin-top: 15px;width:90%;margin-left: 20px;">
							<div style="font-size:16px;font-weight: bold; ">{$lang.Appraisee}</div>
						</div>
							<table class="tableStyle1" >							
								<tr>
									<td class="item">{$lang.Job}：</td>
									<td>
										<input  style="width:300px" type="text" name="job_id"  class="contxt"  value="{job_info}"  />										
									</td>
								</tr>	
								<tr>
									<td class="item">{$lang.Department}：</td>
									<td>
										{department_sel}									
									</td>
								</tr>	
								<tr>
									<td class="item">姓名：</td>
									<td>
										<input type="text" name="keyword"  value="{fullName}" />										
									</td>
								</tr>	
								
								<tr>	
									<td></td>
									<td><input class="labButton {display_label_appraisee}" name="bt_inner_search" id="bt_inner_search" type="button"  value="搜尋"   /></td>									
								</tr>
							</table>
							
							<table class="tableStyle1"  width="95%">						
								<tr><td>{container_pick_user}</td></tr>
							</table>
							
							<div class='{dis_evaluation_stauts}'>
								<div style="border-bottom: 1px #cecece solid;margin-top: 15px;width:90%;margin-left: 20px;" >
									<div style="font-size:16px;font-weight: bold; ">{$lang.EvaluationTable}</div>
								</div>
								<table class="tableStyle1" >							
								<tr>
									<td class="item">{$lang.EvaluationTableStatus}：</td>
									<td>
										{class_evaluation_appraisee_stauts}		
										<input class="labButton {dis_bt_submit_to_review}" name="bt_irch" id="bt_inrch" type="button"  value="完成設定並送複審"   onClick="submit_to_review(this)"/>
									
									</td>
								</tr>	
								</table>
							</div>
							
							</form>
		</div>
		<div class="uc2 {display_label_appraisee}"  >

		</div>
		
	</div>
	
	<!-- 管理職能 -->
	<div id="dis_manage_competency" class="labDiv" >
		<form method="post" id="formPost" >
		
		<div class="hide">
			<input type="text"  id="class_evaluation_appraisee_id" name="class_evaluation_appraisee_id" value="{class_evaluation_appraisee_id}">
			<input type="text"  id="appraisee_uid" name="appraisee_uid" value="{appraisee_uid}">			
		</div>
		
		
		<div class="uc1" style="margin-left: 20px; ">			
				<div style="padding-top: 3px;">
					<div style="display: inline-table;">
						<div style="border-bottom: 1px #cecece solid;margin-top: 5px;width:100%">
							<div style="font-size:16px;font-weight: bold; ">選取適用模型</div>
						</div>
						<div >					
							<table class="tableStyle1"  >
								<tr>
									<td class="item">管理職能模型：</td>
									<td class="context">
										<select name="competency_model_id" id="competency_model_id"  class="contxt"  onChange="refresh(this);">
												<option></option>
												<!-- BEGIN M_CM -->
												<option value="{M_CM.competency_model_id}"  {M_CM.selected}>{M_CM.competency_model_title}</option>
												<!-- END M_CM -->
											</select>
									</td>									
								</tr>

								<tr>
									<td class="item">適用職等：</td>
									<td>
										<select name="job_level" id="job_level" class="contxt" onChange="refresh(this);">
											<!-- BEGIN M_LEVEL -->
											<option value="{M_LEVEL.job_level}" {M_LEVEL.selected}>{M_LEVEL.job_level}</option>
											<!-- END M_LEVEL -->									
										</select>
									</td>									
								</tr>	
							</table>
						</div>
					</div>
				</div>	
				<div style="padding-top: 3px;">
					<div style="display: inline-table;">
						<div style="border-bottom: 1px #cecece solid;margin-top: 20px;">
							<div style="font-size:16px;font-weight: bold; ">設定職能評鑑規劃表</div>
						</div>
						<div >					
							<table class="tableStyle1"  ><tr><td>{container_classevaluationtable_competencymanage}</td></tr></table>
						</div>
					</div>
				</div>		
		</div>
		<div class="uc2"  ></div>
		</form>
	</div>
	

	<!-- 通用職能 -->
	<div id="dis_general_competency" class="labDiv" >
		<form method="post" id="formPost" >
		
		<div class="hide">
			<input type="text"  id="class_evaluation_appraisee_id" name="class_evaluation_appraisee_id" value="{class_evaluation_appraisee_id}">
			<input type="text"  id="appraisee_uid" name="appraisee_uid" value="{appraisee_uid}">			
		</div>
		
		
		<div class="uc1" style="margin-left: 20px; ">			
				<div style="padding-top: 3px;">
					<div style="display: inline-table;">
						<div style="border-bottom: 1px #cecece solid;margin-top: 5px;width:100%">
							<div style="font-size:16px;font-weight: bold; ">選取適用模型</div>
						</div>
						<div >					
							<table class="tableStyle1"  >
								<tr>
									<td class="item">通用職能模型：</td>
									<td >
										<select name="competency_model_id" id="competency_model_id"  class="contxt" onChange="refresh(this);">
											<option></option>
											<!-- BEGIN G_CM -->
											<option value="{G_CM.competency_model_id}"  {G_CM.selected}>{G_CM.competency_model_title}</option>
											<!-- END G_CM -->
										</select>
									</td>							
								</tr>

								<tr>
									<td class="item">適用職等：</td>
									<td>										
										<select name="job_level" id="job_level" class="contxt" onChange="refresh(this);">
												<!-- BEGIN G_LEVEL -->
												<option value="{G_LEVEL.job_level}" {G_LEVEL.selected}>{G_LEVEL.job_level}</option>
												<!-- END G_LEVEL -->									
											</select>
									</td>									
								</tr>	
							</table>
						</div>
					</div>
				</div>	
				<div style="padding-top: 3px;">
					<div style="display: inline-table;">
						<div style="border-bottom: 1px #cecece solid;margin-top: 20px;">
							<div style="font-size:16px;font-weight: bold; ">設定職能評鑑規劃表</div>
						</div>
						<div >					
							<table class="tableStyle1"  ><tr><td>{container_classevaluationtable_competencynormal}</td></tr></table>
						</div>
					</div>
				</div>		
		</div>
		<div class="uc2"  ></div>
		</form>
	</div>
	
	
<!-- 專業職能 -->
	<div id="dis_pro_competency" class="labDiv" >
		<form method="post" id="formPost" >
		
		<div class="hide">
			<input type="text"  id="class_evaluation_appraisee_id" name="class_evaluation_appraisee_id" value="{class_evaluation_appraisee_id}">
			<input type="text"  id="appraisee_uid" name="appraisee_uid" value="{appraisee_uid}">			
		</div>
		
		
		<div class="uc1" style="margin-left: 20px; ">			
				<div style="padding-top: 3px;">
					<div style="display: inline-table;">
						<div style="border-bottom: 1px #cecece solid;margin-top: 5px;width:100%">
							<div style="font-size:16px;font-weight: bold; ">選取適用模型</div>
						</div>
						<div >					
							<table class="tableStyle1"  >
								<tr>
									<td class="item">專業職能模型：</td>
									<td >
										<select name="competency_model_id" id="competency_model_id"  class="contxt" onChange="refresh(this);">
											<option></option>
											<!-- BEGIN P_CM -->
											<option value="{P_CM.competency_model_id}"  {P_CM.selected}>{P_CM.competency_model_title}</option>
											<!-- END P_CM -->
										</select>
									</td>							
								</tr>

								<tr>
									<td class="item">適用職等：</td>
									<td>										
										<select name="job_level" id="job_level" class="contxt" onChange="refresh(this);">
											<!-- BEGIN P_LEVEL -->
											<option value="{P_LEVEL.job_level}"  {P_LEVEL.selected}>{P_LEVEL.job_level}</option>
											<!-- END P_LEVEL -->								
											</select>
									</td>									
								</tr>	
							</table>
						</div>
					</div>
				</div>	
				<div style="padding-top: 3px;">
					<div style="display: inline-table;">
						<div style="border-bottom: 1px #cecece solid;margin-top: 20px;">
							<div style="font-size:16px;font-weight: bold; ">設定職能評鑑規劃表</div>
						</div>
						<div >					
							<table class="tableStyle1"  ><tr><td>{container_classevaluationtable_competencypro}</td></tr></table>
						</div>
					</div>
				</div>		
		</div>
		<div class="uc2"  ></div>
		</form>
	</div>	
	
	
	
	<!-- #####頁面欄位/需客制化修改 ##############################################-->
	
</div>	

<script type="text/javascript">

function refresh(that)		
{
	var formContainer=$(that.form);	
	var competency_model_id=$('#competency_model_id',formContainer).val();
	var job_level=$('#job_level',formContainer).val();
	
	console.log(job_level);
	
	var class_evaluation_appraisee_id=$('#class_evaluation_appraisee_id',formContainer).val();
	//console.log(competency_model_id);
	
	var pick_list_id=($('div.ui-jqgrid',formContainer).attr('id')).replace('gbox_','');	
	$("#" + pick_list_id).jqGrid('setGridParam', {				
				postData : {job_level:job_level,competency_model_id:competency_model_id,class_evaluation_appraisee_id:class_evaluation_appraisee_id},
				page : 1
			}).trigger("reloadGrid");	
}


function submit_to_review(obj)
{
	var class_evaluation_appraisee_id = $('#class_evaluation_appraisee_id').val();
	var o = {
			data:{class_evaluation_appraisee_id:class_evaluation_appraisee_id,class_evaluation_appraisee_stauts:'REV'},
			url:'/hrd/function/saveOrUpdate/save_appraisee.php',
			onSuccess:function(data){		
				var dialogID=$(obj).parentsUntil('div.ui-dialog').last().attr('id');		
				closeDialog(dialogID);
				}					
	}				
	var msg=mypost(o);	
}

	$(function() {				
		init_tab('container_{elementID}');		
		
		//##### 需客制化修改 ##############################################
		
		$('#dis_appraisee').dashpanel({	
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			pick_url:'/hrd/function/saveOrUpdate/save_appraisee.php',
			pick_list_id:'pick_user_list'
		});	
		
		/*
		$('#dis_manage_competency').dashpanel({	
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			save_url:'/hrd/function/saveOrUpdate/save_class_evaluation_table_appraisee.php'			
		});	

		$('#dis_general_competency').dashpanel({	
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			save_url:'/hrd/function/saveOrUpdate/save_class_evaluation_table_appraisee.php'					
		});	

		$('#dis_pro_competency').dashpanel({	
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			save_url:'/hrd/function/saveOrUpdate/save_class_evaluation_table_appraisee.php'			
		});	
		*/
		
		//##### 需客制化修改 ##############################################
	}); 
</script>


</body>
</html>