<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>edit</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/little2.css"  />
<script src="/hrd/Framework/Plugins/orgchart/jquery.orgchart.js" type="text/javascript"></script>


<script type="text/javascript">	
	$(function() {		
		var container=$('#container_{elementID}');
		$(".lable",container).each(function() {
			$(this).click(function() {
				var divn = $(this).attr("dis");
				$(".lable",container).each(function() {
					$(this).css("background-color", "#F0F0F0");
				});
				$(".labDiv",container).each(function() {
					$(this).hide();
				});
				$(this).css("background-color", "yellow");
				$("#" + divn).show();
			});
		});
	
	});



</script>
</head>

<body>
<div  id="container_{elementID}"  data-from="{From_elementID}" >
	<form>
		
	
	<div class="labMenu">
		<div class="lable"  dis="dis_quiz"  style="background-color: yellow;">評鑑表信息</div>		
		<div class="lable"  dis="dis_suggest" >開放建議</div>
	</div>

	<div id="dis_quiz" class="labDiv"   style="display: block;">
		<div class="uc1">		
			<div class="hide">
				<input id="class_evaluation_evaluator_id" name="class_evaluation_evaluator_id" value="{class_evaluation_evaluator_id}" />
			</div>
			<table id="appraisee_area" class="contb"   style="border: #D6E9FF;background: #fbfab5;width:94%;margin-left: 20px;margin-top: 20px;padding:20px">
			<tr align="left" >
				<td rowspan="4" style="width:40px">
					<img src='templates/bhrsp/images/icon_robot.png'>
				</td>
				
				<th width="17%">				
					<img src='templates/bhrsp/images/arrow_small.png'>
					受評人:
				</th>
				<td  width="30%">
					{fullName}
				</td>
			
				<th width="17%"> <img src='templates/bhrsp/images/arrow_small.png'> 公司:</th>
				<td width="30%"></td>				
	
			</tr>
			<tr align="left" >
				<th >
					<img src='templates/bhrsp/images/arrow_small.png'>
					 部門名稱:
					
				</th>
				<td >
					{department_title}
				</td>
		
				<th  >
					<img src='templates/bhrsp/images/arrow_small.png'>
					 職稱:
				</th>
				<td >
					{job_title}
				</td>		
				
				
			</tr>	
			
			<tr align="left" >
				<th >
					<img src='templates/bhrsp/images/arrow_small.png'>
					 職能項目:
				</th>
				<td>
				{competency_title}
				</td>
				<th  >
					<img src='templates/bhrsp/images/arrow_small.png'>
					本次評鑑級數:
				</th>
				<td >
					{competency_level}
				</td>						
				
			</tr>	
			<tr align="left" >
				<th >
					<img src='templates/bhrsp/images/arrow_small.png'>
					 職能定義:
				</th>
				<td colspan="6">
				{competency_definition}
				</td>
			</tr>	
		</table>
			<!-- BEGIN ABILITY -->
			<table id="quiz_area" class="contb "  style="width:94%;margin-left: 20px;margin-top: 20px;padding:5px;{ABILITY.style}">
				<tr>
					<td width="90%">	
						<h3>第{ABILITY.competency_level}級 {ABILITY.ability_title}</h3>
						{ABILITY.ability_def}
						<br>							
					</td>
					<td>
						<!-- BEGIN SCORE -->
						<input type="radio" id="evalutor_score"  name="evalutor_score"  value="{ABILITY.SCORE.grade}"  {ABILITY.SCORE.disabled}  {ABILITY.SCORE.checked}>{ABILITY.SCORE.grade}<br>
						<!-- END SCORE -->
						
					</td>
				</tr>					
			</table>
			<!-- END ABILITY -->
			
											
		</div>
		<div class="uc2" style="width:94%;margin-left: 20px;">
			<div  style="float:right;">
				<input class="labButton" name="bt_finish" id="bt_finish" type="button"  value="交卷"  onClick='exam_finish();' />				
			</div>
		</div>
	</div>	

	<div id="dis_suggest" class="labDiv"   >
		<table class="tableStyle1" ><tr><td>開放建議</td></tr></table>		
	</div>	
	</form>
</div>	
</body>

<script>
function exam_finish()
{
	var evalutor_score=$('input[name=evalutor_score]:checked').val(); 
	var class_evaluation_evaluator_id=$('#class_evaluation_evaluator_id').val();
	var o = {
			data: {evalutor_score:evalutor_score,class_evaluation_evaluator_id:class_evaluation_evaluator_id},
			url:'/hrd/function/saveOrUpdate/save_class_evaluation_table_evalutor_grade.php?f=1',
			onSuccess:function(data)
			{								
					if(data.errmsg)
					{
						$().message(data.errmsg);
					}
					else
					{									
						$("#tabPanel").refreshitem();	
						$().message("交卷結束");		
					}										
			}					
	}				
	var msg=mypost(o);		
	
}

</script>

</html>