<html>
<head>
<title>edit</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/little2.css"  />
</head>

<body>
<div  id="container_{elementID}"  data-from="{From_elementID}" >
	<div class="labMenu">
		<!-- #####頁面標題/需客制化修改 ##############################################-->
		<div class="lable "  dis="dis_evaluation_relation" style="background-color: yellow;">{$lang.Information}</div>
		
		<!-- #####頁面標題/需客制化修改 ##############################################-->
	</div>
	
	<!-- #####頁面欄位/需客制化修改 ##############################################-->
	
	<div id="dis_evaluation_relation" class="labDiv" style="display: block;">
		<form method="post" id="formPost" >
		<div class="hide">
			<input type="text" id="evaluation_relation_id" name="evaluation_relation_id" value="{evaluation_relation_id}">
		</div>
		<div class="uc1" style="width:90%;margin-left: 20px; ">				
			<div style="border-bottom: 1px #cecece solid;margin: 20px;">
				<div style="font-size:16px;font-weight: bold; ">{$lang.PositionCompetency}</div>
			</div>
						
			<table class="tableStyle1"  >
				<tr>
					<td class="label">{$lang.EvaluationRelationCode}</td>
					<td>
						<input type="text" id="evaluation_relation_code" name="evaluation_relation_code" value="{evaluation_relation_code}"/>
					</td>
				</tr>
												{field_evaluation_relation_title}			
			</table>
						
							
			
		</div>
		<div class="uc2"  style=“width:70%;”>			
		</div>
		</form>
	</div>
	
	
	<!-- #####頁面欄位/需客制化修改 ##############################################-->
	
</div>	

<script type="text/javascript">
	$(function() {				
		init_tab('container_{elementID}');		
		
		//##### 需客制化修改 ##############################################
		$('#dis_evaluation_relation').dashpanel({		
			element_id:'{elementID}',
			save_url:'/hrd/function/saveOrUpdate/save_evaluation_relation.php'			
		});	
		//##### 需客制化修改 ##############################################
	}); 
</script>


</body>
</html>