<!DOCTYPE html>
<html>
<head>
<title>Insert title here</title>
</head>
<body>
<input type="hidden" id="empId" value="F39BA5B7-0F25-492B-AB6B-7FFC132EB351"/>
<!-- <table style="width:100%">
<tr style="vertical-align:top">
 <td style="width:30%"> -->
  	<div  style="width:30%;height:250px;border:1px solid #b6d9db; float:left;">
  		<div style="font-size:20px;padding-left:4px">My Information</div>
  		<div id="accountInfo" style="padding-left:4px">
	  		<div style="font-size:12px; margin-top:8px;">姓名：吳美慧</div>
	  		<div style="font-size:12px;margin-top:4px;">部門：人資部</div>
	  		<div style="font-size:12px;margin-top:4px;">職等：</div>
	  		<div style="font-size:12px;margin-top:4px;">職稱：主任</div>
	  		<div style="font-size:12px;margin-top:4px;">登入身份：[admin]</div> 	
  		</div>	
  	</div>
  	<!-- <div style="width:100%;height:300px;border:1px solid #b6d9db; float:left; margin-top:2px">  -->		
  	</div>
<!--   </td>
  <td style="width:70%"> -->
  <div style="width:65%;height:250px;margin-left:4px;border:1px solid #b6d9db; float:left;">
  		<div style="font-size:20px">系統公告</div>
  		<div id="tabs2" class="g3-tabs">
			<div id="tab22">
				<table id="list22"></table>
				<div id="pager22"></div>
			</div>
		</div>
  	</div>
  	 
  	
<!--   </td>
</tr>
</table> -->


</body>

</html>