<html>
<head>
<title>edit</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/little2.css"  />
</head>

<body>
<div  id="container_{elementID}"  data-from="{From_elementID}" >
	<div class="labMenu">
		<!-- #####頁面標題/需客制化修改 ##############################################-->
		<div class="lable "  dis="dis_job_info" style="background-color: yellow;">{$lang.Information}</div>
	
		<!-- #####頁面標題/需客制化修改 ##############################################-->
	</div>
	
	<!-- #####頁面欄位/需客制化修改 ##############################################-->
	
	<div id="dis_job_info" class="labDiv" style="display: block;">
		<form method="post" id="formPost" >
		<div class="uc1" style="margin-left: 20px; ">				


				<div class="hide">
					<input type="text" name="job_id"  id="job_id"  value="{job_id}">	
				</div>
						
			<table class="tableStyle1"  >
				<tr>
					<td class="label" colspan="2">{$lang.Information}：</td>
					
				</tr>						
								
				<tr>
					<td  class="item">{$lang.JobFamily}：</td>
					<td>
					<select id="job_family_id"  name="job_family_id">
							<option></option>
							<!-- BEGIN JOB_FAMILY -->
							<option value="{JOB_FAMILY.job_family_id}"  {JOB_FAMILY.selected}>{JOB_FAMILY.job_family_title}</option>
							<!-- END JOB_FAMILY -->							
						</select>
					</td>
				</tr>	

				<tr>
					<td class="item">{$lang.JobLevel}：</td>
					<td>
						<input type="text" name="job_level"  value="{job_level}" />										
					</td>
				</tr>						
				
				<tr>
					<td  class="item">{$lang.JobType}：</td>
					<td>
					<select id="job_type_id"  name="job_type_id">
							<option></option>
							<!-- BEGIN JOB_TYPE -->
							<option value="{JOB_TYPE.job_type_id}"  {JOB_TYPE.selected}>{JOB_TYPE.job_type_title}</option>
							<!-- END JOB_TYPE -->							
						</select>
					</td>
				</tr>	
								
				{field_job_title}	
				
	
				

							

						
			</table>
		
		</div>
		<div class="uc2"  style=“width:70%;”>			
		</div>
		</form>
	</div>
	
	
	<!-- #####頁面欄位/需客制化修改 ##############################################-->
	
</div>	

<script type="text/javascript">
	$(function() {				
		init_tab('container_{elementID}');		
		
		//##### 需客制化修改 ##############################################
		$('#dis_job_info').dashpanel({		
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			save_url:'/hrd/function/saveOrUpdate/save_job_level.php?type={type}'			
		});	
		
	
		
		
		
		//##### 需客制化修改 ##############################################
	}); 
</script>


</body>
</html>