<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>edit</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/little2.css"  />

</head>

<body><div  id="container_{elementID}"  data-from="{From_elementID}" >
<form method="post" id="formPost" action="">			

	<div class="labMenu">
		<div class="lable {display_report_info}"  dis="dis_report_info" style="background-color: yellow;">{$lang.Information}</div>
		<div class="lable {display_setting}"  dis="dis_setting" >參數設定</div>
		<div class="lable {display_company}"  dis="dis_company" >公司別報表</div>
		<div class="lable {display_group}"  dis="dis_department" >部門別報表</div>
		<div class="lable {display_person}"  dis="dis_person" >個人報表</div>
		<div class="lable {display_reportee}"  dis="dis_reportee" >評鑑關係</div>
		<div class="lable {display_export}"  dis="dis_export" >產生報表</div>		
		<div class="lable {display_export}"  dis="dis_report_personal_list"  >個人報表列表</div>		
		<div class="lable {display_export}"  dis="dis_report_group_list"  >團體報表列表</div>			
		<div class="lable {display_export}"  dis="dis_report_company_list"  >公司報表列表</div>			
	</div>
	

	
<!-- 個人報表 -->
	<div id="dis_person" class="labDiv"   >
		<div class="uc1">	
				<input type="text" id="report_config_id"  name="report_config_id"  value="{report_config_id}" />
				<table class="tableStyle1"   >
					<tr>
						<td class="label" >範圍設定：</td>
						<td >								
						</td>					
					</tr>				
					<tr>
						<td class="left"  colspan="2"> 	
							<input type="checkbox" name="code1" >所有受評人<p>
							<input type="checkbox" name="code2" >指定特定人員<input type="button" value="挑選名單"><p>
						</td>
							
					</tr>			
					
					<tr>
						<td class="label" >個人報表種類：</td>
						<td >								
						</td>					
					</tr>				
					<tr>
						<td class="left"  colspan="2">
							<input type="checkbox" name="clickAllReport"  id="clickAllReport" >全選<p>
							<!-- BEGIN PERSON_REPORT -->							
							<div style="margin-right:10px"><input type="checkbox" name="report_title_id[]"  id="report_title_id[]"  value="{PERSON_REPORT.report_title_id}" >{PERSON_REPORT.report_title}</div>
							<!-- END PERSON_REPORT -->						
						</td>
							
					</tr>		
						
											
				</table>
		</div>
		<div class="uc2">
			<input class="labButton" name="bt_save" id="bt_save" type="button"  value="保存"   />
			<input class="labButton" name="bt_cancel"  id="bt_cancel" type="button"  value="關閉" />			
		</div>
	</div>		
	
		<!-- 個人報表列表 -->
	<div id="dis_report_personal_list" class="labDiv"  >	
		<table class="tableStyle1"  style="width:100%"><tr><td>{container_report-personal_list}</td></tr></table>		
	</div>	
	
	
	
<!--職等職稱別報表 -->
	<div id="dis_department" class="labDiv"   >
		<div class="uc1">	
				<table class="tableStyle1"   >
					<tr>
						<td class="label" >範圍設定：</td>
						<td >								
						</td>					
					</tr>				
					<tr>
						<td class="left"  colspan="2"> 							
							<input type="radio" name="code2" >所有職稱 <input type="radio" name="code2" >特定職等職稱組合<input type="button" value="設定"><p>
						</td>
							
					</tr>							
					<tr>
						<td class="label" >報表選擇：</td>
						<td >								
						</td>					
					</tr>			
					<tr>					
						<td class="left"  colspan="2">
							<input type="checkbox" name="clickAllReport"  id="clickAllReport" >全選<p>
							<!-- BEGIN GROUP_REPORT -->							
							<div style="margin-right:10px"><input type="checkbox" name="report_title_id[]"  id="report_title_id[]"  value="{GROUP_REPORT.report_title_id}" >{GROUP_REPORT.report_title}</div>
							<!-- END GROUP_REPORT -->						
						</td>					
					</tr>

				</table>
		</div>
		<div class="uc2">
			<input class="labButton" name="bt_save" id="bt_save" type="button"  value="保存"   />
			<input class="labButton" name="bt_cancel"  id="bt_cancel" type="button"  value="關閉" />			
		</div>
	</div>		
	

<!-- 公司別報表 -->
	<div id="dis_company" class="labDiv"   >
		<div class="uc1">	
				<table class="tableStyle1"   >
					<tr>
						<td class="label" >報表選擇：</td>
						<td >								
						</td>					
					</tr>				
					<tr>
					
						
						<td class="left"  colspan="2">
							<input type="checkbox" name="clickAllReport"  id="clickAllReport" >全選<p>
							<!-- BEGIN COMANY_REPORT -->							
							<div style="margin-right:10px"><input type="checkbox" name="report_title_id[]"  id="report_title_id[]"  value="{COMANY_REPORT.report_title_id}" >{COMANY_REPORT.report_title}</div>
							<!-- END COMANY_REPORT -->						
					  </td>
						
							
								
					</tr>							
											
				</table>
		</div>
		<div class="uc2">
			<input class="labButton" name="bt_save" id="bt_save" type="button"  value="保存"   />
			<input class="labButton" name="bt_cancel"  id="bt_cancel" type="button"  value="關閉" />			
		</div>
	</div>	
	
		<!-- 公司報表列表 -->
	<div id="dis_report_company_list" class="labDiv" >	
		<table class="tableStyle1"  style="width:100%"><tr><td>{container_report-company_list}</td></tr></table>		
	</div>		

	<!-- 團體報表 -->
	<div id="dis_group" class="labDiv"   >
		<div class="uc1">	
				<table class="tableStyle1"   >
					<tr>
						<td class="label" >範圍設定：</td>
						<td >								
						</td>					
					</tr>				
					<tr>
						<td class="left"  colspan="2"> 	
							<input type="checkbox" name="code1" >該評鑑表的所有受評人(個人 vs 全體)<p>
							<input type="checkbox" name="code2" >個人平均成績與部門平均成績比較(個人 vs 全體)	<input type="button" value="挑選部門"><p>
							<input type="checkbox" name="code3"  >部門平均成績與總體平均成績比較(個人 vs 全體)	<input type="button" value="挑選部門"><p>
							<input type="checkbox" name="code"  >部門與部門間的平均數比較(個人 vs 全體)	<input type="button" value="挑選部門"><p>
						</td>
					</tr>	
					<tr>
						<td class="label" >團體報表種類：</td>
						<td >								
						</td>					
					</tr>				
					<tr>
						<td class="left"  colspan="2"> 	
							<input type="checkbox" name="code1" >全選<p>
							<input type="checkbox" name="code2" >團體總覽
							<input type="checkbox" name="code3" >團體雷達圖<p>
							<input type="checkbox" name="code4" >團體比較分析
							<input type="checkbox" name="code5" >開放式建議<p>
							<input type="checkbox" name="code6" >團體弱項分析
							<input type="checkbox" name="code6" >團體明細資料<p>
							<input type="checkbox" name="code6" >個人認知落差分析
							<input type="checkbox" name="code6" >各職能360度明細<p>
							<input type="checkbox" name="code6" >個人落點區間分布圖
							<input type="checkbox" name="code6" >未完成/部分完成名單<p>							
						</td>							
					</tr>													
				</table>
		</div>
		<div class="uc2">
			<input class="labButton" name="bt_save" id="bt_save" type="button"  value="保存"   />
			<input class="labButton" name="bt_cancel"  id="bt_cancel" type="button"  value="關閉" />			
		</div>
	</div>	

	<!-- 團體報表列表 -->
	<div id="dis_report_group_list" class="labDiv"  >	
		<table class="tableStyle1"  style="width:100%"><tr><td>{container_report-group_list}</td></tr></table>		
	</div>		


	<div id="dis_export" class="labDiv"   >
		<div class="uc1">		
				<table class="tableStyle1"  >
														
					<tr>
						<td class="right">報表匯出格式：</td>
						<td>
						<input type="radio"  name="format" />MS Word   <br>
						<input type="radio"  name="format" />MS Excel <br>
						<input type="radio"  name="format" />PDF <br>
						
						</td>					
					</tr>		
				</table>
		</div>
		<div class="uc2">
			<input class="labButton" name="bt_save" id="bt_save" type="button"  value="產出"   />
			<input class="labButton" name="bt_cancel"  id="bt_cancel" type="button"  value="關閉" />			
		</div>
	</div>		
	
	<div id="dis_setting" class="labDiv"   >
		<div class="uc1">		

				<table class="tableStyle1"  >
					<tr>
						<td class="label">一般：</td>
						<td></td>					
					</tr>				
					<tr>
						<td class="right">評鑑期間：</td>
						<td>本次鑑定結果匯總表，評鑑期間<input type="text" name="code"  value="2014-12-05" size="8"/>~<input type="text" name="code"  value="2014-12-15"  size="8"/></td>					
					</tr>				
						
					<tr>
						<td class="right">異常評鑑表：</td>
						<td>不同評鑑者評鑑結果相差<input type="text" name="code"   value="0.5"  size="3"/>級數(含)以上列為異常。
						<input type="button" value="列出名單">
						</td>								
					</tr>																
				</table>
				
			
		</div>
		<div class="uc2">
			<input class="labButton" name="bt_save" id="bt_save" type="button"  value="保存"   />
			<input class="labButton" name="bt_cancel"  id="bt_cancel" type="button"  value="關閉" />			
		</div>
	</div>	
	
	
	<!-- 頁面(開始) -->
	<div id="dis_report_info" class="labDiv" style="display: block;">
		<div class="uc1">			

				<table class="tableStyle1"  >
					<tr>
						<td class="label">基本信息：</td>
						<td></td>
					
					</tr>				
					<tr>
						<td class="right">報表編號：</td>
						<td>
							<input type="text" name="report_config_code" class="contxt" value="" />
							<input type="hidden" name="method"  value="C" />
							
						</td>
					
					</tr>				
					<tr>
						<td class="right">報表簡要說明：</td>
						<td><textarea name="report_config_desc"  cols="60" rows="5"></textarea></td>
				
					</tr>				
		

				
				</table>
				
			
		</div>
		<div class="uc2">
			<input class="labButton" name="bt_save" id="bt_save" type="button"  value="保存"   />
			<input class="labButton" name="bt_cancel"  id="bt_cancel" type="button"  value="關閉" />			
		</div>
	</div>
	
	

	
	
</form>
</div></body>


<script type="text/javascript">
	$(function() {				
		$('#dis_report_info').dashpanel({
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			save_url:'/hrd/function/saveOrUpdate/save_report_config.php'			
		});			
		
		$('#dis_person').dashpanel({
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			save_url:'/hrd/function/saveOrUpdate/save_report_personal.php'
		});		

		$('#dis_company').dashpanel({
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			save_url:'/hrd/function/saveOrUpdate/save_report_class_company.php'
		});		
		
		$('#dis_department').dashpanel({
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			save_url:'/hrd/function/saveOrUpdate/save_report_class_group.php'
		});		
		
		

		
		bind_click("#clickAllReport",'#dis_company','report_title_id[]');
		bind_click("#clickAllReport",'#dis_person','report_title_id[]');
		bind_click("#clickAllReport",'#dis_department','report_title_id[]');
	
		
		init_tab('container_{elementID}');
		
		
		
	}); 
	

	
	
</script>


</html>