<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>edit</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/little2.css"  />

</head>

<body><div  id="container_{elementID}"  data-from="{From_elementID}" >
<form method="post" id="formPost" action="">			

	<div class="labMenu">
		<div class="lable "  dis="dis_report_info" style="background-color: yellow;">{$lang.Information}</div>
		<div class="lable "  dis="dis_mail_tpl">通知訊息</div>	
		<div class="lable "  dis="dis_setting" >參數設定</div>
		<div class="lable "  dis="dis_group" >團體報表</div>
		<div class="lable "  dis="dis_person" >個人報表</div>
		<div class="lable "  dis="dis_reportee" >評鑑關係</div>
		<div class="lable "  dis="dis_export" >產生報表</div>		
	</div>

	<!-- 個人報表 -->
	<div id="dis_person" class="labDiv"   >
		<div class="uc1">	
				<table class="tableStyle1"   >
					<tr>
						<td class="label" >範圍設定：</td>
						<td >								
						</td>					
					</tr>				
					<tr>
						<td class="left"  colspan="2"> 	
							<input type="checkbox" name="code1" >所有受評人<p>
							<input type="checkbox" name="code2" >指定特定人員<input type="button" value="挑選名單"><p>
						</td>
							
					</tr>			
					
					<tr>
						<td class="label" >個人報表種類：</td>
						<td >								
						</td>					
					</tr>				
					<tr>
						<td class="left"  colspan="2">
							<input type="checkbox" name="code1" >全選（全體回饋明細除外 ）<p>
							<input type="checkbox" name="code2" >個人總覽
							<input type="checkbox" name="code3" >群體比較<p>
							<input type="checkbox" name="code4" >職能缺口強化訓練計劃
							<input type="checkbox" name="code5" >個人比較分析<p>
							<input type="checkbox" name="code6" >個人雷達圖
							<input type="checkbox" name="code6" >開放式建議<p>
							<input type="checkbox" name="code6" >360度雷達圖
							<input type="checkbox" name="code6" >全體回饋明細<p>							
						</td>
							
					</tr>		
						
											
				</table>
		</div>
		<div class="uc2">
			<input class="labButton" name="bt_save" id="bt_save" type="button"  value="保存"   />
			<input class="labButton" name="bt_cancel"  id="bt_cancel" type="button"  value="關閉" />			
		</div>
	</div>	

	<!-- 團體報表 -->
	<div id="dis_group" class="labDiv"   >
		<div class="uc1">	
				<table class="tableStyle1"   >
					<tr>
						<td class="label" >範圍設定：</td>
						<td >								
						</td>					
					</tr>				
					<tr>
						<td class="left"  colspan="2"> 	
							<input type="checkbox" name="code1" >該評鑑表的所有受評人(個人 vs 全體)<p>
							<input type="checkbox" name="code2" >個人平均成績與部門平均成績比較(個人 vs 全體)	<input type="button" value="挑選部門"><p>
							<input type="checkbox" name="code3"  >部門平均成績與總體平均成績比較(個人 vs 全體)	<input type="button" value="挑選部門"><p>
							<input type="checkbox" name="code"  >部門與部門間的平均數比較(個人 vs 全體)	<input type="button" value="挑選部門"><p>
						</td>
							
					</tr>			
					
					<tr>
						<td class="label" >團體報表種類：</td>
						<td >								
						</td>					
					</tr>				
					<tr>
						<td class="left"  colspan="2"> 	
							<input type="checkbox" name="code1" >全選<p>
							<input type="checkbox" name="code2" >團體總覽
							<input type="checkbox" name="code3" >團體雷達圖<p>
							<input type="checkbox" name="code4" >團體比較分析
							<input type="checkbox" name="code5" >開放式建議<p>
							<input type="checkbox" name="code6" >團體弱項分析
							<input type="checkbox" name="code6" >團體明細資料<p>
							<input type="checkbox" name="code6" >個人認知落差分析
							<input type="checkbox" name="code6" >各職能360度明細<p>
							<input type="checkbox" name="code6" >個人落點區間分布圖
							<input type="checkbox" name="code6" >未完成/部分完成名單<p>							
						</td>
							
					</tr>		
						
											
				</table>
		</div>
		<div class="uc2">
			<input class="labButton" name="bt_save" id="bt_save" type="button"  value="保存"   />
			<input class="labButton" name="bt_cancel"  id="bt_cancel" type="button"  value="關閉" />			
		</div>
	</div>	


	<div id="dis_export" class="labDiv"   >
		<div class="uc1">		
				<table class="tableStyle1"  >
														
					<tr>
						<td class="right">報表匯出格式：</td>
						<td>
						<input type="radio"  name="format" />MS Word   <br>
						<input type="radio"  name="format" />MS Excel <br>
						<input type="radio"  name="format" />PDF <br>
						
						</td>					
					</tr>		
				</table>
		</div>
		<div class="uc2">
			<input class="labButton" name="bt_save" id="bt_save" type="button"  value="產出"   />
			<input class="labButton" name="bt_cancel"  id="bt_cancel" type="button"  value="關閉" />			
		</div>
	</div>		
	
	<div id="dis_setting" class="labDiv"   >
		<div class="uc1">		

				<table class="tableStyle1"  >
					<tr>
						<td class="label">一般：</td>
						<td></td>					
					</tr>				
					<tr>
						<td class="right">基準值：</td>
						<td><input type="text" name="code" class="contxt" value="5.0" /></td>					
					</tr>				
					<tr>
						<td class="right">平均匯出格式：</td>
						<td>
							<input type="radio"  name="o"  checked/>所有人平均   <input type="radio"  name="o" />所有評鑑維度平均
						</td>				
					</tr>							
					<tr>
						<td class="right">剔除無效評鑑表：</td>
						<td>同一選項達<input type="text" name="code"   value="100"  size="5"/>%(含)以上相同則剔除。(填0代表不易除)
						<input type="button" value="列出名單">
						</td>
								
					</tr>				
							
							
							
					<tr>
						<td class="label">團體報表參數：</td>
						<td></td>					
					</tr>											
					<tr>
						<td class="right">優勢/待發展臨界值：</td>
						<td><input type="text" name="code" class="contxt" value="0.5"></td>					
					</tr>													
					<tr>
						<td class="right">區間大小：</td>
						<td><input type="text" name="code" class="contxt" value="0.25" /></td>					
					</tr>															
					<tr>
						<td class="right">迭代次數：</td>
						<td><input type="text" name="code" class="contxt" value="2" /></td>					
					</tr>				

					<tr>
						<td class="label">個人報表維度權重設定：</td>
						<td></td>					
					</tr>	
					<tr>
						<td class="right">直屬主管：</td>
						<td><input type="text" name="code" class="contxt" value="1.0" /></td>					
					</tr>		
					<tr>
						<td class="right">同事：</td>
						<td><input type="text" name="code" class="contxt" value="1.0" /></td>					
					</tr>				
					<tr>
						<td class="right">部屬：</td>
						<td><input type="text" name="code" class="contxt" value="1.0" /></td>					
					</tr>											
				</table>
				
			
		</div>
		<div class="uc2">
			<input class="labButton" name="bt_save" id="bt_save" type="button"  value="保存"   />
			<input class="labButton" name="bt_cancel"  id="bt_cancel" type="button"  value="關閉" />			
		</div>
	</div>	
	
	
	<!-- 頁面(開始) -->
	<div id="dis_report_info" class="labDiv" style="display: block;">
		<div class="uc1">			

				<table class="tableStyle1"  >
					<tr>
						<td class="label">基本信息：</td>
						<td></td>
					
					</tr>				
					<tr>
						<td class="right">報表編號：</td>
						<td><input type="text" name="code" class="contxt" value="" /></td>
					
					</tr>				
					<tr>
						<td class="right">報表簡要說明：</td>
						<td><textarea name="entity.note"  cols="60" rows="5"></textarea></td>
				
					</tr>				
								
					<tr>
						<td class="right">匯出的職能模型：</td>
						<td><input type="text" name="code" class="contxt" value="" /></td>
					
					</tr>				

				
				</table>
				
			
		</div>
		<div class="uc2">
			<input class="labButton" name="bt_save" id="bt_save" type="button"  value="保存"   />
			<input class="labButton" name="bt_cancel"  id="bt_cancel" type="button"  value="關閉" />			
		</div>
	</div>
	
	
	<div id="dis_mail_tpl" class="labDiv"   >	
	<table class="tableStyle1" ><tr><td>{container_mail_tpl}</td></tr></table>		
	</div>
			
	<div id="dis_reportee" class="labDiv"   >
	<table class="tableStyle1" ><tr><td>{container_basisevalutiontable_reportee}</td></tr></table>		
	</div>
	
	
</form>
</div></body>


<script type="text/javascript">
	$(function() {				
		$('#dis_competency_info').dashpanel({
			save:function(e){			
				var o = {
						url:'/hrd/function/saveOrUpdate/save_competency_info.php',
						onSuccess:function(data){	
								var dialogID=$(e.target).parentsUntil('div.ui-dialog').last().attr('id');
								closeDialog(dialogID);
								$("#tabPanel").refreshitem();								
							}					
				}				
				var msg=mypost(o);				
			}
		});		
		init_tab('container_{elementID}');
	}); 
</script>


</html>