<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>edit</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/little2.css"  />

</head>

<body><div  id="container_{elementID}"  data-from="{From_elementID}" >
		

	<div class="labMenu">
		<div class="lable {display_report_info}"  dis="dis_report_info" style="background-color: yellow;">{$lang.Information}</div>
		<div class="lable {display_setting}"  dis="dis_setting" >參數設定</div>
		<div class="lable {display_company}"  dis="dis_company" >{$lang.CompanyReport}</div>
		<div class="lable {display_group}"  dis="dis_group" >{$lang.GroupReport}</div>
		<div class="lable {display_person}"  dis="dis_person" >{$lang.PersonalReport}</div>
		<div class="lable {display_reportee} hide"  dis="dis_reportee" >評鑑關係</div>
		<div class="lable {display_export}"  dis="dis_export" >產生報表</div>			
		<div class="lable {display_export}"  dis="dis_report_company_list"  >{$lang.CompanyReport}列表</div>			
		<div class="lable {display_export}"  dis="dis_report_group_list"  >{$lang.GroupReport}列表</div>	
		<div class="lable {display_export}"  dis="dis_report_personal_list"  >{$lang.PersonalReport}列表</div>	
	</div>
	

	
	<!-- 個人報表 -->
	<div id="dis_person" class="labDiv"   >
		<form method="post" id="formPost" >	
		<div class=hide>
			<input type="text" id="report_config_id"  name="report_config_id"  value="{report_config_id}" />
		</div>		
		
		<div class="uc1">	

				<table class="tableStyle1"   >
					<tr>
						<td class="label" >範圍設定：</td>
						<td >								
						</td>					
					</tr>				
					<tr>
						<td class="left"  colspan="2"> 	
							<input type="checkbox" name="code1" >所有受評人<p>
							<input type="checkbox" name="code2" >指定特定人員<input type="button" value="挑選名單"><p>
						</td>
							
					</tr>			
					
					<tr>
						<td class="label" >個人報表種類：</td>
						<td >								
						</td>					
					</tr>				
					<tr>
						<td class="left"  colspan="2">
							<input type="checkbox" name="clickAllReport"  id="clickAllReport" >全選<p>
							<!-- BEGIN PERSON_REPORT -->							
							<div style="margin-right:10px"><input type="checkbox" name="report_title_id[]"  id="report_title_id[]"  value="{PERSON_REPORT.report_title_id}" >{PERSON_REPORT.report_title}</div>
							<!-- END PERSON_REPORT -->						
						</td>
							
					</tr>		
						
											
				</table>
		</div>
		<div class="uc2">
			<input class="labButton" name="bt_save" id="bt_save" type="button"  value="保存"   />
			<input class="labButton" name="bt_cancel"  id="bt_cancel" type="button"  value="關閉" />			
		</div>
		</form>
	</div>		
	
	<!-- 個人報表列表 -->
	<div id="dis_report_personal_list" class="labDiv"  >	
		<table class="tableStyle1"  style="width:100%"><tr><td>{container_report-personal_list}</td></tr></table>		
	</div>	
	
	
	
	<!-- 團體報表 -->
	<div id="dis_group" class="labDiv"   >
		<form method="post" id="formPost" >	
		<div class=hide>
			<input type="text" id="report_config_id"  name="report_config_id"  value="{report_config_id}" />
		</div>		
		<div class="uc1">	
				<table class="tableStyle1"  >
					<tr>
						<td class="label"  width="100px"  style="vertical-align:top">
							部門範圍設定：
						</td>
						<td  style="vertical-align:top"><div  style="float:left">
								<select onchange="change_unit(this)" id='sel_unit'  name='sel_unit'>
									<option value="all">全公司</option>
									<option value="spec">指定部門</option>
								</select>
							</div>
						</td>
						<td  style="vertical-align:top">
							<div style="float:left;" class='hide'  id="block_pick_unit" name="block_pick_unit">
									<select id='population_group_id[]'  name='population_group_id[]'  multiple="multiple" size="5" >										
										 <!-- BEGIN DEP -->
										 <option value='{DEP.group_id}'>{DEP.group_title}-{DEP.group_id}</option>	
										 <!-- END DEP -->					
									</select>									
								</div>
						</td>
					</tr>	


					<tr>
						<td class="label"   style="vertical-align:top">
							職稱範圍設定：
						</td>
						<td  style="vertical-align:top"><div  style="float:left">
								<select onchange="change_job(this)"  id='sel_job'  name='sel_job' >
									<option value="all">所有職稱</option>
									<option value="spec">指定職稱</option>
								</select>
							</div>
						</td>
						<td   style="vertical-align:top">
							<div style="float:left;" class='hide'  id="block_pick_job" name="block_pick_job">
									<select id='job_id[]'  name='job_id[]'   multiple="multiple" size="5">										
										 <!-- BEGIN JOB -->
										 <option value='{JOB.job_id}'>{JOB.job_title}-{JOB.job_id}</option>	
										 <!-- END JOB -->					
									</select>										
								</div>
						</td>
					</tr>					
									
					<tr>
						<td class="label" >報表選擇：</td>
						<td >								
						</td>					
					</tr>			
					<tr>					
						<td class="left"  colspan="3">
							<input type="checkbox" name="clickAllReport"  id="clickAllReport" >全選<p>
							<!-- BEGIN GROUP_REPORT -->							
							<div style="margin-right:10px"><input type="checkbox" name="group_report_title_id[]"  id="group_report_title_id[]"  value="{GROUP_REPORT.report_title_id}" >{GROUP_REPORT.report_title}</div>
							<!-- END GROUP_REPORT -->						
						</td>					
					</tr>

				</table>
		</div>
		<div class="uc2">			
		</div>
		</form>
	</div>		
	
	<!-- 團體報表列表 -->
	<div id="dis_report_group_list" class="labDiv"  >	
		<table class="tableStyle1"  style="width:100%"><tr><td>{container_report-group_list}</td></tr></table>		
	</div>	


	<!-- 公司別報表 -->
	<div id="dis_company" class="labDiv"   >
		<form method="post" id="formPost" >	
		<div class=hide>
			<input type="text" id="report_config_id"  name="report_config_id"  value="{report_config_id}" />
		</div>		
		<div class="uc1">	
				<table class="tableStyle1"   >
					<tr>
						<td class="label" >報表選擇：</td>
						<td >								
						</td>					
					</tr>				
					<tr>
						<td class="left"  colspan="2">
							<input type="checkbox" name="clickAllReport"  id="clickAllReport" >全選<p>
							<!-- BEGIN COMANY_REPORT -->							
							<div style="margin-right:10px"><input type="checkbox"  name="company_report_title_id[]"  id="company_report_title_id[]"  value="{COMANY_REPORT.report_title_id}" >{COMANY_REPORT.report_title}</div>
							<!-- END COMANY_REPORT -->						
					  </td>
					</tr>			
				</table>
		</div>
		<div class="uc2">		
		</div>
		</form>
	</div>	
	
	<!-- 公司報表列表 -->
	<div id="dis_report_company_list" class="labDiv" >	
		<table class="tableStyle1"  style="width:100%"><tr><td>{container_report-company_list}</td></tr></table>		
	</div>		
	


	<div id="dis_export" class="labDiv"   >
		<form method="post" id="formPost" >	
		<div class=hide>
			<input type="text" id="report_config_id"  name="report_config_id"  value="{report_config_id}" />
		</div>		
		<div class="uc1">		
				<table class="tableStyle1"  >
														
					<tr>
						<td class="right">報表匯出格式：</td>
						<td>
						<DIV CLASS="hide">
							<input type="radio"  name="format"  />MS Word   <br>
							<input type="radio"  name="format" />MS Excel <br>						
						</DIV>
						<input type="radio"  name="format"  value="html" checked/>HTML<br>	
						<input type="radio"  name="format"  value="pdf"/>PDF <br>
											
						</td>						
					</tr>		
				</table>
		</div>
		<div class="uc2">				
			<input class="labButton" name="bt_export" id="bt_export" type="button"  onClick="export_report()" value="產出"   />
			<img id="wait_process" class='hide' src='templates/bhrsp/images/processing.gif'  title='背景處理中，請稍侯' height="40"/>				
		</div>
		</form>
	</div>		
	
	<div id="dis_setting" class="labDiv"   >
		<form method="post" id="formPost" >	
		<div class=hide>
			<input type="text" id="report_config_id"  name="report_config_id"  value="{report_config_id}" />
			<input type="hidden" name="method"  value="C" />
		</div>		
		<div class="uc1">
				<table class="tableStyle1"  >
					<tr>
						<td class="label">一般：</td>
						<td></td>					
					</tr>				
					<tr>
						<td class="right">評鑑期間：</td>
						<td>本次鑑定結果匯總表，評鑑期間<input type="text" name="report_begin_date"  id="report_begin_date"  value="{report_begin_date}" size="8"/>~<input type="text"  name="report_end_date"  id="report_end_date"    value="{report_end_date}"  size="8"/></td>					
					</tr>				
						
					<tr>
						<td class="right">異常評鑑表：</td>
						<td>不同評鑑者評鑑結果相差<input type="text"  name="threshold_interval"   id="threshold_interval"   value="{abnormal_val}"  size="3"/>級數(含)以上列為異常。
						<input type="button" value="列出名單">
						</td>								
					</tr>																
				</table>
		</div>
		<div class="uc2">	
		</div>
		</form>
	</div>	
	
	
	<!-- 頁面(開始) -->
	<div id="dis_report_info" class="labDiv" style="display: block;">
		<form method="post" id="formPost" >	
		<div class=hide>
			<input type="text" id="report_config_id"  name="report_config_id"  value="{report_config_id}" />
			<input type="hidden" name="method"  value="C" />
		</div>		
		<div class="uc1">			

				<table class="tableStyle1"  >
					<tr>
						<td class="label">基本信息：</td>
						<td></td>					
					</tr>				
					<tr>
						<td class="right">報表編號：</td>
						<td>
							<input type="text" name="report_config_code" class="contxt" value="{report_config_code}" />
							
							
						</td>
					
					</tr>				
					<tr>
						<td class="right">報表簡要說明：</td>
						<td><textarea name="report_config_desc"  cols="60" rows="5">{report_config_desc}</textarea></td>
					</tr>		
				</table>
		</div>
		<div class="uc2">	
		</div>
		</form>
	</div>
	
</div></body>


<script type="text/javascript">
$(function() {				
	$('#dis_report_info').dashpanel({
		dialog_title:"{DialogTitle}",
		element_id:'{elementID}',
		close_after_save:true,
		save_url:'/hrd/function/saveOrUpdate/save_report_config.php'			
	});			
	
	$('#dis_setting').dashpanel({
		dialog_title:"{DialogTitle}",
		element_id:'{elementID}',
		close_after_save:false,
		save_url:'/hrd/function/saveOrUpdate/save_report_config.php'			
	});				
	
	$('#dis_person').dashpanel({
		dialog_title:"{DialogTitle}",
		element_id:'{elementID}',
		close_after_save:false,
		trigger_element:['report-personal_list_list'],
		save_url:'/hrd/function/saveOrUpdate/save_report_class_personal.php'
	});		

	$('#dis_company').dashpanel({
		dialog_title:"{DialogTitle}",
		element_id:'{elementID}',
		close_after_save:false,
		trigger_element:['report-company_list_list'],
		save_url:'/hrd/function/saveOrUpdate/save_report_class_company.php'
	});		
	
	$('#dis_group').dashpanel({
		dialog_title:"{DialogTitle}",
		element_id:'{elementID}',
		close_after_save:false,
		trigger_element:['report-group_list_list'],
		save_url:'/hrd/function/saveOrUpdate/save_report_class_group.php'
	});		
	
	bind_click("#clickAllReport",'#dis_company','company_report_title_id[]');
	bind_click("#clickAllReport",'#dis_person','report_title_id[]');
	bind_click("#clickAllReport",'#dis_group','group_report_title_id[]');

	
	init_tab('container_{elementID}');
	
	
	
}); 


function export_report()
{
	var format = $('input[name=format]:checked').val();
	
	var msg = {
		id : 'g3_msg',
		width : 500,
		height : 400,
		modal : true,
		type : 'url',
		show : "",
		hide : "",
		title : "產生報表",
		body : "/hrd/function/export/export_report.php?format="+format ,
		buttons : {
			"關閉" : function() {
				closeDialog(this.id);
			}
		}
	};
	openDialog(msg);
}


function report_person_delete(id)
{	
	var sels = $("#" + id).jqGrid('getGridParam', 'selrow');
	if (sels) {
		var rowdata = $("#" + id).jqGrid("getRowData", sels);
		//console.log(rowdata);
		 jzsoft.grid.sendPost(id,'/hrd/function/delete/delete_person_report.php?report_config_id='+$('#report_config_id').val());
		 $("#"+id).jqGrid().trigger("reloadGrid");
	} else {
		$("#" + id).message("請選擇要刪除的項目！");
	}
}

function report_group_delete(id)
{	
	var sels = $("#" + id).jqGrid('getGridParam', 'selarrrow');
	
	if (sels) {
		var rowdata = $("#" + id).jqGrid("getRowData", sels);
		 jzsoft.grid.sendPost(id,'/hrd/function/delete/delete_group_report.php?report_config_id='+$('#report_config_id').val());
		
		 var o_counts=$("#" + id).getGridParam("reccount");
		 var sel_counts=sels.length;		
		 if(o_counts==sel_counts)
		{
			 $("#"+id).jqGrid("clearGridData", true).trigger("reloadGrid");
		}
		else
		{
			$("#"+id).jqGrid().trigger("reloadGrid");
		}
		
	} else {
		$("#" + id).message("請選擇要刪除的項目！");
	}
}


function report_company_delete(id)
{	
	var sels = $("#" + id).jqGrid('getGridParam', 'selarrrow');
	
	if (sels) {
		var rowdata = $("#" + id).jqGrid("getRowData", sels);
		 jzsoft.grid.sendPost(id,'/hrd/function/delete/delete_company_report.php?report_config_id='+$('#report_config_id').val());
		
		 var o_counts=$("#" + id).getGridParam("reccount");
		 var sel_counts=sels.length;		
		 if(o_counts==sel_counts)
		{
			 $("#"+id).jqGrid("clearGridData", true).trigger("reloadGrid");
		}
		else
		{
			$("#"+id).jqGrid().trigger("reloadGrid");
		}
		
	} else {
		$("#" + id).message("請選擇要刪除的項目！");
	}
}

function change_unit(obj)
{
	$('#evaluator_list').val(obj.value);
	if(obj.value=='all')
	{
		$('#block_pick_unit').addClass('hide');
		
	}
	else
	{
		$('#block_pick_unit').removeClass('hide');
	}	
}

function change_job(obj)
{
	$('#evaluator_list').val(obj.value);
	if(obj.value=='all')
	{
		$('#block_pick_job').addClass('hide');
		
	}
	else
	{
		$('#block_pick_job').removeClass('hide');
	}	
}

					
	
</script>


</html>