<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>edit</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/little2.css"  />

</head>

<body><div  id="container_{elementID}"  data-from="{From_elementID}" >
<form method="post" id="formPost" action="">			
	<input type="hidden" name="report_config_id"  id="report_config_id" class="contxt" value="{report_config_id}" />
	<div class="labMenu">
		<div class="lable {display_report_info}"  dis="dis_report_info"   >{$lang.Information}</div>
		<div class="lable {display_mail_tpl} hide"  dis="dis_mail_tpl"  >通知訊息</div>	
		<div class="lable {display_setting}"  dis="dis_setting"     >參數設定</div>
		<div class="lable {display_group}"  dis="dis_group"     >團體報表設定</div>
		<div class="lable {display_person}"  dis="dis_person"    >個人報表設定</div>
		<div class="lable {display_reportee} hide"  dis="dis_reportee"    >評鑑關係</div>
		<div class="lable {display_rexport}"  dis="dis_export"     >產生報表</div>		
		<div class="lable {display_rexport}"  dis="dis_report_personal_list"  style="background-color: yellow;">個人報表列表</div>		
		<div class="lable {display_rexport}"  dis="dis_report_list"  >團體報表列表</div>		
	</div>

	<!-- 報表列表 -->
	<div id="dis_report_personal_list" class="labDiv"  style="display: block;">	
		<table class="tableStyle1"  style="width:100%"><tr><td>{container_report-personal_list}</td></tr></table>		
	</div>

	<!-- 個人報表 -->
	<div id="dis_person" class="labDiv"   >
		<div class="uc1">	
				<input type="hidden" name="report_config_id"  id="report_config_id" class="contxt" value="{report_config_id}" />
				<table class="tableStyle1"   >
					<tr>
						<td class="label" >範圍設定：</td>
						<td >								
						</td>					
					</tr>				
					<tr>
						<td class="left"  colspan="2"> 	
							<input type="checkbox" name="code1"  class='hide'>所有受評人<p>							
							<div class='hide'>
							<input type="checkbox" name="code2" >指定特定人員<input type="button" value="挑選名單">
							</div>
						</td>							
					</tr>
					<tr>
						<td class="label" >個人報表種類：</td>
						<td >								
						</td>					
					</tr>				
					<tr>
						<td class="left"  colspan="2">
							<input type="checkbox" name="code1" >全選（全體回饋明細除外 ）<p>
							<!-- BEGIN PERSON_REPORT -->							
							<div style="margin-right:10px"><input type="checkbox" name="report_title_id[]"  id="report_title_id[]"  value="{PERSON_REPORT.report_title_id}" >{PERSON_REPORT.report_title}</div>
							<!-- END PERSON_REPORT -->													
						</td>							
					</tr>			
				</table>
		</div>
		<div class="uc2">
		</div>
	</div>	

	<!-- 團體報表 -->
	<div id="dis_group" class="labDiv"   >
		<div class="uc1">	
				<input type="hidden" name="report_config_id"  id="report_config_id" class="contxt" value="{report_config_id}" />
				<table class="tableStyle1"   >
					<tr>
						<td class="label" >範圍設定：</td>
						<td >								
						</td>					
					</tr>				
					<tr>
						<td class="left"  colspan="2"> 	
							<input type="checkbox" name="code1" >該評鑑表的所有受評人(個人 vs 全體)<p>
							<input type="checkbox" name="code2" >個人平均成績與部門平均成績比較(個人 vs 全體)	<input type="button" value="挑選部門"><p>
							<input type="checkbox" name="code3"  >部門平均成績與總體平均成績比較(個人 vs 全體)	<input type="button" value="挑選部門"><p>
							<input type="checkbox" name="code"  >部門與部門間的平均數比較(個人 vs 全體)	<input type="button" value="挑選部門"><p>
						</td>
					</tr>	
					<tr>
						<td class="label" >團體報表種類：</td>
						<td >								
						</td>					
					</tr>				
					<tr>
						<td class="left"  colspan="2"> 	
							<input type="checkbox" name="code1" >全選<p>
							<input type="checkbox" name="code2" >團體總覽
							<input type="checkbox" name="code3" >團體雷達圖<p>
							<input type="checkbox" name="code4" >團體比較分析
							<input type="checkbox" name="code5" >開放式建議<p>
							<input type="checkbox" name="code6" >團體弱項分析
							<input type="checkbox" name="code6" >團體明細資料<p>
							<input type="checkbox" name="code6" >個人認知落差分析
							<input type="checkbox" name="code6" >各職能360度明細<p>
							<input type="checkbox" name="code6" >個人落點區間分布圖
							<input type="checkbox" name="code6" >未完成/部分完成名單<p>							
						</td>
					</tr>													
				</table>
		</div>
		<div class="uc2">
		</div>
	</div>	
	<div id="dis_export" class="labDiv"   >
		<div class="uc1">		
				<input type="hidden" name="report_config_id"  id="report_config_id" class="contxt" value="{report_config_id}" />
				<table class="tableStyle1"  >
														
					<tr>
						<td class="right">報表匯出格式：</td>
						<td>
						<DIV CLASS="hide">
						<input type="radio"  name="format"  />MS Word   <br>
						<input type="radio"  name="format" />MS Excel <br>
						<input type="radio"  name="format" />PDF <br>
						</DIV>
						<input type="radio"  name="format" />HTML<br>
						
						</td>					
					</tr>		
				</table>
		</div>
		<div class="uc2">
			<input class="labButton" name="bt_save" id="bt_save" type="button"  value="產出"   />	
		</div>
	</div>		
	
	<div id="dis_setting" class="labDiv"   >
		<div class="uc1">		
				<input type="hidden" name="report_config_id"  id="report_config_id" class="contxt" value="{report_config_id}" />
				<table class="tableStyle1"  >
					<tr>
						<td class="label">一般：</td>
						<td></td>					
					</tr>				
					<tr>
						<td class="right">基準值：</td>
						<td><input type="text" name="base_value"  id="base_value" class="contxt" value="{base_value}" /></td>					
					</tr>				
					<tr>
						<td class="right">平均匯出格式：</td>
						<td>
							<input type="radio"  name="avg_method"  checked/>所有人平均   
							<div class='hide'>
								<input type="radio"  name="avg_method"  />所有評鑑維度平均
							</div>
						</td>				
					</tr>							
					
					<tr class="hide">
						<td class="right">剔除無效評鑑表：</td>
						<td>同一選項達<input type="text" name="code"   value="100"  size="5"/>%(含)以上相同則剔除。(填0代表不易除)
						<input type="button" value="列出名單">
						</td>
								
					</tr>				
							
							
							
					<tr>
						<td class="label">團體報表參數：</td>
						<td></td>					
					</tr>											
					<tr>
						<td class="right">優勢/待發展臨界值：</td>
						<td>0.5<input type="text" name="code" class="contxt hide" value="0.5"></td>					
					</tr>													
					<tr>
						<td class="right">區間大小：</td>
						<td>0.25<input type="text" name="code" class="contxt hide" value="0.25" /></td>					
					</tr>															
					<tr>
						<td class="right">迭代次數：</td>
						<td>2<input type="text" name="code" class="contxt hide" value="2" /></td>					
					</tr>				

					<tr>
						<td class="label">個人報表維度權重設定：</td>
						<td></td>					
					</tr>	
					<tr>
						<td class="right">直屬主管：</td>
						<td>1.0<input type="text" name="code" class="contxt hide" value="1.0" /></td>					
					</tr>		
					<tr>
						<td class="right">同事：</td>
						<td>1.0<input type="text" name="code" class="contxt hide" value="1.0" /></td>					
					</tr>				
					<tr>
						<td class="right">部屬：</td>
						<td>1.0<input type="text" name="code" class="contxt hide" value="1.0" /></td>					
					</tr>											
				</table>
				
			
		</div>
		<div class="uc2">

		</div>
	</div>	
	
	
	<!-- 頁面(開始) -->
	<div id="dis_report_info" class="labDiv" >
		<div class="uc1">			

				<table class="tableStyle1"  >
					<tr>
						<td class="label">基本信息：</td>
						<td></td>
					
					</tr>				
					<tr>
						<td class="right">報表編號：</td>
						<td>
							<input type="text" name="report_config_code"  id="report_config_code" class="contxt" value="{report_config_code}" />
							<input type="hidden" name="report_config_id"  id="report_config_id" class="contxt" value="{report_config_id}" />
						</td>					
					</tr>				
					<tr>
						<td class="right">報表簡要說明：</td>
						<td><textarea name="report_config_desc"  id="report_config_desc" cols="60" rows="5">{report_config_desc}</textarea></td>
				
					</tr>			
								
					<tr>
						<td class="right">匯出的職能模型：</td>
						<td>
							<select id="competency_model_id" name="competency_model_id">								
							<!-- BEGIN COMPETENCY_MODE -->							
								<option value="{COMPETENCY_MODE.competency_model_id}" {COMPETENCY_MODE.selected}>{COMPETENCY_MODE.competency_model_title}</option>
							<!-- END COMPETENCY_MODE -->
							</select>
						</td>					
					</tr>	
				</table>
				
			
		</div>
		<div class="uc2">
	
		</div>
	</div>
	
	
</form>
</div></body>


<script type="text/javascript">
	$(function() {				
		$('#dis_report_info').dashpanel({
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			save_url:'/hrd/function/saveOrUpdate/save_report_config.php'			
		});			
		
		$('#dis_setting').dashpanel({
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			save_url:'/hrd/function/saveOrUpdate/save_report_config.php'			
		});			
		

		$('#dis_person').dashpanel({
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			save_url:'/hrd/function/saveOrUpdate/save_report_config.php'			
		});			
		
		
		
		//
		
		
		$('#dis_competency_info').dashpanel({
			dialog_title:"{DialogTitle}",
			save:function(e){			
				var o = {
						url:'/hrd/function/saveOrUpdate/save_competency_info.php',
						onSuccess:function(data){	
								var dialogID=$(e.target).parentsUntil('div.ui-dialog').last().attr('id');
								closeDialog(dialogID);
								$("#tabPanel").refreshitem();								
							}					
				}				
				var msg=mypost(o);				
			}
		});		
		init_tab('container_{elementID}');
	}); 
</script>


</html>