<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>edit</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/little2.css"  />

</head>

<body><div  id="container_{elementID}"  data-from="{From_elementID}" >
<form method="post" id="formPost" action="">			
	<input type="hidden" name="report_config_id"  id="report_config_id" class="contxt" value="{report_config_id}" />
	<div class="labMenu">
		<div class="lable {display_report_info}"  dis="dis_report_info"   style="background-color: yellow;">{$lang.Information}</div>
		<div class="lable {display_mail_tpl} hide"  dis="dis_mail_tpl"  >通知訊息</div>	
		<div class="lable {display_setting}"  dis="dis_setting"     >參數設定</div>
		<div class="lable {display_person}"  dis="dis_person"    >個人報表設定</div>
		<div class="lable {display_group}"  dis="dis_group"     >團體報表設定</div>
		<div class="lable {display_reportee} hide"  dis="dis_reportee"    >評鑑關係</div>
		<div class="lable {display_rexport}"  dis="dis_export"     >產生報表</div>		
		<div class="lable {display_rexport}"  dis="dis_report_personal_list"  >個人報表列表</div>		
		<div class="lable {display_rexport}"  dis="dis_report_group_list"  >團體報表列表</div>		
	</div>


	<!-- 報表列表 -->
	<div id="dis_report_personal_list" class="labDiv"  >	
		<table class="tableStyle1"  style="width:100%"><tr><td>{container_report-personal_list}</td></tr></table>		
	</div>
	

	<!-- 團體報表列表 -->
	<div id="dis_report_group_list" class="labDiv"  >	
		<table class="tableStyle1"  style="width:100%"><tr><td>{container_report-group_list}</td></tr></table>		
	</div>		


	<!-- 個人報表 -->
	<div id="dis_person" class="labDiv"   >
		<div class="uc1">	
				<!-- 關連的系統參數 -->
				<div class='hide'>
					<input type="text" name="report_config_id"  id="report_config_id" class="contxt" value="{report_config_id}" />
					<input type="text" name="basis_evaluation_table_id"  id="basis_evaluation_table_id" class="contxt" value="{basis_evaluation_table_id}" />
					<input type="text" name="evaluator_list"  id="evaluator_list" class="contxt" value="all" />				
				</div>

				
				<table class="tableStyle1"   >
					<tr>
						<td class="label" >範圍設定：</td>
						<td >								
						</td>					
					</tr>				
					<tr>
						<td class="left"  colspan="2"> 	
							<div  style="float:left">
							<select onchange="change_evaluator(this)">
								<option value="all">所有受評人</option>
								<option value="spec">指定特定人員</option>
							</select></div>
							<div style="float:left;margin-left:10px" class='hide'  id="block_pick_user">{container_pick_report-user}</div>							
						</td>							
					</tr>
				</table>

				<table class="tableStyle1 hide">
						<tr>
							<td class="label">關鍵字：</td>
							<td>
								<input type="text" name="job_title_keyword"  value="" />
								<input class="labButton {display_pick}" name="bt_inner_search" id="bt_inner_search" type="button"  value="搜尋"   />
							</td>
						</tr>
				</table>
				
				<table class="tableStyle1">					
					<tr>
						<td class="label" >個人報表種類：</td>
						<td >								
						</td>					
					</tr>				
					<tr>
						<td class="left"  colspan="2">
							<input type="checkbox" name="clickAllReport"  id="clickAllReport" >全選（全體回饋明細除外 ）<p>
							<!-- BEGIN PERSON_REPORT -->							
							<div style="margin-right:10px;float:left;width:200px"><input type="checkbox" name="personal_report_title_id[]"  id="report_title_id[]"  value="{PERSON_REPORT.report_title_id}" >{PERSON_REPORT.report_title}</div>
							<!-- END PERSON_REPORT -->													
						</td>							
					</tr>		
			</table>	
		</div>
		<div class="uc2">
			<input class="labButton" name="bt_pick" id="bt_pick" type="button"  value="保存"   />
			<input class="hide" name="bt_save" id="bt_save" type="button"     />
		</div>
	</div>	

	<!-- 團體報表 -->
	<div id="dis_group" class="labDiv"   >
		<div class="uc1">	
				<!-- 關連的系統參數 -->
				<div class='hide'>
					<input type="text" name="report_config_id"  id="report_config_id" class="contxt" value="{report_config_id}" />
					<input type="text" name="basis_evaluation_table_id"  id="basis_evaluation_table_id" class="contxt" value="{basis_evaluation_table_id}" />
					<input type="text" name="evaluator_list"  id="evaluator_list" class="contxt" value="all" />				
				</div>
				
			
				
				<table class="tableStyle1"   >					
					<tr>
						<td class="label" >
							範圍設定：
						</td>
						<td >		
							子數
							<select id='comparison_group_id'  name='comparison_group_id'  onchange='type_change(this)'>
								 <option value="0"></option>
								 <!-- BEGIN DEP -->
								 <option value='{DEP.group_id}'>{DEP.group_title}-{DEP.group_id}</option>	
								 <!-- END DEP -->					
							</select>		
							vs	 母數
							<select id="population_group_id"  name="population_group_id">
								<option value="0">全體</option>		
								 <!-- BEGIN DEP -->
								 <option value='{DEP.group_id}'>{DEP.group_title}-{DEP.group_id}</option>	
								 <!-- END DEP -->										
							</select>						
						</td>					
					</tr>		
					
					
											
					<tr>
						<td class="left"  colspan="2"> 	
							
					</td>
					</tr>	
					<tr>
						<td class="label" >團體報表種類：</td>
						<td >								
						</td>					
					</tr>						
					<tr>
						<td class="left"  colspan="2">
							
							
							<div id="type_group">
							<input type="checkbox" name="clickAllReport"  id="clickAllReport" >全選（全體回饋明細除外 ）<p>
							<!-- BEGIN GROUP_REPORT -->							
							<div style="margin-right:10px" ><input type="checkbox" name="report_title_id[]"  id="report_title_id[]"  value="{GROUP_REPORT.report_title_id}" >{GROUP_REPORT.report_title}</div>
							<!-- END GROUP_REPORT -->
							</div>
							
							<div id="type_versus" class='hide' >
							<input type="checkbox" name="clickAllReport"  id="clickAllReport" >全選（全體回饋明細除外 ）<p>
							<!-- BEGIN VERSUS_REPORT -->							
							<div style="margin-right:10px;"><input type="checkbox" name="report_title_id[]"  id="report_title_id[]"  value="{VERSUS_REPORT.report_title_id}">{VERSUS_REPORT.report_title}</div>
							<!-- END VERSUS_REPORT -->								
							</div>													
						</td>				
						
						
									
					</tr>								
				</table>
		</div>
		<div class="uc2">
		</div>
	</div>	
	
	<div id="dis_export" class="labDiv"   >
		<div class="uc1">		
				<!-- 關連的系統參數 -->
				<div class='hide'>
					<input type="text" name="report_config_id"  id="report_config_id" class="contxt" value="{report_config_id}" />
					<input type="text" name="basis_evaluation_table_id"  id="basis_evaluation_table_id" class="contxt" value="{basis_evaluation_table_id}" />
					<input type="text" name="evaluator_list"  id="evaluator_list" class="contxt" value="all" />				
				</div>
			
				
				<table class="tableStyle1"  >
														
					<tr>
						<td class="right">報表匯出格式：</td>
						<td>
						<DIV CLASS="hide">
							<input type="radio"  name="format"  />MS Word   <br>
							<input type="radio"  name="format" />MS Excel <br>						
						</DIV>
						<input type="radio"  name="format"  value="html" checked/>HTML<br>	
						<input type="radio"  name="format"  value="pdf"/>PDF <br>
											
						</td>					
					</tr>		
				</table>
		</div>
		<div class="uc2">
			<input class="labButton" name="bt_export" id="bt_export" type="button"  onClick="export_report()" value="產出"   />
			<img id="wait_process" class='hide' src='templates/bhrsp/images/processing.gif'  title='背景處理中，請稍侯' height="40"/>	
		</div>
		
	</div>		
	
	<div id="dis_setting" class="labDiv"   >
		<div class="uc1">		
				<!-- 關連的系統參數 -->
				<div class='hide'>
					<input type="text" name="report_config_id"  id="report_config_id" class="contxt" value="{report_config_id}" />
					<input type="text" name="basis_evaluation_table_id"  id="basis_evaluation_table_id" class="contxt" value="{basis_evaluation_table_id}" />
					<input type="text" name="evaluator_list"  id="evaluator_list" class="contxt" value="all" />				
				</div>
				
				<table class="tableStyle1"  >
					<tr>
						<td class="label">一般：</td>
						<td></td>					
					</tr>				
					<tr>
						<td class="right">基準值：</td>
						<td><input type="text" name="base_value"  id="base_value" class="contxt" value="{base_value}" /></td>					
					</tr>				
					<tr>
						<td class="right">平均匯出格式：</td>
						<td>
							<input type="radio"  name="avg_method"  value="a"  {avg_method_a_checked}/>所有人平均   
							<input type="radio"  name="avg_method"  value="g"  {avg_method_g_checked}/>所有評鑑維度平均
							
						</td>				
					</tr>							
					
					<tr class="hide">
						<td class="right">剔除無效評鑑表：</td>
						<td>同一選項達<input type="text" name="code"   value="100"  size="5"/>%(含)以上相同則剔除。(填0代表不易除)
						<input class='hide' type="button" value="列出名單">
						</td>
								
					</tr>				
							
							
							
					<tr>
						<td class="label">團體報表參數：</td>
						<td></td>					
					</tr>											
					<tr>
						<td class="right">優勢/待發展臨界值：</td>
						<td><input type="text" name="threshold_interval" class="contxt"  value="{threshold_interval}"></td>					
					</tr>													
					<tr>
						<td class="right">區間大小：</td>
						<td><input type="text" name="block_interval" class="contxt " value="{block_interval}" /></td>					
					</tr>															
					<tr>
						<td class="right">迭代次數：</td>
						<td><input type="text" name="interval_count" class="contxt " value="{interval_count}" /></td>					
					</tr>				

					<tr>
						<td class="label">個人報表維度權重設定：</td>
						<td></td>					
					</tr>	
					<tr>
						<td class="right">直屬主管：</td>
						<td>1.0<input type="text" name="code" class="contxt hide" value="1.0" /></td>					
					</tr>		
					<tr>
						<td class="right">同事：</td>
						<td>1.0<input type="text" name="code" class="contxt hide" value="1.0" /></td>					
					</tr>				
					<tr>
						<td class="right">部屬：</td>
						<td>1.0<input type="text" name="code" class="contxt hide" value="1.0" /></td>					
					</tr>											
				</table>
				
			
		</div>
		<div class="uc2">

		</div>
	</div>	
	
	
	
	<!-- 頁面(開始) -->
	<div id="dis_report_info" class="labDiv"  style="display: block;">
		<div class="uc1">			

				<!-- 關連的系統參數 -->
				<div class='hide'>
					<input type="text" name="report_config_id"  id="report_config_id" class="contxt" value="{report_config_id}" />
					<input type="text" name="basis_evaluation_table_id"  id="basis_evaluation_table_id" class="contxt" value="{basis_evaluation_table_id}" />
					<input type="text" name="evaluator_list"  id="evaluator_list" class="contxt" value="all" />				
				</div>
				
				<table class="tableStyle1"  >
					<tr>
						<td class="label">基本信息：</td>
						<td></td>					
					</tr>
									
					<tr>
						<td class="right">使用的的評鑑表名稱：</td>
						<td>
								{evaluation_table_title}
						</td>					
					</tr>						
					
					
					<tr>
						<td class="right">報表編號：</td>
						<td>
							<input type="text" name="report_config_code"  id="report_config_code" class="contxt" value="{report_config_code}" />						
						</td>					
					</tr>				
					<tr>
						<td class="right">報表簡要說明：</td>
						<td><textarea name="report_config_desc"  id="report_config_desc" cols="60" rows="5">{report_config_desc}</textarea></td>				
					</tr>			
								
					<tr>
						<td class="right">使用的的職能模型：</td>
						<td>
							<select id="competency_model_id" name="competency_model_id"  disabled>								
							<!-- BEGIN COMPETENCY_MODE -->							
								<option value="{COMPETENCY_MODE.competency_model_id}" {COMPETENCY_MODE.selected} >{COMPETENCY_MODE.competency_model_title}</option>
							<!-- END COMPETENCY_MODE -->
							</select>
						</td>					
					</tr>	
				</table>
				
			
		</div>
		<div class="uc2">
			
		</div>
	</div>
	
	
</form>
</div></body>


<script type="text/javascript">

function report_person_download(id)
{	
	var sels = $("#" + id).jqGrid('getGridParam', 'selrow');
	if (sels) {
		var rowdata = $("#" + id).jqGrid("getRowData", sels);
	//	url += "?entity.key=" + rowdata.key;
		//alert(rowdata.key);
		  // jzsoft.grid.sendPost(id,'/hrd/function/export/report_download.php?population_group_id='+rowdata.key+'&report_config_id='+$('#report_config_id').val());
	       openDialog({title : '下載報告',body:'/hrd/function/export/report_download.php?user_id='+rowdata.key+'&report_config_id='+$('#report_config_id').val()});
	} else {
		$("#" + id).message("請選擇要下載的項目！");
	}
}

function report_person_delete(id)
{	
	var sels = $("#" + id).jqGrid('getGridParam', 'selrow');
	if (sels) {
		var rowdata = $("#" + id).jqGrid("getRowData", sels);
		//console.log(rowdata);
		 jzsoft.grid.sendPost(id,'/hrd/function/delete/delete_person_report.php?report_config_id='+$('#report_config_id').val());
		 $("#"+id).jqGrid().trigger("reloadGrid");
	} else {
		$("#" + id).message("請選擇要刪除的項目！");
	}
}

function report_group_download(id)
{	
	var sels = $("#" + id).jqGrid('getGridParam', 'selrow');
	if (sels) {
		var rowdata = $("#" + id).jqGrid("getRowData", sels);
	//	url += "?entity.key=" + rowdata.key;
		//alert(rowdata.key);
		  // jzsoft.grid.sendPost(id,'/hrd/function/export/report_download.php?population_group_id='+rowdata.key+'&report_config_id='+$('#report_config_id').val());
	       openDialog({title : '下載報告',body:'/hrd/function/export/report_download.php?population_group_id='+rowdata.key+'&report_config_id='+$('#report_config_id').val()});
	} else {
		$("#" + id).message("請選擇要下載的項目！");
	}
}

function report_group_delete(id)
{	
	var sels = $("#" + id).jqGrid('getGridParam', 'selrow');
	if (sels) {
		var rowdata = $("#" + id).jqGrid("getRowData", sels);
		 jzsoft.grid.sendPost(id,'/hrd/function/delete/delete_group_report.php?report_config_id='+$('#report_config_id').val());
			 
		 var o_counts=$("#" + id).getGridParam("reccount");
		 var sel_counts=sels.length;		
		 if(o_counts==sel_counts)
		{
			 $("#"+id).jqGrid("clearGridData", true).trigger("reloadGrid");
		}
		else
		{
			$("#"+id).jqGrid().trigger("reloadGrid");
		}		 
		 
		 
	} else {
		$("#" + id).message("請選擇要刪除的項目！");
	}
}

function export_report()
{
	var format = $('input[name=format]:checked').val();
	
	var msg = {
		id : 'g3_msg',
		width : 500,
		height : 400,
		modal : true,
		type : 'url',
		show : "",
		hide : "",
		title : "產生報表",
		body : "/hrd/function/export/export_report.php?format="+format ,
		buttons : {
			"關閉" : function() {
				closeDialog(this.id);
			}
		}
	};
	openDialog(msg);
	
/*
	openDialog({
		id : 'g3_dialog',
		width : 500,
		height : 400,
		modal : true,
		type : 'url',
		show : "",
		hide : "",
		title : "產生報表",
		body : "/hrd/function/export/export_report.php" ,
		init : null,
		buttons : null
	});
*/	
}

	$(function() {		
		
		
		$('#dis_report_info').dashpanel({
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			save_url:'/hrd/function/saveOrUpdate/save_report_config.php'			
		});			
		
		$('#dis_setting').dashpanel({
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			close_after_save:false,
			save_url:'/hrd/function/saveOrUpdate/save_report_config.php'			
		});			
		

		$('#dis_person').dashpanel({
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			close_after_save:false,
			trigger_element:['report-personal_list_list'],
			pick_url:'/hrd/function/saveOrUpdate/save_report_config.php',		
			pick_list_id:'pick_report-user_list',	
			save_url:'/hrd/function/saveOrUpdate/save_report_config.php'			
		});			
		
		
		
		$('#dis_group').dashpanel({
			dialog_title:"{DialogTitle}",
			element_id:'{elementID}',
			close_after_save:false,
			trigger_element:['report-group_list_list'],
			save_url:'/hrd/function/saveOrUpdate/save_report_basis_group.php'			
		});			
		
		
		
		
		bind_click("#clickAllReport",'#type_group','report_title_id[]');
		bind_click("#clickAllReport",'#type_versus','report_title_id[]');
		bind_click("#clickAllReport",'#dis_person','personal_report_title_id[]');
		

		

		
		
		//
		
		
		$('#dis_competency_info').dashpanel({
			dialog_title:"{DialogTitle}",
			save:function(e){			
				var o = {
						url:'/hrd/function/saveOrUpdate/save_competency_info.php',
						onSuccess:function(data){	
								var dialogID=$(e.target).parentsUntil('div.ui-dialog').last().attr('id');
								closeDialog(dialogID);
								$("#tabPanel").refreshitem();								
							}					
				}				
				var msg=mypost(o);				
			}
		});		
		init_tab('container_{elementID}');
	}); 
	

	function type_change(obj)
	{		
		
	     $("input[type='checkbox']","#dis_group").each(function() {
	         $(this).prop("checked", false);
	     });     
		
		//console.log(obj.value);
		if(obj.value=="0")
		{
			$('#type_versus').addClass('hide');
			$('#type_group').removeClass('hide');	
		}
		else
		{			
			$('#type_versus').removeClass('hide');		
			$('#type_group').addClass('hide');			
		}											
	}

	function change_evaluator(obj)
	{
		$('#evaluator_list').val(obj.value);
		if(obj.value=='all')
		{
			$('#block_pick_user').addClass('hide');
			
		}
		else
		{
			$('#block_pick_user').removeClass('hide');
		}
		//block_pick_user
	}
	
	
</script>


</html>