<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
</head>
<link rel="stylesheet" type="text/css" href="/hrd/Framework/little2.css"  />
<style>
.hide {display:none;}
</style>
<body>

												
				<div id="import_result_zone" class="tableStyle2" >
					<table id="import_result">
						<tr>	
							<td >{$lang.ItemTitle}</td>							
							<td >{$lang.ItemDesc}</td>
							
						</tr>			
						<!-- BEGIN SCALE -->
						<tr >
							
							<td id="{SCALE.evaluation_scale_item_id}">{SCALE.term}</td>							
							<td id="rown_umber">{SCALE.text}</td>
							
						</tr>						
						<!-- END SCALE -->
					</table>							
				</div>
		



</body>


</html>
