




<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>edit</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<style type="text/css">
.new {
	width: 18px;
	height: 18px;
	padding-right: 5px;
	float: right;
	background:
		url("/hrd/Framework/Themes/icons/3699.png")
		no-repeat scroll 0 0 transparent;
	cursor: pointer;
	background:
		url("/hrd/Framework/Themes/icons/3699.png")
		no-repeat scroll 0 0 transparent;
}

.save {
	width: 18px;
	height: 18px;
	padding-right: 5px;
	float: right;
	background:
		url("/hrd/Framework/Themes/icons/1619.png")
		no-repeat scroll 0 0 transparent;
	cursor: pointer;
}
</style>
<script type="text/javascript">
	function newEdit() {
		openDialog({
			id : 'edit_new',
			width : 500,
			height : 400,
			modal : true,
			type : 'url',
			show : "",
			hide : "",
			title : "目標設定精靈",
			body : "/hrd/system/performance/perf_annual_enterprise_target_c/new.jsp",
			buttons : {}
		});
	}

	$(document).ready(function() {
		jzsoft.grid("list", {
			url : '/hrd/performance/perfDepartOfAnnualEnterpriseTarget/pageList.html',
			postData : {
				'entity.perfAnnualEnterpriseTargetC.key' : $('input[name="key"]').val()
			},
			serializeRowData : function(postdata) {
				var data = '';
				$.each(postdata, function(name) {
					if (name == 'oper' || name == 'id' || postdata[name] == '') {
						return true;
					}
					data += "&entity." + name + "=" + postdata[name];
				});
				data += "&entity.perfAnnualEnterpriseTargetC.key=" + $('input[name="key"]').val();
				return data;
			},
			colNames : [ 'ID', '', '部門', '', '主管姓名', '指派資訊' ],
			colModel : [ {
				name : 'key',
				index : 'key',
				width : 55,
				hidden : true,
				editable : true
			}, {
				name : 'orgDepart.key',
				index : 'orgDepart.key',
				width : 80,
				hidden : true,
				editable : true
			}, {
				name : 'orgDepart.departName',
				index : 'orgDepart.departName',
				width : 80,
				formatter : 'lovFmatter',
				editrules : {
					required : false
				},
				formatoptions : {
					lovCode : 'DEPT',
					type : '1',
					fields : [ 'orgDepart.key', '', 'orgDepart.departName' ]
				}
			}, {
				name : 'hrEmployee.key',
				index : 'hrEmployee.key',
				width : 80,
				hidden : true,
				editable : true
			}, {
				name : 'hrEmployee.empName',
				index : 'hrEmployee.empName',
				width : 80,
				formatter : 'lovFmatter',
				editrules : {
					required : false
				},
				formatoptions : {
					lovCode : 'EMP',
					type : '1',
					fields : [ 'hrEmployee.key', '', 'hrEmployee.empName' ]
				}
			}, {
				name : 'note',
				index : 'note',
				width : 80,
				editable : true
			} ],
			width : '750',
			height : '100',
			pager : '#pager',
			rownumbers : true,
			multiselect : true,
		});

		jzsoft.grid.inlineMenu({
			grid : "list",
			paper : "pager",
			baseUrl : '/hrd/performance/perfDepartOfAnnualEnterpriseTarget/',
			saveService : 'saveOrUpdate.html',
			delService : 'delete.html',
		});

		$("input[name='deptNames']").jzlov({
			code : 'DEPT',
			type : '2',
			key : {
				id : 'deptIds',
				name : 'deptIds',
				value : ''
			},
			fields : [ "deptIds", "", "deptNames" ],
		});

		$("#button1").click(function() {
			var url = "/hrd/performance/perfAnnualEnterpriseTargetC/saveOrUpdate.html";
			var form = $('form').serialize();
			var params = "";
			var temp = form.split('&');
			for ( var i = 0; i < temp.length; i++) {
				var obj = temp[i].split('=');
				if (obj[1].Trim() != '') {
					params += '&entity' + '.' + temp[i];
				}
			}
			params = params.substring(1);
			sendPostJQueryAjax(url, params, function(data) {
				if (data.msg) { //如果成功提交 
					$().message(data.msg);
				} else {
					$().message("成功添加"); //提示資訊 ;
					setTimeout(function() {
						$('input[name="key"]').val(data['entity']['key']);
					}, 1000);
				}
			});

		});

		$(".addRow").click(function() {
			newEdit();
		});

		$(".delRow").click(function() {
			$('#assessmentItem').val("");
			$('#annualTarget').val("");
			$('#expectedCompletionDate').val("");
			$('#expectedDescription').val("");

		});

		$("#button2").click(function() {
			closeDialog("g3_dialog");
		});
	});
</script>
</head>
<body>

	<div id="edit_new"></div>
	<div class="nec1" style="height:500px;overflow: auto;">
		

	</div>
	<div class="nec2">
		<button id="button2" class="labButton" style="float: right;">取消</button>
		<button id="button1" class="labButton" style="float: right;">保存</button>
	</div>

</body>
</html>
