<body>
<input type="hidden" name='this_f_count' id="this_f_count" value="" />
<div align='center'><img src='./templates/bhrsp/images/processing.gif' /></div>
<div align='center'>
	<h1><span id='f_count'  name='f_count'>{f_count}</span>/<span id='count'  name='count'>{count}</span></h1>
</div>
</body>

<script>
init();
function init()
{
	var o = {
			url:'/hrd/function/export/send_email.php',
			data:{'request':1},
			onSuccess:function(data){	
				//console.log(data);			
				if(data.errormsg)
				{
					alert(data.errormsg);	
				}
				else
				{
					$('#f_count').html(data.f_count);				
					//$("#tabPanel").refreshitem();	
					if($('#this_f_count').length >0)
					{
						//alert('ok');
						setTimeout("init();", 100);
					}					
				}		
			}					
	}				
	var msg=mypost(o);				
}
</script>

