/*---------------------------------
	HTML ELEMENTS
-----------------------------------*/

.hide {display:none;}
.show {display:block;}
.transparent{
	color: white;
}
/*---------------------------------
	UTILITY
-----------------------------------*/
.center{text-align:center;}
.left{text-align:left;}
.right{text-align:right;}

.wid{width:90% ;}


.contxt 
{
	width:	98% ;
	
}


 table.tableStyle1 
{	
	margin-left: 20px;
	margin-top: 20px;
	
}

 td.label 
{
	color: #1C7EFC;
	font-weight: bold;
	padding-bottom: 8px ;
	padding-top: 6px ;
	height:40px;
}

td.item
{
	text-align:right;
	height:30px;
}



.tableStyle2 {
	margin:0px;padding:0px;
	width:98%;
	border:1px solid #aed0ea;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.tableStyle2 table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.tableStyle2 tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.tableStyle2 table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.tableStyle2 table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.tableStyle2 tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.tableStyle2 tr:hover td{
	background-color:#ffffff;
		

}
.tableStyle2 td{
	vertical-align:middle;
	
	background-color:#ffffff;

	border:1px solid #aed0ea;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:7px;
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	color:#000000;
}.tableStyle2 tr:last-child td{
	border-width:0px 1px 0px 0px;
}.tableStyle2 tr td:last-child{
	border-width:0px 0px 1px 0px;
}.tableStyle2 tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.tableStyle2 tr:first-child td{
		background:-o-linear-gradient(bottom, #d7ebf9 5%, #d7ebf9 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d7ebf9), color-stop(1, #d7ebf9) );
	background:-moz-linear-gradient( center top, #d7ebf9 5%, #d7ebf9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#d7ebf9", endColorstr="#d7ebf9");	background: -o-linear-gradient(top,#d7ebf9,d7ebf9);

	background-color:#d7ebf9;
	border:0px solid #aed0ea;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:12px;
	font-family:Arial;
	font-weight:bold;
	color:#2779aa;
}
.tableStyle2 tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #d7ebf9 5%, #d7ebf9 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d7ebf9), color-stop(1, #d7ebf9) );
	background:-moz-linear-gradient( center top, #d7ebf9 5%, #d7ebf9 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#d7ebf9", endColorstr="#d7ebf9");	background: -o-linear-gradient(top,#d7ebf9,d7ebf9);

	background-color:#d7ebf9;
}
.tableStyle2 tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.tableStyle2 tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

