.buttons {
	font-family: "Microsoft YaHei" !important;
	font-size: 12px;
	position: relative;
	border: 0px solid #eee;
	overflow: hidden;
	color: #000;
}
.buttons div.tDiv /*toolbar*/ {
	background: #fafafa url(images/buttons/bg.gif) repeat-x top;
	position: relative;
	border: 0px;
	overflow: hidden;
}

.buttons div.tDiv2 {
	float: left;
	clear: both;
	padding: 1px;
}

.buttons div.sDiv /*toolbar*/ {
	background: #fafafa url(images/buttons/bg.gif) repeat-x top;
	position: relative;
	border: 1px solid #ccc;
	border-top: 0px;
	overflow: hidden;
	display: none;
}

.buttons div.sDiv2 {
	float: left;
	clear: both;
	padding: 5px;
	padding-left: 5px;
	width: 1024px;
}

.buttons div.sDiv2 input,.flexigrid div.sDiv2 select {
	vertical-align: middle;
}

.buttons div.btnseparator {
	float: left;
	height: 25px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #fff;
	margin: 1px;
}

.buttons div.fbutton {
	float: left;
	display: block;
	cursor: pointer;
	padding: 1px;
}

.buttons div.fbutton div {
	float: left;
	padding: 1px 3px;
}

.buttons div.fbutton span {
	float: left;
	display: block;
	padding: 3px;
}

.buttons div.fbutton:hover,.buttons div.fbutton.fbOver {
	padding: 0px;
	border: 1px solid #ccc;
}

.buttons div.fbutton:hover div,.buttons div.fbutton.fbOver div {
	padding: 0px 2px;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

/*add button*/
.buttons div.fbutton .add {
	background: url(images/buttons/add.png) no-repeat center left;
}

/*delete button*/
.buttons div.fbutton .delete {
	background: url(images/buttons/close.png) no-repeat center left;
}

/*edit button*/
.buttons div.fbutton .edit {
	background: url(images/buttons/edit.png) no-repeat center left;
}

/*edit button*/
.buttons div.fbutton .search {
	background: url(images/buttons/searchbox_button.png) no-repeat center left;
}

/*edit button*/
.buttons div.fbutton .copy {
	background: url(images/buttons/redo.png) no-repeat center left;
}

/*edit button*/
.buttons div.fbutton .model {
	background: url(images/buttons/04.png) no-repeat center left;
}

/*arrow_right button*/
.buttons div.fbutton .arrow_right {
	background: url(images/buttons/arrow_right.png) no-repeat center left;
}

/*import button*/
.buttons div.fbutton .import
{
    background: url(images/buttons/import.png) no-repeat center left;
}

/*export button*/
.buttons div.fbutton .export
{
    background: url(images/buttons/export.png) no-repeat center left;
}

/*filter button*/
.buttons div.fbutton .filter
{
    background: url(images/buttons/filter.png) no-repeat center left;
}

/*view button*/
.buttons div.fbutton .view
{
    background: url(images/buttons/view.png) no-repeat center left;
}


/*add button*/
.buttons div.fbutton .add2 {
	background: url(images/buttons/add.png) no-repeat center left;
}

/*delete button*/
.buttons div.fbutton .delete2 {
	background: url(images/buttons/close.png) no-repeat center left;
}

/*edit button*/
.buttons div.fbutton .edit2 {
	background: url(images/buttons/edit.png) no-repeat center left;
}

/*edit button*/
.buttons div.fbutton .search2 {
	background: url(images/buttons/searchbox_button.png) no-repeat center left;
}