/*StyleAll*/
body {
	font-family: arial, verdana,  sans-serif;
	color:#878787;
	font-size:12px; 
	text-decoration: none;
	margin:0px;
	padding:0px;
	margin-left:auto;
	margin-right:auto;
}
img{
	border:none;
}
td {
	font-family: verdana,arial;
	color: #878787; 
	font-size: 12px; 
	text-decoration: none;
}
input {
	border-bottom-color: #878787; 
	border-bottom-width: 1px; 
	border-left-color: #878787; 
	border-left-width: 1px; 
	border-right-color: #878787; 
	border-right-width: 1px; 
	border-top-color: #878787; 
	border-top-width: 1px; 
	font-family: verdana,arial;
	color: #878787; 
	font-size: 12px; 
	padding-left: 1px
}
form {
	font-family: verdana,arial;
	color: #878787; 
	font-size: 12px; 
    margin:0px;
    padding:0px;
}
select {
	background-color: #FFFFFF;
	cursor: hand; 
	font-family: verdana,arial;
	color: #878787; 
	font-size: 12px; 
	padding-left: 2px
}
A ,A:link,A:active,A:visited{ 
	font-family: verdana,arial;
	font-size: 12px;
	text-decoration: none;
	color: #878787;
}
A:hover {
	color:  #005270;
	text-decoration: none;
	font-size: 12px;
}
/*login*/
.loginbody{
	background: url(images/login/loginbody.jpg) repeat-x;
	width:100%;
	text-align:center;
}
.loginframe{
	width:600px;
	height:300px;
	margin-left:auto;
	margin-right:auto;
	margin-top:130px;
	padding-top:30px;
	background: url(images/login/loginframe.jpg) no-repeat;
}
.loginframetop{
	width:550px;
	height:80px;
	text-align:right;
	clear:both;
}
.loginframebody{
	width:600px;
	height:200px;
	padding:0px;
	margin:0px;
	text-align:left;
}
.loginframeleft{
	width:245px;
	height:200px;
	float:left;
	text-align:left;
	margin-left:20px;
	margin-top:10px;
}
.loginframelefta{
	font-size:36px;
	color:#ACBCCD;
	padding:0px;
	margin:0px;
}
.loginframeleftb{
	font-size:10px;
	color:#ACBCCD;
	padding:0px;
	margin:0px;
}
.loginframeleftc{
	font-size:12px;
	color:#ACBCCD;
}
.loginframeform{
	width:300px;
	height:200px;
	float:right;
	padding-right:20px;
	text-align:right;
}
.loginfoot{
	width:600px;
	height:20px;
	margin-left:auto;
	margin-right:auto;
	color:#cdcdcd;
}
#btn1 {
	border: none;
	background-position: left top;
	width: 66px;
	cursor: pointer;
	color: #666;
	line-height: 23px;
	height: 23px;
	text-align: center;
	background: url(images/login/loginbutton.gif);
	color: #333399;
}
.inp {
	border: #84a1bd 1px solid;
	padding-right: 2px;
	width: 150px;
}
.sel{
	border: #84a1bd 1px solid;
	width: 150px;
}
.inpsort{
	border: #84a1bd 1px solid;
	padding-right: 2px;
	background-position: -70px -424px;
	width: 80px;
}

a.pslink,a.pslink:link,a.pslink:active,a.pslink:visited,a.pslink:hover{
	color:#449950;
}

.language{
	background: url(images/login/cn.gif) no-repeat right;
	cursor: pointer;
	height: 13px;
}

/*Login end*/
