<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>HRD</title>

<meta http-equiv="X-UA-Compatible" content="IE=8" />



<link rel="stylesheet" type="text/css" href="/hrd/Framework/Core/jquery-ui-1.9.2.custom.css" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/Themes/page.css"  />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/Themes/layout.css"  />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/Plugins/FlexiGrid/flexigrid_gray_default.css" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/Plugins/Validation/validationEngine.jquery.css" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/Plugins/ymprompt-4.0-11/skin/qq/ymPrompt.css" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/Plugins/plupload/jquery.ui.plupload/css/jquery.ui.plupload.css"  />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/Plugins/JqGrid/ui.jqgrid.css" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/Themes/buttons.css" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/Plugins/message/message.css" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/Plugins/tzCheckbox/jquery.tzCheckbox.css" />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/Plugins/zTree/zTreeStyle/zTreeStyle.css"  />
<link rel="stylesheet" type="text/css" href="/hrd/Framework/Plugins/SmartWizard/smart_wizard_vertical.css"  />

<script type="text/javascript" src="/hrd/Framework/Core/jquery-1.8.3.js"></script>
<script type="text/javascript" src="/hrd/Framework/Core/jquery-ext.js"></script>
<script type="text/javascript" src="/hrd/Framework/Core/jquery-ui-1.9.2.custom.js"></script>
<script type="text/javascript" src="/hrd/Framework/Core/jquery-ui-ext.js"></script>
<script type="text/javascript" src="/hrd/Framework/Plugins/FlexiGrid/flexigrid.js"></script>
<script type="text/javascript" src="/hrd/Framework/g3.dialog.js"></script>
<script type="text/javascript" src="/hrd/Framework/Plugins/Validation/jquery.validationEngine.js"></script>
<script type="text/javascript" src="/hrd/Framework/Plugins/Validation/jquery.validationEngine-zh_TW.js"></script>
<script type="text/javascript" src="/hrd/Framework/Plugins/plupload/plupload.full.js"></script> 
<script type="text/javascript" src="/hrd/Framework/Plugins/plupload/jquery.ui.plupload/jquery.ui.plupload.js"></script>
<script type="text/javascript" src="/hrd/Framework/Plugins/plupload/i18n/cn.js"></script> 
<script type="text/javascript" src="/hrd/Framework/Plugins/message/jquery.message.js"></script>
<script type="text/javascript" src="/hrd/Framework/Plugins/JqGrid/grid.locale-tw.js"></script>
<script type="text/javascript" src="/hrd/Framework/Plugins/JqGrid/jquery.jqGrid.src.js"></script>
<script type="text/javascript" src="/hrd/Framework/Plugins/tzCheckbox/jquery.tzCheckbox.js"></script>
<script type="text/javascript" src="/hrd/Framework/Plugins/ymprompt-4.0-11/ymPrompt.js"></script>
<script type="text/javascript" src="/hrd/Framework/Plugins/zTree/jquery.ztree.core-3.4.js"></script>
<script type="text/javascript" src="/hrd/Framework/Plugins/zTree/jquery.ztree.excheck-3.4.js"></script>
<script type="text/javascript" src="/hrd/Framework/Plugins/zTree/jquery.ztree.exedit-3.4.js"></script>
<script type="text/javascript" src="/hrd/Framework/Plugins/SmartWizard/jquery.smartWizard-2.0.js"></script>
<script type="text/javascript" src="/hrd/Framework/global.js"></script>
<script type="text/javascript" src="/hrd/Framework/g3.grid.js"></script>
<script type="text/javascript" src="/hrd/Framework/jqgrid.ext.js"></script>
<script type="text/javascript" src="/hrd/Framework/jz.grid.js"></script>
<script type="text/javascript" src="/hrd/Framework/jz.newRow.js"></script>
<script type="text/javascript" src="/hrd/Framework/jz.newCondition.js"></script>
<script type="text/javascript" src="/hrd/Framework/g3.lov.js"></script>
<script type="text/javascript" src="/hrd/Framework/jz.lov.js"></script>
<script type="text/javascript" src="/hrd/Framework/g3.ymPrompt.js"></script>
<script type="text/javascript" src="/hrd/Framework/g3.buttons.js"></script>
<script type="text/javascript" src="/hrd/Framework/jz.loadData.js"></script>


<!-- 補充擴展 -->
<link rel="stylesheet" type="text/css" href="/hrd/Framework/little2.css"  />
<script type="text/javascript" src="/hrd/Framework/jquery.little2.dashpaenel.js"></script>
<!-- 
<link rel="stylesheet" href="//blueimp.github.io/jQuery-File-Upload/css/jquery.fileupload.css">
<script src="//blueimp.github.io/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
<script src="//blueimp.github.io/jQuery-File-Upload/js/jquery.fileupload.js"></script>
<script src="//blueimp.github.io/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>
 -->
 
<link rel="stylesheet" href="/common/plugins/jQuery-File-Upload/css/jquery.fileupload.css">
<script src="/common/plugins/jQuery-File-Upload/js/vendor/jquery.ui.widget.js"></script>
<script src="/common/plugins/jQuery-File-Upload/js/jquery.fileupload.js"></script>
<script src="/common/plugins/jQuery-File-Upload/js/jquery.iframe-transport.js"></script>

</head>


	