<link type="text/css" href="Framework/Themes/frame.css" rel="stylesheet" />
<link type="text/css" href="Framework/Plugins/TabPanel/jquery.tabpanel.css" rel="stylesheet" />
<script type="text/javascript" src="Framework/Plugins/TabPanel/jquery.tabpanel.js"></script>
<script type="text/javascript" src="Framework/frame.js"></script>
<body>
	
	<table id="frametable" align="center" width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">
		<tr>
			<td colspan="4" align="center" height="10">

<!--Hearder start-->
<DIV class=Header>
	<DIV class=Header_logoBar>
		<img src="Framework/Themes/images/frame/logo.gif">
	</DIV>
	<!--Header_navBar start-->
	<DIV class=Header_navBar>
		<div class="Header_navBarleft">
			

			
		</div>
		<div class="Header_navBarright">
			<a href="#" class="navrighta"><img
				src="Framework/Themes/images/frame/navuser.png" align="absbottom">&nbsp;{user_account}&nbsp;&nbsp;</a>
			 <a href="#" class="navrighta"><img
				src="Framework/Themes/images/frame/navnews.png" align="absbottom">&nbsp;(5)&nbsp;&nbsp;&nbsp;</a>
			<!-- <a href="/hrd/landESS.html" class="navrighta"><img 
			    src="Framework/Themes/images/frame/backxy.png" align="absbottom">&nbsp;自助&nbsp;&nbsp;</a>	 --> 
			 <a href="javascript:logout(this);" class="navrighta"><img
				src="Framework/Themes/images/frame/navout.png" align="absbottom">&nbsp;登出
			</a>
		</div>
	</DIV>
	<!--Header_navBar end-->

	
	<DIV class=Header_stateBar>
		<DIV class=Header_stateBar_head></DIV>
		<DIV class=Header_stateBar_body></DIV>
		<DIV class=Header_stateBar_foot></DIV>
		
	</DIV>
</DIV>
<!--Hearder end-->
<script>
	function logout(obj){
		var url="/hrd/logout.php?mid="+ Math.random();
		obj.parent.location.href=url;
	}
</script>
</td>
		</tr>
		<tr>
			<td width="5px" valign="top" valign="top">&nbsp;</td>
			<td class="Main_left">
<div class=Main_leftTop>
	<INPUT type ="text" maxLength=10 name="menuName" id="menuName" value="">
		<INPUT type="image" id="menuQuery" src="Framework/Themes/images/frame/search_left.png">
</div>
<div class=Main_leftBody>
	<div id="two_rig_top" class="ort_1">
		<span id="qtebie" class="lanmu">程式列表</span> 
			<!-- <span id="qrenwu" class="lanmub" style="margin: 0 0 0 25px; cursor:pointer">我的收藏</span> -->
	</div>	
	<div class="thr_rig_lis2" id="qtebiebox">
	</div>	
</div>
</td>
			<td width="12px" valign="top"><div class="goLeft"></div></td>
			<td class="Main_right" align="center" valign="top">
				<div id="tabPanel"></div>
			</td>
		</tr>
		<tr>
			<td colspan="4" align="center" class="framebottom">Copyright © 2015 台灣緯任數位科技股份有限公司 版權所有</td>
		</tr>
	</table>
	<div id="g3_dialog_mini"></div>
	<div id="g3_upload"></div>
	<div id="g3_dialog"></div>
	
	<div id="g3_lov"></div>
	<div id="g3_msg"></div>

	<div id="dialog_cache"></div>

	
</body>
</html>