				<!-- BEGIN TERM_STYLE -->
					<tr>
						<td class="label"  >{TERM_STYLE.LabelTitle}：</td>
						<td></td>
					</tr>
					<!-- BEGIN LANG_TERM -->
					<tr>
						<td  class="right">{TERM_STYLE.LANG_TERM.Language}：</td>
						<td><input type="text" name="{TERM_STYLE.LANG_TERM.term_title}[{TERM_STYLE.LANG_TERM.Code}][{TERM_STYLE.LANG_TERM.term_id}]" class="contxt" value="{TERM_STYLE.LANG_TERM.term_content}" /></td>
					</tr>
					<!-- END LANG_TERM -->					
				<!-- END TERM_STYLE -->


				<!-- BEGIN TEXT_STYLE -->
					<tr>
						<td  class="label">{TEXT_STYLE.LabelTitle}：</td>
						<td></td>
					</tr>
					
					<!-- BEGIN LANG_TEXT -->
					<tr>
						<td class="right">{TEXT_STYLE.LANG_TEXT.Language}：</td>
						<td><textarea name="{TEXT_STYLE.LANG_TEXT.term_title}[{TEXT_STYLE.LANG_TEXT.Code}][{TEXT_STYLE.LANG_TEXT.term_id}]"  cols="60" rows="5">{TEXT_STYLE.LANG_TEXT.text_content}</textarea></td>
					</tr>
					<!-- END LANG_TEXT -->
				<!-- END TEXT_STYLE -->