<style type="text/css">
    th.ui-th-column div{
        white-space:normal !important;
        height:auto !important;
        padding:2px;
    }
</style>

<body id="body_{gridId}">
	<input type="hidden" name="empId"  value="F39BA5B7-0F25-492B-AB6B-7FFC132EB351" />
	<div id="tab1">		
		<table id="{gridId}"></table>
		<div id="{pager}"></div>
	</div>
</body>

<script type="text/javascript">
	$(function() {		
		//function(id, options, menup)
		jzsoft.grid("{gridId}", {
			url : '{url}',
			postData : {
				<!-- BEGIN postDataList -->
				'{postDataList.index}' : '{postDataList.val}',
				<!-- END postDataList -->
			},
			colNames : [ 
			            <!-- BEGIN COL -->
			             '{COL.title}', 
			             <!-- END COL -->
			            ],
			colModel : [
			            <!-- BEGIN COLM -->
			            {
			            <!-- BEGIN COLM_DETAIL -->
			             {COLM.COLM_DETAIL.title}:{COLM.COLM_DETAIL.value} , 
			             <!-- END COLM_DETAIL -->			            
			            },
			            <!-- END COLM -->
			],		
			autowidth : true,
			footerrow: {footerrow},
			userDataOnFooter: {userDataOnFooter}, // use the userData parameter of the JSON response to display data on footer
			height : {height},
			multiselect : {multiselect},
			rowNum:{rowNum},
			
			subGrid: {subGrid}, // set the subGrid property to true to show expand buttons for each row
            subGridRowExpanded: {showChildGrid}, // javascript function that will take care of showing the child grid
		    subGridOptions : {
				// load the subgrid data only once
				// and the just show/hide
				reloadOnExpand :false,
				// select the row when the expand column is clicked
				selectOnExpand : true 
			},
			
			
			toolbar :{toolbar},
			pager : '#{pager}',
			scroll: {scroll},
			set_title_col:'{set_title_col}',
			//caption: "Products / Category Primary Grid View" // set caption to any string you wish and it will appear on top of the grid
			grouping: true,
            groupingView: {
            	{groupingView}
            }
		});

		/*
        // get the header row which contains
        headerRow = jzsoft.grid.closest("div.ui-jqgrid-view")
            .find("table.ui-jqgrid-htable>thead>tr.ui-jqgrid-labels");
    
        // increase the height of the resizing span
        resizeSpanHeight = 'height: ' + headerRow.height() + 'px !important; cursor: col-resize;';
        headerRow.find("span.ui-jqgrid-resize").each(function () {
            this.style.cssText = resizeSpanHeight;
        });
    
        // set position of the dive with the column header text to the middle
        rowHight = headerRow.height();
        headerRow.find("div.ui-jqgrid-sortable").each(function () {
            var ts = $(this);
            ts.css('top', (rowHight - ts.outerHeight()) / 2 + 'px');
        });
		*/
		

		
		jzsoft.grid.inlineMenu({
			grid : "{inline_gridId}",
			paper : "{pager}",
			baseUrl : '{baseUrl}',
			saveService : 'saveOrUpdate.html',
			delService : '{deleUrl}',
		});
		
		jzsoft.grid.newBarMenu({
			fromDivId:'',
			gridId : '{bar_gridId}',
			baseUrl : '{baseUrl}',
			 <!-- BEGIN BUTTONS -->
			{BUTTONS.bclass}:{
				name:"{BUTTONS.name}",
				title:"{BUTTONS.title}",
				bclass:"{BUTTONS.bclass}",				
				body:"{BUTTONS.body}",
				returnUrl:"{BUTTONS.returnUrl}",
 		   		data:{{BUTTONS.data}},
 		   		height:parseInt({BUTTONS.height}),
 		   		width:parseInt({BUTTONS.width}),
 		   		onpress:{BUTTONS.onpress},
 		   		<!-- BEGIN BUTTONS_PAR -->
 		   		{BUTTONS.BUTTONS_PAR.title}:"{BUTTONS.BUTTONS_PAR.value}",
 		   		<!-- END BUTTONS_PAR -->
 		   		
			},
			<!-- END BUTTONS -->	
		});		
	});
	
	// the event handler on expanding parent row receives two parameters
    // the ID of the grid tow  and the primary key of the row
    function showChildGrid(parentRowID, parentRowKey) {	
        var childGridID = parentRowID + "_table";
        var childGridPagerID = parentRowID + "_pager";
        var childGridURL = "/hrd/report-personal-sub/list/pageList.html";
        // add a table and pager HTML elements to the parent grid row - we will render the child grid here
        $('#' + parentRowID).append('<table id=' + childGridID + '></table><div id=' + childGridPagerID + ' class=scroll></div>');
        /////////////////
        		
		//function(id, options, menup)
		jzsoft.grid(childGridID, {
			url : childGridURL,
			postData : {				
				'user_id' :parentRowKey,
				'report_config_id':$('#report_config_id').val()
			},
			height: '100%',
			colModel: [
			                       { label: 'ID', name: 'key', key: true, width: 75 },  
			                       { label: '{$lang.ReportTitle}', name: 'report_title', width: 610 },
			                       { label: '創建日期', name: 'create_time', width: 200 }             
			                   ],
			autowidth : true,
			footerrow: {footerrow},	
		});      
        
		$("#" + childGridID).jqGrid("setGridParam", {
			ondblClickRow : function(rowid, iRow, iCol, e) {				
				setting={body:'/hrd/view/report/edit.html?entity_key='+rowid};
				jzsoft.grid.openDialog(setting)
			}
		});
        
    }		
	
	
 // the event handler on expanding parent row receives two parameters
    // the ID of the grid tow  and the primary key of the row
    function showCompanyChildGrid(parentRowID, parentRowKey) {	
        var childGridID = parentRowID + "_table";
        var childGridPagerID = parentRowID + "_pager";
        var childGridURL = "/hrd/report-company-sub/list/pageList.html";
        // add a table and pager HTML elements to the parent grid row - we will render the child grid here
        $('#' + parentRowID).append('<table id=' + childGridID + '></table><div id=' + childGridPagerID + ' class=scroll></div>');
        /////////////////
        		
		//function(id, options, menup)
		jzsoft.grid(childGridID, {
			url : childGridURL,
			postData : {				
				'user_id' :parentRowKey,
				'report_config_id':$('#report_config_id').val()
			},
			height: '100%',
			colModel: [
			                       { label: 'ID', name: 'key', key: true, width: 75 },  
			                       { label: '{$lang.ReportTitle}', name: 'report_title', width: 610 },
			                       { label: '創建日期', name: 'create_time', width: 200 }             
			                   ],
			autowidth : true,
			footerrow: {footerrow},	
		});      
        
		$("#" + childGridID).jqGrid("setGridParam", {
			ondblClickRow : function(rowid, iRow, iCol, e) {				
				setting={body:'/hrd/view/report/edit.html?entity_key='+rowid+'&type=C'};
				jzsoft.grid.openDialog(setting)
			}
		});
        
    }	
 
    function showGroupChildGrid(parentRowID, parentRowKey) {	
        var childGridID = parentRowID + "_table";
        var childGridPagerID = parentRowID + "_pager";
        var childGridURL = "/hrd/report-group-sub/list/pageList.html";
        // add a table and pager HTML elements to the parent grid row - we will render the child grid here
        $('#' + parentRowID).append('<table id=' + childGridID + '></table><div id=' + childGridPagerID + ' class=scroll></div>');
        /////////////////
        		
		//function(id, options, menup)
		jzsoft.grid(childGridID, {
			url : childGridURL,
			postData : {				
				'population_group_id' :parentRowKey,
				'report_config_id':$('#report_config_id').val()
			},
			height: '100%',
			colModel: [
			                       { label: 'ID', name: 'key', key: true, width: 75 },  
			                       { label: '{$lang.ReportTitle}', name: 'report_title', width: 610 },
			                       { label: '創建日期', name: 'create_time', width: 200 }             
			                   ],
			autowidth : true,
			footerrow: {footerrow},	
		});      
        
		$("#" + childGridID).jqGrid("setGridParam", {
			ondblClickRow : function(rowid, iRow, iCol, e) {				
				setting={body:'/hrd/view/report/edit.html?entity_key='+rowid+'&type=G'};
				jzsoft.grid.openDialog(setting)
			}
		});
        
    }	 
</script>