<script type="text/javascript" src="/hrd/Framework/little2.function.js"></script>

<body id="body_{gridId}">
	<input type="hidden" name="empId" value="F39BA5B7-0F25-492B-AB6B-7FFC132EB351" />
	
	<div id="tab1">
		
		<table id="{gridId}"></table>
		<div id="{pager}"></div>
	</div>
</body>

<script type="text/javascript">
	$(function() {		
		//function(id, options, menup)
		jzsoft.grid("{gridId}", {
			url : '{url}',
			postData : {
				<!-- BEGIN postDataList -->
				'{postDataList.index}' : '{postDataList.val}',
				<!-- END postDataList -->
			},
			colNames : [ 
			            <!-- BEGIN COL -->
			             '{COL.title}', 
			             <!-- END COL -->
			            ],
			colModel : [
			            <!-- BEGIN COLM -->
			            {
			            <!-- BEGIN COLM_DETAIL -->
			             {COLM.COLM_DETAIL.title}:{COLM.COLM_DETAIL.value} , 
			             <!-- END COLM_DETAIL -->			            
			            },
			            <!-- END COLM -->
			],
			autowidth : true,
			height : {height},
			multiselect : {multiselect},
			rowNum:25,
			toolbar : [ true, "top" ],
			pager : '#{pager}'
		});
		
	
		
		jzsoft.grid.inlineMenu({
			grid : "{inline_gridId}",
			paper : "{pager}",
			baseUrl : '{baseUrl}',
			saveService : 'saveOrUpdate.html',
			delService : '{deleUrl}',
		});
		
		
		jzsoft.grid.newBarMenu({
			gridId : '{bar_gridId}',
			baseUrl : '{baseUrl}',
			 <!-- BEGIN BUTTONS -->
			{BUTTONS.bclass}:{
				name:"{BUTTONS.name}",
				title:"{BUTTONS.title}",
				bclass:"{BUTTONS.bclass}",				
				body:"{BUTTONS.body}",
 		   		data:{{BUTTONS.data}},
 		   		height:parseInt({BUTTONS.height}),
 		   		width:parseInt({BUTTONS.width})
			},
			<!-- END BUTTONS -->	
		});
		
	});

</script>