




<!-- 說明 -->
<div class="content">
<p>下面的報表顯示本次未完成或部分完成評鑑的名單。</p> 
<p>說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字。</p>
</div>

<div style="clear:both"></div>
<div  class="report">
	<div >
		<table >
			<tr>
				<td colspan="9" class="bar"></td>
			</tr>
			
			<tr class="maintitle">
				<td>No.</td>
				<td>評鑑人</td>
				<td>受評人</td>
				<td>評鑑關係</td>
				<td>完成比例</td>
				<td>狀態</td>
			</tr>
			<!-- BEGIN LIST -->
			<tr>				
				<td>{LIST.no}</td>
				<td>{LIST.evaluator}</td>
				<td>{LIST.appraisee}</td>
				<td>{LIST.evaluator_relation}</td>
				<td>{LIST.basis_evaluation_evaluator_progress}</td>
				<td>{LIST.status}</td>
			</tr>		
			<!-- END LIST -->
		</table>
	</div>
	


</div>
<div style="clear:both"></div>


</body>
</html>