<!DOCTYPE html>
<html>
<head>
<meta charset="utf8">
<title>{title}</title>
</head>

<link rel="stylesheet" type="text/css" href="templates/{TPL_STYLE}/css/style.css" />
<body>
<h1>{title}</h1>
<hr>
<div  class="titlebar">
<table>
	<tr >
		<td style="width:32px">
			<img src='templates/{TPL_STYLE}/images/icon_suvey.png'>
		</td>
		
		<th >	
			<img src='templates/{TPL_STYLE}/images/arrow_small.png'>
			問卷編號:
		</th>		
		<td >	
			{basis_evaluation_appraisee_id}
		</td>
		
		<th ></th>
		<td></td>		
		
		<th >
			<img src='templates/{TPL_STYLE}/images/arrow_small.png'>
			問卷名稱:
		</th>
		<td colspan="3" style="width:37.5%">
			{basis_evaluation_table_title}
		</td>		
	</tr>
</table>

<table>
	<tr >
		<td rowspan="2" style="width:32px">
			<img src='templates/{TPL_STYLE}/images/icon_robot.png'>
		</td>
		
		<th >	
			<img src='templates/{TPL_STYLE}/images/arrow_small.png'>
			帳號:
		</th>
		<td>
			{user_account}	
		</td>
		
		<th >
			<img src='templates/{TPL_STYLE}/images/arrow_small.png'>
			姓名:
		</th>
		<td>
			{fullName}
		</td>
	
		<th >
			<img src='templates/{TPL_STYLE}/images/arrow_small.png'>
			 公司:
		</th>
		<td>
			xxx
		</td>
	
		<th ></th>
		<td></td>		
	</tr>
	<tr >
			<th >
			<img src='templates/{TPL_STYLE}/images/arrow_small.png'>
			職系:
		</th>
		<td>
			{job_family_title}
		</td>		
			<th >
			<img src='templates/{TPL_STYLE}/images/arrow_small.png'>
			部門名稱:
		</th>
		<td>
			{department_title}
		</td>
		<th >
			<img src='templates/{TPL_STYLE}/images/arrow_small.png'>
			 職別:
		</th>
		<td>
			{job_type_title}
		</td>
			<th >
			<img src='templates/{TPL_STYLE}/images/arrow_small.png'>
			 職稱:
		</th>
		<td>
			{job_title}
		</td>
	</tr>	
</table>
</div>