<!DOCTYPE html>
<html>
<head>
<meta charset="utf8">
<title>{title}</title>
</head>
<link rel="stylesheet" type="text/css" href="templates/{TPL_STYLE}/css/style.css" />
<body>
<h1>{title}</h1>
<hr>
<div  class="titlebar">
<table>
	<tr >
		<td style="width:32px">
			<img src='templates/{TPL_STYLE}/images/icon_suvey.png'>
		</td>
		
		<th >	
			<img src='templates/{TPL_STYLE}/images/arrow_small.png'>
			問卷編號:
		</th>		
		<td >	
			{basis_evaluation_appraisee_id}
		</td>
		
		<th ></th>
		<td></td>		
		
		<th >
			<img src='templates/{TPL_STYLE}/images/arrow_small.png'>
			問卷名稱:
		</th>
		<td colspan="3" style="width:37.5%">
			{basis_evaluation_table_title}
		</td>		
	</tr>
</table>

</div>