

<!-- 說明 -->
<div class="content">


<p>res</p>
</div>


<div style="clear:both"></div>
<div  class="report">
	<div >
		<!-- BEGIN AVG -->
		<table >
			<tr>
				<td colspan="{AVG.colspan}" class="bar">{AVG.competency_type}</td>
			</tr>				
			<!-- BEGIN ROW -->
				<tr class="{AVG.ROW.class}">				
					<!-- BEGIN COMPETENCY -->
					<td>{AVG.ROW.COMPETENCY.title}</td>
					<!-- END COMPETENCY -->					
				</tr>
			<!-- END ROW -->		
		</table>
		<BR>
		<!-- END AVG -->		
	</div>
	


</div>
<!-- BEGIN CHART -->
<div style="clear:both"></div>
<div>{CHART.title}</div>
<img src="{CHART.bar_chart_url}" />
<!-- END CHART -->


</body>




</html>