




<!-- 說明 -->
<div class="content">
<p>下面的報表展示團體測評結果中各項管理職能的關鍵行為低於基準值，人數佔比最大者的分析資訊以提供公司進行培訓規劃的先後排序參考依據。</p>
</div>

<div style="clear:both"></div>
<div  class="report">
	<div >
		<table >
			<tr>
				<td colspan="9" class="bar"></td>
			</tr>
			
			<tr class="maintitle">
				<td>職能項目/關鍵行為</td>
				<td>人數佔比</td>
			</tr>
			<!-- BEGIN COMPETENCY -->
			<tr>
				<th colspan="2">{COMPETENCY.title}</th>
			</tr>
						
			<!-- BEGIN BEHAVIOR -->
			<tr>				
				<td>{COMPETENCY.BEHAVIOR.behavior_definition}</td>
				<td>{COMPETENCY.BEHAVIOR.percent}%</td>
			</tr>
			<!-- END BEHAVIOR -->
			
			<!-- END COMPETENCY -->
			
			
		</table>
	</div>
	


</div>
<div style="clear:both"></div>

<div class="content">
<p>綜合建議：</p>
<p>(1)依據職能學習地圖，實施具針對性的培育輔導計畫，並請內部講師、教練提供經驗、做法進行研討分享以教導有效的實務做法。</p>
</div>

</body>
</html>