<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>

</head>

<body>
<div  align='center' id="report_wait_process" name="report_wait_process"  class='hide'>
	<img src='./templates/bhrsp/images/processing.gif' />
</div>
<div  id="container_{elementID}"  data-from="{From_elementID}" ></div>
</body>

<script>
init();
function init()
{
	$('#report_wait_process').removeClass('hide');
	
	var o = {
			url:'/hrd/{report_filename}?entity_key={entity_key}&temp_title={temp_title}&type={type}',
			data:{'request':1},
			onSuccess:function(data){
				//console.log(data);
				$('#report_wait_process').addClass('hide');
				$('#container_{elementID}').html(data.html_body);		
				}					
	}				
	var msg=mypost(o);
	
}
</script>

</html>
