




<!-- 說明 -->
<div class="content">
<p>下面的報表顯示受評者的「自評」與「他評反饋平均值」的比較，其正負落差結果的分析資訊。</p>
<p>報表提供了受評者的「自評」與「他評反饋平均值」的比較，落差在± 0.5區間者屬合理現象；若落差值大於+0.5以上的區間顯示其自信程度高，反之若落差值小於-0.5以下的區間顯示其自信程度低。本分析依據落差值的強、弱度進行歸類分析並給予組織進行培育發展時應注意的輔導建議，做為上階主管對部屬培育發展的參考決策。</p>
</div>

<div style="clear:both"></div>
<div  class="report">
	<div >
		<table >
			<tr>
				<td colspan="9" class="bar"></td>
			</tr>

			<tr class="maintitle">
				<td>認知落差(AVG－自評)</td>
				<td>受評人</td>
				<td>說明</td>
			</tr>
			<tr>
				<td>1.5≦落差</td>
				<td>{GAP1}</td>
				<td>主管或教練多給予讚美、關懷、鼓勵，必要時給予諮商以建立個人的自信，放寬自我要求。</td>
			</tr>
			<tr>
				<td>1.0≦落差＜1.5</td>
				<td>{GAP2}</td>
				<td>主管或教練多給予讚美、關懷、鼓勵，必要時給予諮商以強化個人的自信。</td>
			</tr>
			<tr>
				<td>0.5≦落差＜1.0</td>
				<td>{GAP3}</td>
				<td>主管或教練多給予讚美、鼓勵，放開自我，多與同事互動。</td>
			</tr>
			<tr>
				<td>-0.5≦落差＜-1.0</td>
				<td>{GAP4}</td>
				<td>主管或教練多給予關懷、對事務處理結果的標準或預期，可再清楚說明，確認建立共識。</td>
			</tr>
			<tr>
				<td>-1.0≦落差＜-1.5</td>
				<td>{GAP5}</td>
				<td>主管或教練多給予關懷、對事務處理結果的標準或預期，需清楚說明，確認以降低認知落差逐步改善。</td>
			</tr>
			<tr>
				<td>)-1.5≦落差</td>
				<td>{GAP6}</td>
				<td>主管或教練給予開導、對事務處理結果的標準或預期，需明確清楚告知，避免過度「自我感覺非常良好」以逐步改善。</td>
			</tr>
		</table>
	</div>
</div>
<div style="clear:both"></div>

<div class="content">

<p>綜合建議：</p>
<p>(1)1.6＜落差：主管或教練多給予讚美、關懷、鼓勵，必要時給予諮商以建立個人的自信，放寬自我要求。</p>
<p>(2)1.0＜落差＜1.5：主管或教練多給予讚美、關懷、鼓勵，必要時給予諮商以強化個人的自信。</p>
<P>(3)0.5＜落差＜0.9：主管或教練多給予讚美、鼓勵，放開自我，多與同事互動。</P>
<P>(4)-0.5＞落差＞-0.9：主管或教練多給予關懷、對事務處理結果的標準或預期，可再清楚說明，確認建立共識。</P>
<P>(5)-1.0＞落差＞-1.5：主管或教練多給予關懷、對事務處理結果的標準或預期，需清楚說明，確認以降低認知落差逐步改善。</P>
<P>(6)-1.6＞落差：主管或教練給予開導、對事務處理結果的標準或預期，需明確清楚告知，避免過度「自我感覺非常良好」以逐步改善。</P>
</div>

</body>
</html>
