




<!-- 說明 -->
<div class="content">

<p>下面的報表展示各受評者360°測評反饋的總平均分值，依統計的常態分佈原理排列五大區間落點分佈圖示，以利於管理者的直觀研讀。</p>
</div>

<div style="clear:both"></div>
<div  class="report">
	<div >
		<table >
			<tr>
				<td colspan="9" class="bar"></td>
			</tr>
			
			<tr class="maintitle">
				<td>區間({BLOCKMSG6})</td>
				<td>區間({BLOCKMSG5})</td>
				<td>區間({BLOCKMSG4})</td>
				<td>區間({BLOCKMSG3})</td>
				<td>區間({BLOCKMSG2})</td>
				<td>區間({BLOCKMSG1})</td>
			</tr>
			<tr>				
				<td>{BLOCK6}</td>
				<td>{BLOCK5}</td>
				<td>{BLOCK4}</td>
				<td>{BLOCK3}</td>
				<td>{BLOCK2}</td>
				<td>{BLOCK1}</td>
			</tr>		
			
		</table>
	</div>
	


</div>
<div style="clear:both"></div>


</body>
</html>