<!-- 說明 -->
<div class="content">

<p>下列報表顯示您每一項職能表現的總體情況。</p> 
 
</div>


<!-- 平均結果 -->
<div  class="report">
	<div style="float:left;WIDTH:100%">
		<table >
			<tr>
				<td colspan="8" class="bar"></td>
			</tr>
			<tr>
				<th></th>
				<!-- BEGIN USER_TITLE -->
				<th>{USER_TITLE.NAME}</th>				
				<!-- END USER_TITLE -->		
			</tr>
			
			<!-- BEGIN BEHAVIOR -->			
			<tr>
				<td>{BEHAVIOR.behavior_definition}</td>
				<!-- BEGIN USERGRADE -->
				<td>{BEHAVIOR.USERGRADE.evaluation_scale_item_grade}</td>
				<!-- END USERGRADE -->
			</tr>
			<!-- END BEHAVIOR -->
			
		</table>
	</div>
	


</div>
<div style="clear:both"></div>



</body>





</html>