<!-- 說明 -->
<div class="content">
<p>下面的報表顯示團體測評結果的明細資料。</p>
<p>報表提供了每一個被測評人在各個職能項目上的評鑑反饋結果，您可以透過這些資訊，對所有被評鑑人的情況得到整體的瞭解。</p>
<p>並且，報表還提供每一個職能項目的評鑑結果統計，為了您閱讀方便，報表還篩選出每個職能項目的團體平均值、最大值、以及最小值，以便您能夠快速得到這方面的資訊，您可以將某一個人的評鑑反饋分值與這三個值進行比較，以辨別這個人在團體中的落點位置。</p>
</div>

<DIV>此報份的數據與團體掃瞄所列數據相同，但是將每個被評量者以數列方式來呈現，讓您們更容易找出您們團隊中每一個人的優勢或需要發展的領域。 </DIV>
<div style="clear:both"></div>
<div  class="report">
	<div >
		<table >
			<tr>
				<td colspan="{colnum}" class="bar"></td>
			</tr>
			<tr class="maintitle">
				<td>受評人</td>
				<td>AVG</td>
				<!-- BEGIN COLTITLE -->
				<td>{COLTITLE.title}</td>
				<!-- END COLTITLE -->
			</tr>
			<!-- BEGIN ROWS -->
			<tr>
				<td>{ROWS.title}</td>
				<td>{ROWS.avg}</td>
				<!-- BEGIN GRADEROW -->
				<td>{ROWS.GRADEROW.grade}</td>
				<!-- END GRADEROW -->
			</tr>
			<!-- END ROWS -->


		</table>
	</div>



</div>
<div style="clear:both"></div>



</body>
</html>
