

<!-- 說明 -->
<div class="content">


<p>xxxxxxxx</p>
</div>


<div style="clear:both"></div>
<div  class="report">
	<div >
		<table >
			<tr>
				<td colspan="6" class="bar"></td>
			</tr>
			<tr class="maintitle">
				<td></td>
				<td>標準級數</td>
				<td>現況級數</td>
				<td>職能落差</td>
				<td>更新時間</td>
				
			</tr>
			<!-- BEGIN COMPETENCY_TYPE -->
			<tr>
				<th colspan="5">{COMPETENCY_TYPE.competency_type}</th>
			</tr>
			
			<!-- BEGIN COMPETENCY -->
			<tr>
				<td>{COMPETENCY_TYPE.COMPETENCY.competency_title}</td>
				<td>{COMPETENCY_TYPE.COMPETENCY.competency_level}</td>
				<td>{COMPETENCY_TYPE.COMPETENCY.competency_score}</td>
				<td>{COMPETENCY_TYPE.COMPETENCY.competency_diff}</td>
				<td>{COMPETENCY_TYPE.COMPETENCY.competency_grade_date}</td>			
			</tr>
			<!-- END COMPETENCY -->
			<tr>
				<th>個人職能勝任率</th>
				<th colspan="4">{COMPETENCY_TYPE.competency_type}</th>
			</tr>
			<!-- END COMPETENCY_TYPE -->
			
			
		</table>
	</div>
	


</div>
<div style="clear:both"></div>



</body>




</html>