

<!-- 說明 -->
<div class="content">


<p>xxxxxxxx</p>
</div>


<div style="clear:both"></div>
<div  class="report">
	<div >
		<table >
			<tr>
				<td colspan="6" class="bar"></td>
			</tr>
			<tr class="maintitle">
				<td>部門名稱</td>	
				<td>部門人數</td>
				<td>管理職能總落差</td>
				<td>通用職能總落差</td>
				<td>專業職能總落差</td>
			</tr>
			<!-- BEGIN DEP -->
			<tr>
				<td>{DEP.department_title}</td>
				<td>{DEP.diff_member_count}</td>
				<td>{DEP.diff_M}</td>
				<td>{DEP.diff_C}</td>
				<td>{DEP.diff_P}</td>			
			</tr>
			<!-- END COMPETENCY -->			
		</table>
	</div>
	


</div>
<!-- BEGIN CHART -->
<div style="clear:both"></div>
<div>{CHART.title}</div>
<img src="{CHART.bar_chart_url}" />
<!-- END CHART -->


</body>




</html>