<!-- 說明 -->
<div class="content">

<p>本建議計畫是根據您的職能現況與應具備的職能標準間的落差，提供您應參與的培訓課程建議。</p> 
 
</div>


<!-- 平均結果 -->
<div  class="report">
	<div style="float:left;WIDTH:100%">
		<table >
			<tr>
				<td colspan="8" class="bar"></td>
			</tr>
			<tr>
				<th>編號</th>
				<th>培訓項目/課程名稱</th>
				
				<th>培訓方法</th>
				<th>培訓者/講師</th>
				<th>教材</th>
				<th>計畫日期</th>
				<th>完成日期</th>
				
				<th>核可</th>
			</tr>
			<!-- BEGIN NEEDS -->
			<tr>
				<td>{NEEDS.number}</td>
				<td>{NEEDS.course_title}</td>
				
				<td>{NEEDS.training_material}</td>
				<td>{NEEDS.training_teacher}</td>
				<td>{NEEDS.training_material}</td>
				<td></td>
				<td></td>
				
				<td>□OK <BR>□NG </td>				
			</tr>
			<!-- END NEEDS -->
			
		</table>
	</div>
	


</div>
<div style="clear:both"></div>



</body>





</html>