<!-- 說明 -->
<div class="content">

<p>下列報表顯示您每一項職能表現的總體情況。</p> 
 
<p>這份報表包由二部分組成：</p> 
 
<p>第一部分顯示您在每個職能項目所達到的水準。</p> 
<p>"平均結果"是指所有為您進行360度評鑑的各個職能項目的得分進行加權平均後的結果。您可以通過觀察每項職能的分數，獲知您在各個職能項目上所處的水準。同時報表中也顯示了各個評鑑分數的衡量標準與說明。</p> 
 
<p>第二部分顯示出您的優勢職能與待發展需求。</p> 
<p>當某一項職能的評鑑分數高於所設定的基準值時，這意味著您達到公司所要求的職能標準，當超過基準值到達一定程度時(通常設定為0.5)則可視為您在這個領域具備優勢。下面報表將選出超過要求基準值且排名前30%的職能項目為代表。若沒有達到基準值的要求，則選擇平均值為前3名的職能項目為代表。</p> 
<p>當某一項職能的360度評鑑分數低於公司所設定的基準值時，這意味著您距離公司的要求還存有差距，當出現的差異過大時，建議您調整或改變既有行為或進行潛能開發。下面的報表將選出低於要求基準值且排名後30%的職能項目為代表。若沒有低於基準值的要求，則選擇平均值為後3名的職能項目為代表。</p> 
</div>


<!-- 平均結果 -->
<p style="page-break-after:always"></p>
<h2><img src='templates/{TPL_STYLE}/images/arrow.png'>平均結果 Result: </h2>
<div class="content">下列表格顯示您目前在每一項職能的表現的優異程度。此分數是所有評量您的分數(不包含您自己)的平均結果。</div>

<div  class="report">
	<div style="width:70%">
		<table >	
			<tr>
				<td colspan="2" class="bar"></td>
			</tr>
			<tr>
				<th>評量職能</th>
				<th>平均值</th>
			</tr>
			<!-- BEGIN RESULT -->
			<tr>
				<td>{RESULT.competency_title}</td>
				<td>{RESULT.competency_avg}</td>
			</tr>
			<!-- END RESULT -->
		</table>
	</div>
	
	
	<div class="content">
	<p>此平均分數是根據以下的給分標準所得：</p>
	<p>
	1 - 有認知大多未做到<br>
	2 - 有認知少部份能做到<br>
	3 - 有認知部份能做到<br>
	4 - 有認知一般都能做到<br>
	5 - 大部份能做到<br>
	6 - 能做到且表現優秀<br>
	7 - 能做到且表現卓越</p>
	</div>

</div>



<p style="page-break-after:always"></p>
<h2><img src='templates/{TPL_STYLE}/images/arrow.png'>優勢職能 Personal Strengths: </h2>
<div class="content">此部分將個人得分結果之平均值與標準要求之基準值做比較，選擇超過要求基準值的職能中，排名前百分之三十的職能為代表。若沒有職能達到基準值的要求，則選擇其平均值為前三名的職能為代表。</div>
<div  class="report">
	<div style="width:40%;float:left">
		<table >
			<tr>
				<td colspan="3" class="bar"></td>
			</tr>
			<tr>
				<th>評量職能</th>
				<th>平均值</th>
				<th>基準值</th>
			</tr>
			<!-- BEGIN STRENGTHS -->
			<tr>
				<td>{STRENGTHS.competency_title}</td>
				<td>{STRENGTHS.competency_avg}</td>
				<td>{STRENGTHS.competency_level}</td>
			</tr>
			<!-- END STRENGTHS -->
		</table>
	</div>
	

	
	<div style="width:45%;float:left;margin-left:10px">
		<img src="{strengths_img_url}" />
	</div>	

</div>
<div style="clear:both"></div>

<p style="page-break-after:always"></p>
<h2><img src='templates/{TPL_STYLE}/images/arrow.png'>發展需求 Developmental Needs: </h2>
<div class="content">此部份將個人得分之平均值與標準要求之基準值做比較。選擇低於要求基準值的職能中，排名後百分之三十的職能為代表。若沒有職能達到基準值的要求，則選擇其平均值為後三名的職能為代表。</div>
<div  class="report">
	<div style="width:40%;float:left">
		<table >
			<tr>
				<td colspan="3" class="bar"></td>
			</tr>
			<tr>
				<th>評量職能</th>
				<th>平均值</th>
				<th>基準值</th>
			</tr>
			<!-- BEGIN NEEDS -->
			<tr>
				<td>{NEEDS.competency_title}</td>
				<td>{NEEDS.competency_avg}</td>
				<td>{NEEDS.competency_level}</td>
			</tr>
			<!-- END NEEDS -->
			
		</table>
	</div>
	
	<div style="width:45%;float:left;margin-left:10px">
		<img src="{develop_img_url}" />
	</div>
</div>
<div style="clear:both"></div>



</body>




</html>