




<!-- 說明 -->
<div class="content">

<p>說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說明文字說</p>
</div>

<div style="clear:both"></div>
<div  class="report">
	<div >
		<table >
			<tr>
				<td colspan="9" class="bar"></td>
			</tr>
			
			<tr class="maintitle">
				<td>區間({BLOCKMSG6})</td>
				<td>區間({BLOCKMSG5})</td>
				<td>區間({BLOCKMSG4})</td>
				<td>區間({BLOCKMSG3})</td>
				<td>區間({BLOCKMSG2})</td>
				<td>區間({BLOCKMSG1})</td>
			</tr>
			<tr>				
				<td>{BLOCK6}</td>
				<td>{BLOCK5}</td>
				<td>{BLOCK4}</td>
				<td>{BLOCK3}</td>
				<td>{BLOCK2}</td>
				<td>{BLOCK1}</td>
			</tr>		
			
		</table>
	</div>
	


</div>
<div style="clear:both"></div>


</body>
</html>