<!DOCTYPE html>
<html>
<head>
<meta charset="utf8">
<title>個人掃描 / Individual Profile Match</title>
</head>
<link rel="stylesheet" type="text/css" href="templates/{TPL_STYLE}/css/style.css" />

<script src="http://localhost/common/plugins/chart/Chart.min.js"></script>
<script src="http://localhost/common/plugins/chart/src/Chart.HorizontalBar.js"></script>

<body>

<h1>個人掃描 / Individual Profile Match</h1>
<hr>

<div  class="titlebar">
<table>
	<tr >
		<td style="width:32px">
			<img src='templates/{TPL_STYLE}/images/icon_suvey.png'>
		</td>
		
		<th >	
			<img src='templates/{TPL_STYLE}/images/arrow_small.png'>
			問卷編號:
		</th>		
		<td >	
			{basis_evaluation_appraisee_id}
		</td>
		
		<th ></th>
		<td></td>		
		
		<th >
			<img src='templates/{TPL_STYLE}/images/arrow_small.png'>
			問卷名稱:
		</th>
		<td colspan="3" style="width:37.5%">
			{basis_evaluation_table_title}
		</td>
		
		
	</tr>
</table>

<table>
	<tr >
		<td rowspan="2" style="width:32px">
			<img src='templates/{TPL_STYLE}/images/icon_robot.png'>
		</td>
		
		<th >	
			<img src='templates/{TPL_STYLE}/images/arrow_small.png'>
			帳號:
		</th>
		<td>
			{user_account}	
		</td>
		
		<th >
			<img src='templates/{TPL_STYLE}/images/arrow_small.png'>
			姓名:
		</th>
		<td>
			{fullName}
		</td>
	
		<th >
			<img src='templates/{TPL_STYLE}/images/arrow_small.png'>
			 公司:
		</th>
		<td>
			xxx
		</td>
	
		<th ></th>
		<td></td>		
	</tr>
	<tr >
			<th >
			<img src='templates/{TPL_STYLE}/images/arrow_small.png'>
			職系:
		</th>
		<td>
			{job_family_title}
		</td>		
			<th >
			<img src='templates/{TPL_STYLE}/images/arrow_small.png'>
			部門名稱:
		</th>
		<td>
			{department_title}
		</td>
		<th >
			<img src='templates/{TPL_STYLE}/images/arrow_small.png'>
			 職別:
		</th>
		<td>
			{job_type_title}
		</td>
			<th >
			<img src='templates/{TPL_STYLE}/images/arrow_small.png'>
			 職稱:
		</th>
		<td>
			{job_title}
		</td>
	</tr>	
</table>
</div>




<!-- 說明 -->
<div class="content">

<p>下列報表顯示您在每一項職能項目的反饋情況。 </p> 
 
<p>報表用長條圖的形式提供了本次360度評鑑的所有職能項目的各個維度的反饋情況，不僅包括了各個職能項目的得分情況，同時也包含了每個職能項目下具體行為的得分情況。每張圖表會先顯示每個職能項目的基準值、平均值以及各評鑑維度的得分情況，接下來則是分別隸屬於每個職能項目下的具體關鍵行為的得分情況。 </p> 
  
  <div style="float:left;width:50%;margin:10px">
	 	<b>評鑑關係人數:</b><br>
		 自己: 1<br>
		 直屬主管: 3<br>
		 同事: 3<br>
		 部屬: 3 	<br>
 	</div>
 	
 	<div  style="float:left">
	 	<b>分數評給標準:</b><br>
		1 - 有認知大多未做到<br>
		2 - 有認知少部份能做到<br>
		3 - 有認知部份能做到<br>
		4 - 有認知一般都能做到<br>
		5 - 大部份能做到<br>
		6 - 能做到且表現優秀<br>
		7 - 能做到且表現卓越 	<br>
 	</div>
 	<div  style="clear:both"></div>
  </div>

 	

 



<!-- 平均結果 -->
<h2><img src='templates/{TPL_STYLE}/images/arrow.png'>平均結果 Result: </h2>
<div class="content">下列表格顯示您目前在每一項職能的表現的優異程度。此分數是所有評量您的分數(不包含您自己)的平均結果。</div>

<div  class="report">
	<div style="width:70%">
		<table >	
			<tr>
				<td colspan="2" class="bar"></td>
			</tr>
			<tr>
				<th>評量職能</th>
				<th>平均值</th>
			</tr>
			<!-- BEGIN RESULT -->
			<tr>
				<td>{RESULT.competency_title}</td>
				<td>{RESULT.competency_avg}</td>
			</tr>
			<!-- END RESULT -->
		</table>
	</div>
	
	
	<div class="content">
	<p>此平均分數是根據以下的給分標準所得：</p>
	<p>
	1 - 有認知大多未做到<br>
	2 - 有認知少部份能做到<br>
	3 - 有認知部份能做到<br>
	4 - 有認知一般都能做到<br>
	5 - 大部份能做到<br>
	6 - 能做到且表現優秀<br>
	7 - 能做到且表現卓越</p>
	</div>

</div>




<h2><img src='templates/{TPL_STYLE}/images/arrow.png'>優勢職能 Personal Strengths: </h2>
<div class="content">此部分將個人得分結果之平均值與標準要求之基準值做比較，選擇超過要求基準值的職能中，排名前百分之三十的職能為代表。若沒有職能達到基準值的要求，則選擇其平均值為前三名的職能為代表。</div>
<div  class="report">
	<div style="width:60%;float:left">
		<table >
			<tr>
				<td colspan="3" class="bar"></td>
			</tr>
			<tr>
				<th>評量職能</th>
				<th>平均值</th>
				<th>基準值</th>
			</tr>
			<!-- BEGIN STRENGTHS -->
			<tr>
				<td>{STRENGTHS.competency_title}</td>
				<td>{STRENGTHS.competency_avg}</td>
				<td>{STRENGTHS.competency_level}</td>
			</tr>
			<!-- END STRENGTHS -->
		</table>
	</div>
	
	<div style="width:35%;float:left;margin-left:10px">
		<canvas id="canvas_strengths" ></canvas>
	</div>

</div>
<div style="clear:both"></div>


<h2><img src='templates/{TPL_STYLE}/images/arrow.png'>發展需求 Developmental Needs: </h2>
<div class="content">此部份將個人得分之平均值與標準要求之基準值做比較。選擇低於要求基準值的職能中，排名後百分之三十的職能為代表。若沒有職能達到基準值的要求，則選擇其平均值為後三名的職能為代表。</div>
<div  class="report">
	<div style="width:60%;float:left">
		<table >
			<tr>
				<td colspan="3" class="bar"></td>
			</tr>
			<tr>
				<th>評量職能</th>
				<th>平均值</th>
				<th>基準值</th>
			</tr>
			<!-- BEGIN NEEDS -->
			<tr>
				<td>{NEEDS.competency_title}</td>
				<td>{NEEDS.competency_avg}</td>
				<td>{NEEDS.competency_level}</td>
			</tr>
			<!-- END NEEDS -->
			
		</table>
	</div>
	
	<div style="width:35%;float:left;margin-left:10px">
		<canvas id="canvas_needs" ></canvas>
	</div>

</div>
<div style="clear:both"></div>



</body>


<script>
  


	window.onload = function(){
		<!-- BEGIN CANVAS_LIST -->
		show_canvas("{CANVAS_LIST.canvas_title}", {labels : [{CANVAS_LIST.competency_title}],datasets : [{fillColor : "rgba(151,187,205,1)",data : [{CANVAS_LIST.competency_avg}]}]	})
		<!-- END CANVAS_LIST -->
	};
	
	function show_canvas(canvas_id, canvas_chardata)
	{
		var canvas_strengths = document.getElementById(canvas_id).getContext("2d");
    	new Chart(canvas_strengths).HorizontalBar(canvas_chardata, {responsive: true,barShowStroke: false,bezierCurve : false,onAnimationComplete: done});
		
	}
	
	function done() {	  
		//var url=document.getElementById("canvas").toDataURL();
		//document.getElementById("canvasImg").src=url;	  		
	}

</script>


</html>