.labMenu {
	position: absolute;
	width: 180px;
	height: 559px;
	left: 0px;
	top: 0px;
	background-color: #CCCCCC;
}

.labDiv {
	position: absolute;
	width: 816px;
	height: 559px;
	left: 181px;
	top: 0px;
	display: none;
}

.labsubDiv {
	position: absolute;
	width: 816px;
	height: 559px;
	left: 181px;
	top: 0px;
	display: none;
}

.lable {
	width: 150px;
	height: 25px;
	margin-left: 13px;
	margin-top: 30px;
	text-align: center;
	background-color: #F0F0F0;
	line-height: 24px;
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
}

.uc1 {
	position: absolute;
	width: 816px;
	height: 500px;
	left: 0px;
	top: 0px;
	overflow: auto;
}

.uc2 {
	position: absolute;
	border-top: #D3D3D3 1px solid;
	width: 816px;
	height: 30px;
	left: 0px;
	top: 510px;
	text-align: right;
}

.uc3 {
	position: absolute;
	width: 615px;
	height: 30px;
	left: 0px;
	top: 515px;
}

.dc1 {
	position: absolute;
	width: 800px;
	height: 500px;
	left: 0px;
	top: 0px;
	overflow: auto;
}

.dc2 {
	position: absolute;
	width: 795px;
	height: 30px;
	left: 0px;
	top: 515px;
	padding-right: 5px;
	text-align: right;
}

.ec1 {
	position: absolute;
	width: 800px;
	height: 510px;
	left: 0px;
	top: 0px;
	overflow: auto;
}

.ec2 {
	position: absolute;
	border-top: #D3D3D3 1px solid;
	width: 795px;
	height: 30px;
	left: 0px;
	top: 515px;
	padding-right: 5px;
	text-align: right;
}

.wc1 {
	position: absolute;
	width: 99%;
	height: 555px;
	left: 0px;
	top: 0px;
	overflow: auto;
}
<!-- 1000*600������ʽ-->
.SDMain {
	position: absolute;
	width: 100%;
	height: 320px;
	left: 0px;
	top: 0px;
	overflow: auto;
}

.SDButton {
	position: absolute;
	border-top: #D3D3D3 1px solid;
	width: 100%;
	height: 30px;
	left: 0px;
	top: 320px;
	text-align: right;
}
<!-- 1000*600������ʽ-->
<!-- -->
.nec1 {
	position: absolute;
	width: 990px;
	height: 510px;
	left: 0px;
	top: 0px;
	overflow: auto;
	border: #D3D3D3 1px solid;
}

.nec2 {
	position: absolute;
	border-top: #D3D3D3 1px solid;
	width: 990px;
	height: 30px;
	left: 0px;
	top: 515px;
	padding-right: 5px;
	text-align: right;
}
<!-- -->
.buttonDiv {
	position: absolute;
	border-top: #D3D3D3 1px solid;
	width: 99%;
	height: 35px;
	left: 0px;
	bottom: 10px;
	text-align: right;
}

.pingdingtop {
	margin-top: 20px;
}

.divTitle {
	display: inline-block;
}

.divLine {
	display: inline-block;
	width: 450px;
}

.divETile {
	width: 100px;
	text-align: right;
	display: inline-block;
}

.divContent {
	display: inline-block;
	vertical-align: top;
}

.divInline {
	padding-left: 10px;
	display: inline-block;
}

.divIsline {
	padding-left: 10px;
}

.divUnit {
	padding-left: 20px;
	padding-bottom: 5px;
}

.labButton {
	background: url("images/buttons/ui-bg_dots-small_80_d7ebf9_2x2.png")
		repeat scroll 50% 50% #D7EBF9;
	border: 1px solid #AED0EA;
	color: #2779AA;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	cursor: pointer;
}

.labButton:hover {
	border: 1px solid #74b2e2;
	background: #e4f1fb
		url(images/buttons/ui-bg_dots-small_100_e4f1fb_2x2.png) 50% 50% repeat;
	font-weight: bold;
	color: #0070a3;
}

.labButton:active {
	border: 1px solid #2694e8;
	background: #3baae3
		url(images/buttons/ui-bg_dots-small_50_3baae3_2x2.png) 50% 50% repeat;
	font-weight: bold;
	color: #ffffff;
}

.lockButton {
	background-color: #D3D3D3;
	border: 1px solid #D3D3D3;
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	cursor: pointer;
}

.unlockButton {
	background: url("images/buttons/ui-bg_dots-small_80_d7ebf9_2x2.png")
		repeat scroll 50% 50% #D7EBF9;
	border: 1px solid #AED0EA;
	color: #2779AA;
	font-weight: bold;
	margin-top: 5px;
	margin-left: 2px;
	margin-right: 2px;
	padding-left: 10px;
	padding-right: 10px;
	height: 30px;
	cursor: pointer;
}

.unlockButton:hover {
	border: 1px solid #74b2e2;
	background: #e4f1fb
		url(images/buttons/ui-bg_dots-small_100_e4f1fb_2x2.png) 50% 50% repeat;
	font-weight: bold;
	color: #0070a3;
}

.unlockButton:active {
	border: 1px solid #2694e8;
	background: #3baae3
		url(images/buttons/ui-bg_dots-small_50_3baae3_2x2.png) 50% 50% repeat;
	font-weight: bold;
	color: #ffffff;
}

.title{
	background:url(images/background/blue_dots_light.png) repeat;
	font-weight: bold;
	border: 1px solid #AED0EA;
	height:30px;
	line-height:30px;
	padding-left:20px;
}
.