.topm {
	BORDER-RIGHT: #626A69 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(topm.jpg); PADDING-BOTTOM: 0px; BORDER-LEFT: #BABDB6 1px solid; CURSOR: hand; COLOR: #E7E8E6; PADDING-TOP: 5px; HEIGHT: 32px; TEXT-ALIGN: center;font-weight:bold;
}
.topmon {
	BORDER-RIGHT: #626A69 1px solid; FONT-WEIGHT: bold; BACKGROUND: url(topmon.jpg); BORDER-LEFT: #BABDB6 1px solid;CURSOR: hand; COLOR: #E7E8E6; PADDING-TOP: 5px; HEIGHT: 32px; TEXT-ALIGN: center;font-weight:bold;
}
.topnow {
	BORDER-RIGHT: #626A69 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(topmnow.jpg); PADDING-BOTTOM: 0px; WIDTH: 80px; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 5px; HEIGHT: 32px; TEXT-ALIGN: center;font-weight:bold;
}
.topr {
	PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(topm.jpg); PADDING-BOTTOM: 0px;  WIDTH: 200px; font-weight:bold; BORDER-LEFT: #BABDB6 1px solid;CURSOR: hand; COLOR: #E7E8E6; PADDING-TOP: 5px; HEIGHT: 32px; TEXT-ALIGN: center;
}
.topr2 {
	BORDER-RIGHT: #626A69 1px solid; PADDING-RIGHT: 0px; PADDING-LEFT: 0px; BACKGROUND: url(topm.jpg); PADDING-BOTTOM: 0px;  WIDTH: 72px; font-weight:bold; CURSOR: hand; COLOR: #E7E8E6; PADDING-TOP: 5px; HEIGHT: 32px; TEXT-ALIGN: left;
}

A:link {
	COLOR: #666666; TEXT-DECORATION: none
}
A:visited {
	COLOR: #666666; TEXT-DECORATION: none
}
A:hover {
	COLOR: #c00905; TEXT-DECORATION: underline
}
A:active {
	COLOR: #666666; TEXT-DECORATION: none
}
BODY {
	FONT-SIZE: 12px; COLOR: #777777; LINE-HEIGHT: 22px; FONT-FAMILY: 宋体
}
TD {
	FONT-SIZE: 12px; COLOR: #777777; LINE-HEIGHT: 22px; FONT-FAMILY: 宋体
}
TH {
	FONT-SIZE: 12px; COLOR: #777777; LINE-HEIGHT: 22px; FONT-FAMILY: 宋体
}
BODY {
	MARGIN: 0px; BACKGROUND-COLOR: #f9f9f9
}
.txt {
	FONT-SIZE: 12px; COLOR: #515050; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
A.txt:link {
	COLOR: #515050; TEXT-DECORATION: none
}
A.txt:visited {
	COLOR: #515050; TEXT-DECORATION: none
}
A.txt:hover {
	COLOR: #c00905; TEXT-DECORATION: underline
}
A.txt:active {
	COLOR: #515050; TEXT-DECORATION: none
}
.js {
	FONT-SIZE: 12px; COLOR: #777; LINE-HEIGHT: 30px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.xw {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #454545; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.xw2 {
	FONT-SIZE: 12px; COLOR: #a2a2a2; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.xw3 {
	FONT-SIZE: 11px; COLOR: #c00905; LINE-HEIGHT: 24px; FONT-FAMILY: "Arial"; TEXT-DECORATION: none
}
.links {
	FONT-SIZE: 12px; WIDTH: 215px; COLOR: #969696; LINE-HEIGHT: 18px; FONT-FAMILY: "宋体"; TEXT-DECORATION: none
}
.bg_search {
	WIDTH: 140px
}
.bg_search INPUT {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; MARGIN-TOP: 2px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; HEIGHT: 14px
}
.left A {
	DISPLAY: block; PADDING-LEFT: 15px; FONT-WEIGHT: bold; FONT-SIZE: 13px; BACKGROUND: url(images/left_menubg01.jpg) no-repeat; WIDTH: 167px; COLOR: #666666; LINE-HEIGHT: 30px; HEIGHT: 30px; TEXT-DECORATION: none
}
.left A:link {
	FONT-WEIGHT: bold; COLOR: #d30800; TEXT-DECORATION: none
}
.left A:visited {
	FONT-WEIGHT: bold; COLOR: #d30800; TEXT-DECORATION: none
}
.left A:hover {
	FONT-WEIGHT: bold; BACKGROUND: url(images/left_menubg01.jpg) no-repeat; COLOR: #666666; HEIGHT: 30px; TEXT-DECORATION: none
}
.left A:active {
	FONT-WEIGHT: bold; COLOR: #666666; TEXT-DECORATION: none
}
.left1 A {
	DISPLAY: block; PADDING-LEFT: 15px; FONT-WEIGHT: 100; FONT-SIZE: 13px; BACKGROUND: url(images/left_menubg02.jpg) no-repeat; WIDTH: 167px; COLOR: #666666; LINE-HEIGHT: 30px; HEIGHT: 30px; TEXT-DECORATION: none
}
.left1 A:link {
	FONT-WEIGHT: 100; COLOR: #666666; TEXT-DECORATION: none
}
.left1 A:visited {
	FONT-WEIGHT: bold; COLOR: #666666; TEXT-DECORATION: none
}
.left1 A:hover {
	FONT-WEIGHT: bold; BACKGROUND: url(images/left_menubg01.jpg) no-repeat; COLOR: #d30800; HEIGHT: 30px; TEXT-DECORATION: none
}
.left1 A:active {
	FONT-WEIGHT: bold; COLOR: #666666; TEXT-DECORATION: none
}
.pro A:link {
	COLOR: #f3f3f3; TEXT-DECORATION: none
}
.pro A:visited {
	COLOR: #f3f3f3; TEXT-DECORATION: none
}
.pro A:hover {
	COLOR: #d30800; TEXT-DECORATION: none
}
.pro A:active {
	COLOR: #f3f3f3; TEXT-DECORATION: none
}
.proleft A:link {
	FONT-WEIGHT: bold; COLOR: #666666; TEXT-DECORATION: none
}
.proleft A:visited {
	FONT-WEIGHT: bold; COLOR: #666666; TEXT-DECORATION: none
}
.proleft A:hover {
	FONT-WEIGHT: bold; COLOR: #d30800; TEXT-DECORATION: none
}
.proleft A:active {
	FONT-WEIGHT: bold; COLOR: #666666; TEXT-DECORATION: none
}
.proleft2 A:link {
	FONT-WEIGHT: bold; COLOR: #d30800; TEXT-DECORATION: none
}
.proleft2 A:visited {
	FONT-WEIGHT: bold; COLOR: #d30800; TEXT-DECORATION: none
}
.proleft2 A:hover {
	FONT-WEIGHT: bold; COLOR: #d30800; TEXT-DECORATION: none
}
.proleft2 A:active {
	FONT-WEIGHT: bold; COLOR: #d30800; TEXT-DECORATION: none
}
.fontcentent1 {
	FONT-WEIGHT: bold; FONT-SIZE: 14px; COLOR: #d30800
}
.fontcentent2 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #d30800
}
.fontcentent3 {
	FONT-WEIGHT: bold; FONT-SIZE: 12px; COLOR: #fff
}
